/* -----------------------------------------------------------------------------
 *
 * Utility Classes: Visibility
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *
 * Hide from screen readers & browsers
 *
 * ----------------------------------------------------------------------------- */

.u-hidden {
	@mixin hidden;
}

/* -----------------------------------------------------------------------------
 *
 * Hide from browsers & show for screen readers
 *
 * ----------------------------------------------------------------------------- */

.screen-reader-text, /* Necessary for support WordPress support */
.u-visually-hidden {
	@mixin visually-hide;
}

/* -----------------------------------------------------------------------------
 *
 * Show for browsers & screen readers
 *
 * ----------------------------------------------------------------------------- */

.u-visually-shown {
	@mixin visually-show;
}
