
/* -----------------------------------------------------------------------------
 *
 * Hide from screenreaders & browsers
 *
 * ----------------------------------------------------------------------------- */

.u-hidden {
	@mixin hidden;
}

/* -----------------------------------------------------------------------------
 *
 * Hide from browsers & show for screenreaders
 *
 * ----------------------------------------------------------------------------- */

.screen-reader-text, /* Necessary for support WordPress support */
.u-visual-hide {
	@mixin visually-hide;
}

/* -----------------------------------------------------------------------------
 *
 * Show for browsers & screenreaders
 *
 * ----------------------------------------------------------------------------- */

.u-visual-show {
	@mixin visually-show;
}
