{# Page Template: Kitchen Sink Forms #}

{{ subheader }}

<div id="kitchen-sink-forms" class="l-wrapper">
	<div class="l-container s-sink t-sink">

		<form class="form">

			<h4>Text Fields</h4>
			<div class="g-row">
				<div class="g-col g-col--one-half">
					{# Form: Field Groups / Wrapper #}
					{# Form: Text Field + Helper Text #}
					<div class="form-field-group">
						<label class="form-control-label" for="textField1">Label</label>
						<input id="textField1" class="form-control" name="textField1" aria-describedby="textField1Helper" type="text" placeholder="Placeholder" />
						<p id="textField1Helper" class="form-control-helper">Helper text</p>
					</div>
					{# Form: Control Icon #}
					<div class="form-field-group">
						<label class="form-control-label" for="textField4">Control Icon</label>
						<div class="form-control-icon icon icon-phone">
							<input id="textField4" class="form-control" name="textField4" type="text" />
						</div>
					</div>
				</div>
				<div class="g-col g-col--one-half">
					{# Form: Required Field + Error Text #}
					<div class="form-field-group form-control-required">
						<label class="form-control-label" for="textField2">Required Field</label>
						<input id="textField2" class="form-control" name="textField2" aria-describedby="textField2Helper" type="text" />
						<p id="textField2Helper" class="form-control-helper">Error text</p>
					</div>
					{# Form: Disabled Field #}
					<div class="form-field-group">
						<label class="form-control-label" for="textField3">Disabled Field</label>
						<input id="textField3" class="form-control" name="textField3" type="text" disabled />
					</div>
				</div>
			</div>

			<h5>Password</h5>
			{# Form: Password #}
			<div class="form-field-group form-control-required">
				<label class="form-control-label" for="password">Password</label>
				<input id="password" class="form-control" name="password" type="password" />
			</div>

			<h5>File Input</h5>
			{# Form: File Input #}
			<div class="form-field-group">
				<label class="form-control-label" for="fileInput">Label</label>
				<input id="fileInput" name="fileInput" type="file" />
			</div>

			<h5>Textarea</h5>
			{# Form: Textarea #}
			<div class="form-field-group">
				<label class="form-control-label" for="textarea1">Label</label>
				<textarea id="textarea1" name="textarea1"></textarea>
			</div>

			<h4>Checkboxes & Radios</h4>
			{# Form: Control Group / Wrapper, radio & checkbox specific #}
			<div class="g-row">
				<div class="g-col g-col--one-half">
					{# Form: Default Checkboxes #}
					<fieldset>
						<legend>Default Legend & Checkboxes</legend>
						<div class="form-field-group form-control-group-radio-checkbox">
							<span class="form-control-checkbox">
								<input id="checkbox1" name="checkboxGroup" type="checkbox" value="checkbox1" checked="checked" />
								<label for="checkbox1">Checkbox One</label>
							</span>
							<span class="form-control-checkbox">
								<input id="checkbox2" name="checkboxGroup" type="checkbox" value="checkbox2" />
								<label for="checkbox2">Checkbox Two</label>
							</span>
							<span class="form-control-checkbox">
								<input id="checkbox3" name="checkboxGroup" type="checkbox" value="checkbox3" />
								<label for="checkbox3">Checkbox Three</label>
							</span>
						</div>
					</fieldset>
					{# Form: Custom Checkboxes #}
					<fieldset class="form-fieldset">
						<legend class="form-legend">Styled Legend & Custom Checkboxes</legend>
						<div class="form-field-group form-control-group-radio-checkbox">
							<span class="form-control-checkbox form-control-custom-style">
								<input id="checkbox4" name="checkboxGroup2" type="checkbox" value="checkbox4" checked="checked" />
								<label for="checkbox4">Checkbox One</label>
							</span>
							<span class="form-control-checkbox form-control-custom-style">
								<input id="checkbox5" name="checkboxGroup2" type="checkbox" value="checkbox5" />
								<label for="checkbox5">Checkbox Two</label>
							</span>
							<span class="form-control-checkbox form-control-custom-style">
								<input id="checkbox6" name="checkboxGroup2" type="checkbox" value="checkbox6" />
								<label for="checkbox6">Checkbox Three</label>
							</span>
						</div>
					</fieldset>
					{# Form: Horizontal Checkboxes #}
					<fieldset>
						<legend>Checkboxes Horizontal</legend>
						<div class="form-field-group form-control-group-radio-checkbox">
							<span class="form-control-checkbox form-control-custom-style">
								<input id="checkbox7" name="checkboxGroup3" type="checkbox" value="checkbox7" checked="checked" />
								<label for="checkbox7">Checkbox One</label>
							</span>
							<span class="form-control-checkbox form-control-custom-style">
								<input id="checkbox8" name="checkboxGroup3" type="checkbox" value="checkbox8" />
								<label for="checkbox8">Checkbox Two</label>
							</span>
							<span class="form-control-checkbox form-control-custom-style">
								<input id="checkbox9" name="checkboxGroup3" type="checkbox" value="checkbox9" />
								<label for="checkbox9">Checkbox Three</label>
							</span>
						</div>
					</fieldset>
				</div>
				<div class="g-col g-col--one-half">
					{# Form: Default Radios #}
					<fieldset>
						<legend>Default Legend & Radios</legend>
						<div class="form-field-group form-control-group-radio-checkbox">
							<span class="form-control-radio">
								<input id="radio1" name="radioGroup" type="radio" value="radio1" checked="checked" />
								<label for="radio1">Radio One</label>
							</span>
							<span class="form-control-radio">
								<input id="radio2" name="radioGroup" type="radio" value="radio2" />
								<label for="radio2">Radio Two</label>
							</span>
							<span class="form-control-radio">
								<input id="radio3" name="radioGroup" type="radio" value="radio3" />
								<label for="radio3">Radio Three</label>
							</span>
						</div>
					</fieldset>
					{# Form: Custom Radios #}
					<fieldset class="form-fieldset">
						<legend class="form-legend">Styled Legend & Custom Radios</legend>
						<div class="form-field-group form-control-group-radio-checkbox">
							<span class="form-control-radio form-control-custom-style">
								<input id="radio4" name="radioGroup2" type="radio" value="radio4" checked="checked" />
								<label for="radio4">Radio One</label>
							</span>
							<span class="form-control-radio form-control-custom-style">
								<input id="radio5" name="radioGroup2" type="radio" value="radio5" />
								<label for="radio5">Radio Two</label>
							</span>
							<span class="form-control-radio form-control-custom-style">
								<input id="radio6" name="radioGroup2" type="radio" value="radio6" />
								<label for="radio6">Radio Three</label>
							</span>
						</div>
					</fieldset>
					{# Form: Horizontal Radios #}
					<fieldset>
						<legend class="form-legend">Radios Horizontal</legend>
						<div class="form-field-group form-control-group-radio-checkbox">
							<span class="form-control-radio form-control-custom-style">
								<input id="radio7" name="radioGroup2" type="radio" value="radio7" checked="checked" />
								<label for="radio7">Radio One</label>
							</span>
							<span class="form-control-radio form-control-custom-style">
								<input id="radio8" name="radioGroup2" type="radio" value="radio8" />
								<label for="radio8">Radio Two</label>
							</span>
							<span class="form-control-radio form-control-custom-style">
								<input id="radio9" name="radioGroup2" type="radio" value="radio9" />
								<label for="radio9">Radio Three</label>
							</span>
						</div>
					</fieldset>
				</div>
			</div>

			<h4>Select Dropdown Fields</h4>
			{# Form: Default Select #}
			<div class="form-field-group">
				<label class="form-control-label" for="select">Default Select</label>
				<select id="select" name="select">
					<option value="" hidden="" disabled="disabled" selected="selected">Select an option</option>
					<option value="1">Option One</option>
					<option value="2">Option Two</option>
					<option value="3">Option Three</option>
				</select>
			</div>

			{# Form: Custom Select #}
			<div class="form-field-group">
				<label class="form-control-label" for="select2">Custom Select</label>
				<div class="form-control-select">
					<select id="select2" name="select2">
						<option value="" class="form-control-select-placeholder" hidden="" disabled="disabled" selected="selected">Select an option</option>
						<option value="1">Option One</option>
						<option value="2">Option Twp</option>
						<option value="3">Option Three</option>
					</select>
				</div>
			</div>

		</form>

	</div>

	{% if post.content %}
		<div class="l-container">
			{{ post.featured_image }}

			<div class="t-sink s-sink l-container__stagger-double">
				{{ post.content }}
			</div>
		</div>
	{% endif %}

	{{ do_action( 'the_panels' ) }}

</div>
