{# Panel: Hero #}

{{ image }}

<div class="l-container u-vertical-padding">
	<div class="g-row g-row--vertical-center {{ layout }}">
		<div class="s-sink t-sink {{ text_color }}">
			{{ content_block }}
		</div>
	</div>
</div>
