@import 'assets/css/src/theme/utilities/_all.pcss';
/* -----------------------------------------------------------------------------
 *
 * Component: Pagination
 *
 * ----------------------------------------------------------------------------- */

.c-pagination {

}

.c-pagination--loop {

}

.c-pagination__label-single {

}

.c-pagination__list {
	display: flex;
	flex-direction: row;

	.c-pagination__item {
		width: auto;
	}

	.c-pagination__link {

	}
}
