.components-docs-header {
	width: 100%;
	background: var(--color-sq1);
	margin-bottom: 20px;
	padding: 20px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1260px;
		margin: 0 auto;
		padding: 0 30px;
	}

	.components-docs-logo {
		width: 150px;
		line-height: 0;

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}
