/* -----------------------------------------------------------------------------
 *
 * Component: Site Header
 *
 * ----------------------------------------------------------------------------- */

.site-header {

}
