/* -----------------------------------------------------------------------------
 *
 * Component: Site Header
 *
 * ----------------------------------------------------------------------------- */

:root {
	--site-header-height: 76px;
}

/* -----------------------------------------------------------------------------
 * Site Header
 * ----------------------------------------------------------------------------- */

.c-site-header {
	position: relative;
	z-index: 1;
}

/* -----------------------------------------------------------------------------
 * Site Header: Container
 * ----------------------------------------------------------------------------- */

.c-site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--grid-gutter);
	width: 100%;
	height: var(--site-header-height);

	/* CASE: Mobile flyout active */
	.c-site-header--mobile-nav-active & {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background-color: var(--color-bgd);

		/* CASE: WP Admin Bar active */
		.admin-bar & {
			height: calc(100% - var(--spacer-wpadmin-mobile));
			top: var(--spacer-wpadmin-mobile);

			@media (--viewport-wpadmin) {
				height: calc(100% - var(--spacer-wpadmin-desktop));
				top: var(--spacer-wpadmin-desktop);
			}
		}
	}
}

/* -----------------------------------------------------------------------------
 * Site Header: Mobile Nav Container
 * ----------------------------------------------------------------------------- */

.c-site-header__nav-container {
	display: none;

	@media (--viewport-full) {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-end;
		gap: var(--spacer-30);
	}

	/* CASE: Mobile flyout active */
	.c-site-header--mobile-nav-active & {
		display: block;
	}
}

/* -----------------------------------------------------------------------------
 * Site Header: Logo
 * ----------------------------------------------------------------------------- */

.c-site-header__logo {
	display: flex;
	align-items: center;
	height: var(--site-header-height);
}

/* -----------------------------------------------------------------------------
 * Site Header: Logo Link
 * ----------------------------------------------------------------------------- */

.c-site-header__logo-link {
	display: block;
	width: 100%;
	max-width: 220px; /* Arbitrary value to prevent logo over-sizing */
}

/* -----------------------------------------------------------------------------
 * Site Header: Mobile Nav Flyout Toggle
 * ----------------------------------------------------------------------------- */

.c-site-header__flyout-toggle {
	position: absolute;
	top: 20px;
	right: var(--grid-gutter-small);
	width: 42px;
	height: 36px;
	margin-left: auto;
	padding: 0;
	font-size: 32px;
	line-height: 42px;
	border: 0;
	background: transparent;
	transition: var(--transition);

	@media (--viewport-medium) {
		right: var(--grid-gutter-medium);
	}

	@media (--viewport-full) {
		display: none;
	}

	&:focus,
	&:hover {
		color: var(--color-white);
		background-color: var(--color-link-hover);
	}
}

/* -----------------------------------------------------------------------------
 * Site Header: Mobile Nav Flyout Toggle Icon
 * ----------------------------------------------------------------------------- */

.c-site-header__flyout-toggle-icon {

	/* CASE: Mobile flyout active */
	.c-site-header--mobile-nav-active & {

		&:before {
			content: var(--icon-close);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Site Header: Desktop Search Flyout Toggle
 * ----------------------------------------------------------------------------- */

.c-site-header__search-toggle {
	@mixin a-btn-reset;

	display: none;
	width: 42px;
	height: 36px;
	font-size: 32px;
	line-height: 42px;

	@media (--viewport-full) {
		display: block;
	}
}
