/* -----------------------------------------------------------------------------
 *
 * Component: Section Nav
 *
 * ----------------------------------------------------------------------------- */

.b-section-nav {
	margin-top: var(--spacer-40);
	margin-bottom: var(--spacer-40);
}
