/* -----------------------------------------------------------------------------
 *
 * Component: Subheader Archive
 *
 * ----------------------------------------------------------------------------- */

.c-subheader-archive {
	.c-subheader--has-image & {
	    align-items: center;
		padding: var(--spacer-20) 0 var(--spacer-20) 0;
		min-height: 580px;
	}

	}
	.c-subheader__description {
		width: calc(75% - var(--grid-gutter));
	}
}

