/* -----------------------------------------------------------------------------
 *
 * Component: Block: Tabs
 *
 * ----------------------------------------------------------------------------- */

.b-tabs {}

/* -----------------------------------------------------------------------------
 * Tabs: Header
 * ----------------------------------------------------------------------------- */

.b-tabs__header {
	margin-bottom: var(--spacer-40);

	/* CASE: Vertical */
	.c-block--layout-vertical & {
		margin-bottom: var(--spacer-70);
	}
}
