/* -----------------------------------------------------------------------------
 *
 * Component: Block: Tabs
 *
 * ----------------------------------------------------------------------------- */

.b-tabs {
	background: var(--color-bgd-content);
	color: var(--color-text);
}

/* -----------------------------------------------------------------------------
 * Tabs: Header
 * ----------------------------------------------------------------------------- */

.b-tabs__header {
	margin-bottom: var(--spacer-40);
}
