/* -----------------------------------------------------------------------------
 *
 * Component: Block: Tabs
 *
 * ----------------------------------------------------------------------------- */

.b-tabs {}

/* -----------------------------------------------------------------------------
 * Tabs: Header
 * ----------------------------------------------------------------------------- */

.b-tabs__header {
	margin-bottom: var(--spacer-40);
}
