/* -----------------------------------------------------------------------------
 *
 * Globals: HTML & Body
 *
 * ----------------------------------------------------------------------------- */

html {
	background: var(--color-bgd);
}

body {
	background: var(--color-bgd-content);

	/* CASE: "sticky" footer */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* -----------------------------------------------------------------------------
 *
 * Globals: Font & Color
 *
 * ----------------------------------------------------------------------------- */

body,
form,
button,
input,
select,
textarea {
	font: var(--font-weight-regular) normal 100%/var(--line-height-base) var(--font-family-base);
	color: var(--color-text);
}

/* -----------------------------------------------------------------------------
 *
 * Globals: Text Selection
 *
 * ----------------------------------------------------------------------------- */

::selection {
	background: var(--color-primary);
	color: var(--color-white);
	text-shadow: none;
}
