{# Panel: Post Loop #}

<div class="s-content">
	<div class="g-row g-row--center g-row--col-4--min-full" {{ attrs }}>

		{% for post in posts %}
			<div class="s-sink t-sink g-col">
				{{ post }}
			</div>
		{% endfor %}

	</div>
</div>
