<aside class="social-share">

	<h6 class="social-share__title">{{ __( 'Share This' )|esc_html }}</h6>

	<ul class="social-share-networks" data-js="social-share-networks">
		{% for link in links %}
			<li class="social-share-networks__item">{{ link }}</li>
		{% endfor %}
	</ul>


</aside>
