{# Component: Card #}

<div class="{{ card_classes }}">

	{% if image %}
		<header class="{{ card_header_classes }}">
			{% include('components/image.twig') %}
		</header>
	{% endif %}

	<div class="{{ card_content_classes }}">

		{% if title %}
			{% include('components/title.twig') %}
		{% endif %}

		{% if description %}
			{% include('components/description.twig') %}
		{% endif %}

		{% if btn_url %}
			{% include('components/button.twig') %}
		{% endif %}

	</div>
</div>
