<aside class="no-results">

	<h3 class="no-results__title">{{ __( 'No Posts' )|esc_html }}</h3>
		
	<p class="no-results__content">{{ __( 'Sorry, but there are currently no posts to see at this time.' )|esc_html }}</p>

</aside>
