
// -------------------------------------------------------------------------
// Paragraph / List / Base Margins
// -------------------------------------------------------------------------

p {
	@extend %body-content;
	margin-bottom: $spacer;
}

ul,
ol,
dl {
	@extend %body-content;
	margin-top: $spacer;
	margin-bottom: $spacer;
}

// -------------------------------------------------------------------------
// HR
// -------------------------------------------------------------------------

hr {
	margin: $spacer-lg auto;
}

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

a {
	@extend %a;
}
