
// -------------------------------------------------------------------------
//
// Headings
//
// -------------------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: $spacer;
	margin-bottom: $spacer;
}

h1 { 
	@extend %h1;
}

h2 { 
	@extend %h2;
}

h3 { 
	@extend %h3;
}

h4 { 
	@extend %h4;
}

h5 { 
	@extend %h5;
}

h6 { 
	@extend %h6;
}
