
// -------------------------------------------------------------------------
//
// Lists
//
// -------------------------------------------------------------------------

ul,
ol {
	line-height: inherit;
	ol, ul {
		margin-top: $spacer;
		margin-bottom: $spacer;
	}
}

li {
	& ~ li {
		margin-top: $spacer-xs;
	}
}

ul, .list-bullet {
	@extend %list-bullet;
}

ol, .list-number {
	@extend %list-number;
}

dl {
	padding-left: 1.5em;
	padding-right: 0;
	@include mq($mq-medium) {
		padding-left: 3em;
		padding-right: 3em;
	}
}

dt {
	@extend %dt;
}

dd {
	@extend %dd;
}
