
// -------------------------------------------------------------------------
//
// Media
//
// -------------------------------------------------------------------------

img {
	@extend %media-reset;
	margin-top: $spacer;
	margin-bottom: $spacer;
	display: block;
}

// -------------------------------------------------------------------------
//
// Embeds
//
// -------------------------------------------------------------------------

//iframe,
//object,
//embed,
//video
.wp-embed {
	margin: $spacer auto;
}
