{% extends "base.twig" %}

{% block main %}

	{% block subhead %}
        {{ include( 'content/header/sub.twig' ) }}
    {% endblock %}

	{% block content %}
		<div class="l-container">
			<h2>{{ error_404_browser_title }}</h2>
			<p>{{ error_404_browser_content }}</p>
		</div>
	{% endblock %}

{% endblock %}

