{% block header %}
	{{ header }}
{% endblock %}

<a id="a11y-skip-link-content" tabindex="-1"></a>

<main>
	{% block main %}

		{% block subhead %}
			{{ subheader }}
		{% endblock %}

		{% block content %}
			<div class="l-container">
				{{ include( 'content/no-results.twig' ) }}
			</div>
		{% endblock %}

	{% endblock %}

</main>

{% block sidebar %}{% endblock %}

{% block footer %}
	{{ footer }}
{% endblock %}
