{% block header %}
	{{ include( 'header.twig' ) }}
{% endblock %}

<main id="maincontent" tabindex="-1">

	{% block main %}

		{% block subhead %}
			{{ include( 'content/header/sub.twig' ) }}
		{% endblock %}

		{% block content %}
			<div class="l-container">
				{{ include( 'content/no-results.twig' ) }}
			</div>
		{% endblock %}

	{% endblock %}

</main>

{% block sidebar %}{% endblock %}

{% block footer %}
	{{ include( 'footer.twig' ) }}
{% endblock %}
