{% block header %}
	{{ include( 'header.twig' ) }}
{% endblock %}

<main>

	{% block main %}

		{% block hero %}
			{{ include( 'content/hero/default.twig' ) }}
		{% endblock %}

		{% block content %}
			<div class="l-wrapper">
				{{ include( 'content/no-results.twig' ) }}
			</div>
		{% endblock %}

	{% endblock %}

</main>

{% block sidebar %}{% endblock %}

{% block footer %}
	{{ include( 'footer.twig' ) }}
{% endblock %}