{% extends "base.twig" %}

{% block main %}

	{% block subhead %}
		{{ include( 'content/header/sub.twig' ) }}
	{% endblock %}

	<div class="l-container">

		{% if posts|length > 0 %}

			{% for post in posts %}
				{{ include( 'content/loop/results.twig' ) }}
			{% endfor %}

			{% if pagination %}
				{{ pagination }}
			{% endif %}

		{% else %}

			{{ include( 'content/no-results.twig' ) }}

		{% endif %}

	</div>

{% endblock %}
