{% extends "base.twig" %}

{% block content %}
	<div class="l-wrapper">
		{% if posts|length > 0 %}
			{% for post in posts %}
				{{ include( 'content/search/search.twig') }}
			{% endfor %}
			{{ include( 'content/pagination/loop.twig') }}
		{% else %}
			{{ include( 'content/no-results.twig' ) }}
		{% endif %}
	</div>
{% endblock %}