{% extends "base.twig" %}

{% block content %}
	<div class="l-container">
		{% if search_details is not empty %}
			{{ include( 'content/search/search-result-count.twig' ) }}
		{% endif %}

		{% if posts|length > 0 %}
			{% for post in posts %}
				{{ include( 'content/search/search.twig') }}
			{% endfor %}
			{{ include( 'content/pagination/loop.twig') }}
		{% endif %}
	</div>
{% endblock %}
