{% extends "base.twig" %}

{% block main %}

	{% block content %}
		<div class="l-container">
			{{ include( 'content/single/post.twig') }}

			{{ include( 'content/pagination/single.twig') }}
		</div>
	{% endblock %}

{% endblock %}
