{% if pagination.max_num_pages > 1 %}

<nav class="pagination pagination--loop" aria-labelledby="pagination__label-loop">

	<h3 id="pagination__label-loop" class="a11y-visual-hide">{{ __( 'Posts Pagination' )|esc_html }}</h3>

    {% if pagination.wp_pagenavi %}
        {{ pagination.wp_pagenavi }}
    {% else %}
		<ol class="pagination__list">

            {% if pagination.next_posts_link %}
				<li class="pagination__item pagination__item--next">
                    {{ pagination.next_posts_link }}
				</li>
            {% endif %}

            {% if pagination.previous_posts_link %}
				<li class="pagination__item pagination__item--previous">
                    {{ pagination.previous_posts_link }}
				</li>
            {% endif %}

		</ol>
    {% endif %}

</nav>

{% endif %}