/* -----------------------------------------------------------------------------
 *
 * Component: Button
 *
 * ----------------------------------------------------------------------------- */

a[class*="c-btn"],
button[class*="c-btn"] {

	.t-content & {
		margin-top: var(--spacer-0);
	}
}
