/* -----------------------------------------------------------------------------
 *
 * Button: Outline
 *
 * ----------------------------------------------------------------------------- */

.c-btn-outline,
a.c-btn-outline {
	@mixin button-global;
	@mixin button-outline;
}

/* -------------------------------------------------------------------------
 * Button: Modifier - Inverse
 * ------------------------------------------------------------------------- */

.c-btn--inverse,
a.c-btn--inverse {

	&.c-btn-outline {
		border-color: var(--color-white);
		color: var(--color-white);

		&:hover,
		&:focus {
			border-color: var(--color-link-hover);
			color: var(--color-link-hover);
		}

		&:active {
			background-color: var(--color-outer-space);
			border: 1px solid var(--color-off-white);
			color: var(--color-white);
		}

		&[disabled] {
			background-color: var(--color-outer-space);
			border: 1px solid var(--color-nevada);
			color: var(--color-nevada);
		}
	}
}
