/* -----------------------------------------------------------------------------
 *
 * Button: Solid
 *
 * Notes:
 * + Has background color
 * + On hover/focus animate background color
 *
 * Example:
 * <button class="c-btn">...</button>
 * <a href="#" class="c-btn">...</a>
 *
 * ----------------------------------------------------------------------------- */

.c-btn,
a.c-btn {
	@mixin button-global;
	@mixin button-base;
	@mixin button-solid;
}

/* -------------------------------------------------------------------------
 * Button: Modifier - Icon
 * ------------------------------------------------------------------------- */

.c-btn--icon,
a.c-btn--icon {

	&:after {
		display: inline-block;
		content: var(--icon-arrow-large-right);
		font-family: var(--font-family-core-icons);
		font-weight: var(--font-weight-light);
		margin-left: 7px;
		transform: translateY(2px);
		transition: var(--transition);
	}

	&:focus,
	&:hover {

		&:after {
			margin-left: 16px;
		}
	}
}

/* -------------------------------------------------------------------------
 * Button: Modifier - Full Width
 * ------------------------------------------------------------------------- */

.c-btn--full,
a.c-btn--full {
	width: 100%;
}
