/* -----------------------------------------------------------------------------
 *
 * Button: Solid
 *
 * Notes:
 * + Has background color
 * + On hover/focus animate background color
 *
 * Example:
 * <button class="c-btn">...</button>
 * <a href="#" class="c-btn">...</a>
 *
 * ----------------------------------------------------------------------------- */

.c-btn,
a.c-btn {
	@mixin button-global;
	@mixin button-solid;
}

/* -------------------------------------------------------------------------
 * Button: Modifier - Icon
 * ------------------------------------------------------------------------- */

.c-btn--icon,
a.c-btn--icon {

	&:after {
		display: inline-block;
		content: var(--icon-arrow-large-right);
		font-family: var(--font-family-core-icons);
		font-weight: var(--font-weight-light);
		margin-left: 16px;
		transform: translateY(2px);
	}
}

/* -------------------------------------------------------------------------
 * Button: Modifier - Inverse
 * ------------------------------------------------------------------------- */

.c-btn--inverse,
a.c-btn--inverse {

	&.c-btn {
		background-color: var(--color-white);
		color: var(--color-mine-shaft);

		&:hover,
		&:focus,
		&:active {
			background-color: var(--color-link-hover);
			color: var(--color-white);
		}

		&[disabled] {
			background-color: var(--color-outer-space);
			border: 1px solid var(--color-nevada);
			color: var(--color-nevada);
		}
	}
}

/* -------------------------------------------------------------------------
 * Button: Modifier - Full Width
 * ------------------------------------------------------------------------- */

.c-btn--full,
a.c-btn--full {
	width: 100%;
}
