<header class="site-header">

	<a
		href="#main-content"
		class="a11y-skip-link u-visually-hidden"
	>
		{{ __( 'Skip to main content' )|esc_html }}
	</a>

	<div class="l-container">

		{{ logo }}

		{{ navigation }}

		{{ search }}

	</div>

</header>
