WP_ROOT_FOLDER="../../wp"
WP_DOMAIN="square1.tribe"
WP_URL="http://square1.tribe"
WP_ADMIN_USERNAME="admin"
WP_ADMIN_PASSWORD="password"
DB_HOST="mysql.tribe"
DB_NAME="tribe_square1_tests"
DB_USER="root"
DB_PASSWORD="password"
DB_DSN="mysql:host=mysql.tribe;dbname=tribe_square1_tests"
TRIBE_NO_ASYNC=1