WP_ROOT_FOLDER="../../wp"
WP_DOMAIN="square1.tribe"
WP_URL="http://square1.tribe"
WP_ADMIN_PATH="/wp-admin"
WP_ADMIN_USERNAME="admin"
WP_ADMIN_PASSWORD="password"
DB_HOST="mysql.tribe"
DB_NAME="tribe_square1_tests"
DB_USER="root"
DB_PASSWORD="password"
ACCEPTANCE_DB_NAME=tribe_square1_acceptance
ACCEPTANCE_DB_HOST=mysql
ACCEPTANCE_DB_USER=root
ACCEPTANCE_DB_PASS=password
TABLE_PREFIX="tribe_"
TRIBE_NO_ASYNC=1
