WP_ROOT_FOLDER="/application/www/wp"

WP_DOMAIN="square1test.tribe"

WP_ADMIN_PATH="/wp-admin"
WP_ADMIN_USERNAME="admin"
WP_ADMIN_PASSWORD="password"

WP_URL="http://square1test.tribe"
TEST_DB_HOST="mysql"
TEST_DB_NAME="tribe_square1_tests"
TEST_DB_USER="root"
TEST_DB_PASSWORD="password"

ACCEPTANCE_WP_URL="http://square1test.tribe"
ACCEPTANCE_DB_NAME=tribe_square1_acceptance
ACCEPTANCE_DB_HOST=mysql
ACCEPTANCE_DB_USER=root
ACCEPTANCE_DB_PASS=password

CHROMEDRIVER_HOST=chrome
CHROMEDRIVER_PORT=4444

TABLE_PREFIX="tribe_"
TRIBE_NO_ASYNC=1
