/* -----------------------------------------------------------------------------
 *
 * Panels: Image Slider
 *
 * ----------------------------------------------------------------------------- */

.site-panel--imgslider {
	position: relative;

	&:before {
		background: var(--color-black-a-30);
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.swiper-container {
		height: 100vh;
	}
}
