/* -----------------------------------------------------------------------------
 *
 * Panels: Testimonial
 *
 * ----------------------------------------------------------------------------- */

.site-panel--testimonial {
	position: relative;

	&:before {
		background: var(--color-black-a-30);
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}

.site-panel--testimonial__inner {
	padding-bottom: 100px;
	padding-top: 100px;
}
