<header class="site-header">

	<div class="l-wrapper site-header__wrapper">

		<div class="site-header__logo">
			{{ logo }}
		</div>

		{{ include( 'content/navigation/header.twig' ) }}

	</div>

</header>
