{% if menu.secondary %}

	<nav class="site-footer__nav" aria-label="{{ lang[ 'Secondary Navigation' ]|esc_html }}">

		<ol class="site-footer__nav-list">
			{{ menu.secondary }}
		</ol>

	</nav>

{% endif %}
