{% if menu.primary %}

	<nav id="primary-nav" class="site-header__nav" aria-labelledby="site-header__nav-label" data-js="primary-nav">

		<h2 id="site-header__nav-label" class="u-visual-hide">{{ lang[ 'Primary Navigation' ]|esc_html }}</h2>

		<ol class="site-header__nav-list" data-js="primary-nav-menu">
			{{ menu.primary }}
		</ol>

	</nav>

    <button class="site-header__mobile-trigger" data-js="trigger-mobile">
        <i class="icon icon-menu"></i>
        <span class="u-visual-hide">Open Mobile Menu</span>
    </button>

{% endif %}