{% if menu.primary %}

	<nav class="site-header__nav" aria-labelledby="site-header__nav-label">

		<h2 id="site-header__nav-label" class="a11y-visual-hide">{{ __( 'Primary Navigation' )|esc_html }}</h2>

		<ol class="site-header__nav-list">
			{{ menu.primary }}
		</ol>

	</nav>

{% endif %}