{% if menu.primary %}

	<nav class="site-header__nav" aria-label="{{ lang[ 'Primary Navigation' ]|esc_html }}">

		<ol class="site-header__nav-list">
			{{ menu.primary }}
		</ol>

	</nav>

{% endif %}