
// -----------------------------------------------------------------------------
//
// Full Style Guide ("Kitchen Sink")
//
// This is for use on areas of content that need the "kitchen sink"
// of styles or the full style guide (ex. single post content)
//
// Here we lay out any additional complexity or styles required
// for the full "kitchen sink" for typography, media, and embeds.
//
// Doing things this way allows us to cut down on the need for overwriting
// ourselves across the site and only applying these styles where they are
// exactly needed because they have been targeted specifically or because
// we have wrapped our dynamic output (ex. single post content) in
// our .context-content wrapper class.
//
// USAGE:
//
// Super easy, wrap the output or content that needs the "kitchen sink"
// applied to it in a container and add our below helper class:
//
//   <div class="context-content"> { dynamic output } </div>
//
// NOTE:
//
// + See Base Style Guide: /style-guide/base/
// + See Full Style Guide: /style-guide/full/
//
// -----------------------------------------------------------------------------

.context-content,
%style-guide-global {

	@import "full/base";
	@import "full/headings";
	@import "full/lists";
	@import "full/quotes";
	@import "full/media";
	@import "full/embeds";
	@import "full/forms";
	@import "full/buttons";

	// -------------------------------------------------------------------------
	// Miscellaneous
	// -------------------------------------------------------------------------

	& > *:first-child {
		margin-top: 0;
		& > img {
			margin-top: 0;
		}
	}
	& > *:last-child {
		margin-bottom: 0;
		& > img {
			margin-bottom: 0;
		}
	}

}
