/*
 * Panel conditionals
 *
 * Do your conditional css display here
 *
 */

.condition-input-name-media_type-option_media_type_image {

	.input-name-video {
		display: none;
	}
}

.condition-input-name-media_type-option_media_type_video {

	.input-name-image {
		display: none;
	}
}
