/* -----------------------------------------------------------------------------
 *
 * Component: Section Nav
 *
 * ----------------------------------------------------------------------------- */

.b-section-nav {
	/** Dupes the width values from `l-sink`.
	 * This is b/c the section nav is both an block and sticky element.
	 */
	width: calc(100% - 2 * var(--grid-gutter-small));
	margin: var(--spacer-40) auto;

	@media (--viewport-medium) {
		width: calc(100% - 2 * var(--grid-gutter));
	}
}
