/* -----------------------------------------------------------------------------
 *
 * Panels: Content Carousel
 *
 * ----------------------------------------------------------------------------- */

.site-panel--contentcarousel {
	padding-bottom: 0;
}

.site-panel--contentcarousel__content {
    max-width: 848px;
    padding: 0;
    width: 100%;
}
