
/* -----------------------------------------------------------------------------
 * Panels Wrapper
 * ----------------------------------------------------------------------------- */

.panels-collection {

}

/* -----------------------------------------------------------------------------
 * Panel Wrapper
 * ----------------------------------------------------------------------------- */

.panel {

}

.panel-odd {

}

.panel-even {

}