/* -----------------------------------------------------------------------------
 *
 * Panels: WYSIWYG
 *
 * ----------------------------------------------------------------------------- */

.site-panel--wysiwyg {

	.g-col:not(:last-child) {
		margin-bottom: var(--spacer-4);
	}
}
