:root {
	/* -----------------------------------------------------------------------------
	 * Primary Palette
	 * ----------------------------------------------------------------------------- */

	/* Primary Palette */
	--color-java: #1ca8c7;
	--color-pickled-bluewood: #2b474f;
	--color-matisse: #1a7f9d;
	--color-gossamer: #078e87;
	--color-mandy: #e4554a;
	--color-casablanca: #f4af49;
	--color-saffron-mango: #f8ce4d;

	/* Global Color Vars */
	--color-primary: var(--color-java);
	--color-secondary: var(--color-pickled-bluewood);
	--color-hover: var(--color-matisse);

	/* -----------------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------------- */

	--color-white: #fff;
	--color-off-white: #fafbfd;

	/* -----------------------------------------------------------------------------
	 * Only Shades of Grey
	 * ----------------------------------------------------------------------------- */

	--color-mine-shaft: #222;
	--color-outer-space: #323738;
	--color-nevada: #606a6b;
	--color-submarine: #b9c2c3;
	--color-desert-storm: #f2f1f0;

	/* -----------------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------------- */

	--color-black: #000;
	--color-black-a-30: rgba(0, 0, 0, 0.3);
	--color-black-a-60: rgba(0, 0, 0, 0.6);

	/* -----------------------------------------------------------------------------
	 * Backgrounds
	 * ----------------------------------------------------------------------------- */

	--color-bgd: var(--color-white);
	--color-bgd-content: var(--color-white);
	--color-bgd-login: #f1f1f1;

	/* -----------------------------------------------------------------------------
	 * Links
	 * ----------------------------------------------------------------------------- */

	--color-link: var(--color-primary);
	--color-link-hover: var(--color-hover);

	/* -----------------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------------- */

	--color-text: var(--color-mine-shaft);

	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--color-border: var(--color-submarine);
	--color-table-border: #e0e1e4;
}
