{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "Chrome 60",
          "Firefox 54",
          "Safari 8",
          "ie 11",
          "Edge 14",
          "Android 4.4",
          "ios 9"
        ]
      },
      "useBuiltIns": "usage",
      "modules": false
    }]
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": [
              "Chrome 60",
              "Firefox 54",
              "Safari 8",
              "ie 11",
              "Edge 14",
              "Android 4.4",
              "ios 9"
            ]
          },
          "useBuiltIns": "usage",
          "modules": "commonjs"
        }]
      ],
      "plugins": ["istanbul"]
    }
  }
}