{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome 60",
            "Firefox 54",
            "Safari 8",
            "ie 11",
            "Edge 14",
            "Android 4.4",
            "ios 9"
          ]
        },
        "useBuiltIns": "entry",
        "modules": false,
        "corejs": "3.1"
      }
    ]
  ],
  "plugins": [
    "lodash",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "apps": "./wp-content/themes/core/assets/js/src/apps",
        "config": "./wp-content/themes/core/assets/js/src/theme/config",
        "common": "./wp-content/themes/core/assets/js/src/apps/common",
        "constants": "./wp-content/themes/core/assets/js/src/apps/constants",
        "Example": "./wp-content/themes/core/assets/js/src/apps/Example",
        "pcss": "./wp-content/themes/core/assets/css/src/theme",
        "utils": "./wp-content/themes/core/assets/js/src/utils"
      }
    }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "Chrome 60",
                "Firefox 54",
                "Safari 8",
                "ie 11",
                "Edge 14",
                "Android 4.4",
                "ios 9"
              ]
            },
            "useBuiltIns": "entry",
            "modules": "commonjs",
            "corejs": "3.1"
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
