root = true

# Indentation override for all JS under lib directory
[wp-content/themes/core/js/src/**/*.js]
indent_style = tab
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
spaces_within_imports = true

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# Indentation override for all CSS under pcss directory
[wp-content/themes/core/pcss/**/**/*.pcss]
indent_style = tab
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
