{
  "extends": [
    "products/react",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "shallow": false,
    "mount": false,
    "render": false,
    "jsdom": false,
    "jquery": true,
    "$": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "wpcalypso/import-docblock": 0,
    "wpcalypso/jsx-classname-namespace": 0,
    "linebreak-style": 0,
    "no-console": 0,
    "max-len": 0,
    "import/no-unresolved": 0,
    "valid-jsdoc": 0,
    "no-useless-escape": 0,
    "camelcase": 0,
    "react/no-danger": 0,
    "react/jsx-no-undef": [2,
      {
        "allowGlobals": true
      }
    ]
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(html|json|properties)$"
    ],
    "import/resolver": {
      "webpack": {
        "config": "webpack/configs/base.js"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
