{
  "extends": "airbnb",
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "max-len": [
      "error",
      500,
      4
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": []
      }
    ]
  }
}
