[submodule "wp-content/plugins/core/vendor/moderntribe/tribe-libs"]
	path = wp-content/plugins/core/vendor/moderntribe/tribe-libs
	url = git@github.com:moderntribe/tribe-libs.git
[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "wp-content/plugins/panel-builder"]
	path = wp-content/plugins/panel-builder
	url = git@github.com:moderntribe/panel-builder.git
