includes:
	- phpstan-baseline.neon

parameters:
	level: 5
	checkAlwaysTrueStrictComparison: true
	# Unfortunately, DocBlocks can't be relied upon in WordPress.
	treatPhpDocTypesAsCertain: false
	paths:
		- wp-content/themes/core/
		- wp-content/plugins/core/
		- wp-content/mu-plugins/
	bootstrapFiles:
		- vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
		- .lefthook/prepare-commit-msg/prefix-with-jira-ticket.php
	stubFiles:
		- dev/stubs/wordpress-overrides.stub
	tmpDir: .phpstan-cache/
	ignoreErrors:
		- '#^Function yoast_get_primary_term_id not found\.$#'
		- '#^PHPDoc tag @throws with type \S+ is not subtype of Throwable#'
