<?xml version="1.0" encoding="UTF-8"?>
<files psalm-version="4.12.0@e42bc4a23f67acba28a23bb09c348e2ff38a1d87">
  <file src="wp-content/plugins/core/core.php">
    <UndefinedConstant occurrences="4">
      <code>ABSPATH</code>
      <code>ABSPATH</code>
      <code>ABSPATH</code>
      <code>ABSPATH</code>
    </UndefinedConstant>
  </file>
  <file src="wp-content/plugins/core/functions/panels.php">
    <InvalidArgument occurrences="1">
      <code>$options['data_autop']</code>
    </InvalidArgument>
    <NullArgument occurrences="2">
      <code>$options['data_name']</code>
      <code>$options['data_name']</code>
    </NullArgument>
    <UndefinedFunction occurrences="3">
      <code>is_panel_preview()</code>
      <code>is_panel_preview()</code>
      <code>is_panel_preview()</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Admin/Admin_Subscriber.php">
    <HookNotFound occurrences="1"/>
  </file>
  <file src="wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php">
    <HookNotFound occurrences="3"/>
  </file>
  <file src="wp-content/plugins/core/src/Blocks/Types/Base_Model.php">
    <UndefinedFunction occurrences="1">
      <code>get_field( $key )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Blocks/Types/Stats/Stats_Model.php">
    <UndefinedFunction occurrences="1">
      <code>get_field( Stats::STATS )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Cache/Cache_Subscriber.php">
    <HookNotFound occurrences="2"/>
  </file>
  <file src="wp-content/plugins/core/src/Integrations/Gravity_Forms/Form_Styles.php">
    <InvalidArgument occurrences="1">
      <code>false</code>
    </InvalidArgument>
  </file>
  <file src="wp-content/plugins/core/src/Integrations/Gravity_Forms/Gravity_Forms_Subscriber.php">
    <HookNotFound occurrences="10">
      <code>add_filter( 'gform_confirmation_anchor', '__return_false' )</code>
      <code>add_filter( 'gform_enable_legacy_markup', '__return_true' )</code>
      <code>add_filter( 'gform_tabindex', '__return_false' )</code>
      <code>add_filter( 'pre_option_rg_gforms_disable_css', '__return_true' )</code>
      <code>add_filter( 'pre_option_rg_gforms_enable_html5', '__return_true' )</code>
    </HookNotFound>
  </file>
  <file src="wp-content/plugins/core/src/Integrations/Yoast_SEO/Yoast_SEO_Subscriber.php">
    <HookNotFound occurrences="3">
      <code>add_filter( 'wpseo_json_ld_output', '__return_false' )</code>
    </HookNotFound>
  </file>
  <file src="wp-content/plugins/core/src/Object_Meta/Analytics_Settings.php">
    <ParamNameMismatch occurrences="2">
      <code>$key</code>
      <code>$post_id</code>
    </ParamNameMismatch>
    <UndefinedFunction occurrences="1">
      <code>get_field( $key, $post_id )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Query/Featured_Posts.php">
    <UndefinedFunction occurrences="1">
      <code>get_field( Post_Archive_Featured_Settings::FEATURED_POSTS, 'option' )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Templates/Components/Abstract_Controller.php">
    <UndefinedFunction occurrences="1">
      <code>tribe_project()</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Templates/Components/Deferred_Component.php">
    <OverriddenPropertyAccess occurrences="1">
      <code>$name</code>
    </OverriddenPropertyAccess>
    <UndefinedFunction occurrences="1">
      <code>tribe_template_part( $this-&gt;path(), $this-&gt;name(), $this-&gt;args() )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Templates/Components/Traits/Primary_Term.php">
    <InvalidReturnType occurrences="1">
      <code>?\WP_Term</code>
    </InvalidReturnType>
    <UndefinedFunction occurrences="1">
      <code>yoast_get_primary_term_id( $taxonomy, $post_id )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Theme/Media/Oembed_Filter.php">
    <UndefinedFunction occurrences="1">
      <code>tribe_template_part( 'components/video/video', null, $options )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/plugins/core/src/Theme/Theme_Subscriber.php">
    <HookNotFound occurrences="2"/>
  </file>
  <file src="wp-content/themes/core/blocks/logos/logos.php">
    <UndefinedGlobalVariable occurrences="1">
      <code>$args</code>
    </UndefinedGlobalVariable>
  </file>
  <file src="wp-content/themes/core/blocks/spacer/spacer.php">
    <UndefinedGlobalVariable occurrences="1">
      <code>$args</code>
    </UndefinedGlobalVariable>
  </file>
  <file src="wp-content/themes/core/components/accordion/Accordion_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
  </file>
  <file src="wp-content/themes/core/components/accordion/accordion.php">
    <UndefinedGlobalVariable occurrences="1">
      <code>$args</code>
    </UndefinedGlobalVariable>
  </file>
  <file src="wp-content/themes/core/components/blocks/accordion/Accordion_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/buttons/Buttons_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedConstant occurrences="2">
      <code>Buttons::BUTTON_CLASSES</code>
      <code>Buttons::BUTTON_CLASSES</code>
    </UndefinedConstant>
  </file>
  <file src="wp-content/themes/core/components/blocks/card_grid/Card_Grid_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="8"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/content_columns/Content_Columns_Block_Controller.php">
    <UndefinedFunction occurrences="7"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/content_loop/Content_Loop_Controller.php">
    <UndefinedFunction occurrences="10">
      <code>defer_template_part( 'components/image/image', null, $image_array )</code>
      <code>defer_template_part( 'components/link/link', null, $card_cta )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/themes/core/components/blocks/gallery_grid/Gallery_Grid_Controller.php">
    <UndefinedFunction occurrences="8"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/gallery_slider/Gallery_Slider_Controller.php">
    <UndefinedFunction occurrences="6">
      <code>defer_template_part( 'components/image/image', null, $image_args )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/themes/core/components/blocks/hero/Hero_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/icon_grid/Icon_Grid_Controller.php">
    <UndefinedFunction occurrences="8"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/interstitial/Interstitial_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="3"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/lead_form/Lead_Form_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/links/Links_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/logos/Logos_Block_Controller.php">
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/media_text/Media_Text_Block_Controller.php">
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/blocks/quote/Quote_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
  </file>
  <file src="wp-content/themes/core/components/blocks/spacer/Spacer_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
  </file>
  <file src="wp-content/themes/core/components/blocks/stats/Stats_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="6">
      <code>defer_template_part( 'components/text/text', null, $this-&gt;get_label_args( $item ) )</code>
      <code>defer_template_part( 'components/text/text', null, $this-&gt;get_value_args( $item ) )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/themes/core/components/blocks/tabs/Tabs_Block_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/comments/comment/Comment_Controller.php">
    <InvalidArgument occurrences="1">
      <code>get_comment_time( 'U' )</code>
    </InvalidArgument>
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
  </file>
  <file src="wp-content/themes/core/components/comments/trackback/Trackback_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
  </file>
  <file src="wp-content/themes/core/components/dialog/Dialog_Controller.php">
    <UndefinedFunction occurrences="2"/>
  </file>
  <file src="wp-content/themes/core/components/follow/Follow_Controller.php">
    <UndefinedFunction occurrences="1">
      <code>get_field( $social_site, 'option' )</code>
    </UndefinedFunction>
  </file>
  <file src="wp-content/themes/core/components/header/subheader/Subheader_Single_Controller.php">
    <InvalidNullableReturnType occurrences="2">
      <code>string</code>
      <code>string</code>
    </InvalidNullableReturnType>
    <NullableReturnStatement occurrences="2">
      <code>$this-&gt;tag_link</code>
      <code>$this-&gt;tag_name</code>
    </NullableReturnStatement>
  </file>
  <file src="wp-content/themes/core/components/image/image.php">
    <InvalidArgument occurrences="1">
      <code>$c-&gt;has_link()</code>
    </InvalidArgument>
  </file>
  <file src="wp-content/themes/core/components/pagination/comments/Comments_Pagination_Controller.php">
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/components/pagination/single/Single_Pagination_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
  </file>
  <file src="wp-content/themes/core/components/share/Share_Controller.php">
    <InvalidGlobal occurrences="1">
      <code>global $post;</code>
    </InvalidGlobal>
    <UndefinedFunction occurrences="1"/>
    <UndefinedPropertyFetch occurrences="1">
      <code>$obj-&gt;taxonomy</code>
    </UndefinedPropertyFetch>
  </file>
  <file src="wp-content/themes/core/components/tabs/Tabs_Controller.php">
    <LessSpecificImplementedReturnType occurrences="1">
      <code>array</code>
    </LessSpecificImplementedReturnType>
  </file>
  <file src="wp-content/themes/core/routes/index/Index_Controller.php">
    <UndefinedFunction occurrences="5">
      <code>get_field( 'description', 'option' )</code>
      <code>get_field( 'hero_image', 'option' )</code>
      <code>get_field( 'title', 'option' )</code>
      <code>get_field( Post_Archive_Featured_Settings::FEATURED_POSTS, 'option' )</code>
      <code>get_field( Post_Archive_Settings::HERO_IMAGE, $term-&gt;taxonomy.'_'.$term-&gt;term_id )</code>
    </UndefinedFunction>
    <UndefinedPropertyFetch occurrences="3">
      <code>$term-&gt;category_description</code>
      <code>$term-&gt;taxonomy</code>
      <code>$term-&gt;term_id</code>
    </UndefinedPropertyFetch>
  </file>
  <file src="wp-content/themes/core/routes/search/Search_Controller.php">
    <InvalidReturnStatement occurrences="1"/>
    <InvalidReturnType occurrences="1">
      <code>\Tribe\Project\Templates\Components\Deferred_Component[]</code>
    </InvalidReturnType>
    <UndefinedFunction occurrences="4"/>
  </file>
  <file src="wp-content/themes/core/routes/single/Single_Controller.php">
    <InvalidReturnStatement occurrences="1">
      <code>$terms</code>
    </InvalidReturnStatement>
    <InvalidReturnType occurrences="1">
      <code>array</code>
    </InvalidReturnType>
  </file>
  <file src="wp-content/themes/core/routes/single/single.php">
    <UndefinedGlobalVariable occurrences="2">
      <code>$post</code>
      <code>$post</code>
    </UndefinedGlobalVariable>
  </file>
  <file src="wp-content/themes/core/routes/unsupported_browser/unsupported_browser.php">
    <InvalidArgument occurrences="1">
      <code>$c-&gt;get_logo_url()</code>
    </InvalidArgument>
  </file>
</files>
