/* -----------------------------------------------------------------------------
 *
 * Component: Content Block
 *
 * ----------------------------------------------------------------------------- */

.c-content-block {
	max-width: var(--grid-width-staggered-double);

	/* CASE: Contents are centered */
	&.c-content-block--layout-center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	/* CASE: Contents are inline (floated) */
	&.c-content-block--layout-inline {
		@mixin clearfix;

		max-width: none;
	}
}

/* -----------------------------------------------------------------------------
 * Content Block: Lead-In
 * ----------------------------------------------------------------------------- */

.c-content-block__leadin {
	margin-bottom: var(--spacer-20);
}

/* -----------------------------------------------------------------------------
 * Content Block: Title
 * ----------------------------------------------------------------------------- */

.c-content-block__title {
	/* CASE: Contents are inline (floated) */
	.c-content-block--layout-inline & {
		@media (--viewport-medium) {
			float: left;
			clear: left;
			width: calc(50% - var(--grid-gutter-medium-half));
		}

		@media (--viewport-full) {
			width: calc(33.3333% - var(--grid-gutter-half));
		}
	}
}

/* -----------------------------------------------------------------------------
 * Content Block: Text
 * ----------------------------------------------------------------------------- */

.c-content-block__text {
	margin-top: var(--spacer-20);

	/* CASE: Contents are inline (floated) */
	.c-content-block--layout-inline & {
		@media (--viewport-medium) {
			float: right;
			width: calc(50% - var(--grid-gutter-medium-half));
			margin-top: 0;
		}

		@media (--viewport-full) {
			width: calc(66.6667% - var(--grid-gutter-half));
		}
	}
}

/* -----------------------------------------------------------------------------
 * Content Block: Call To Action
 * ----------------------------------------------------------------------------- */

.c-content-block__cta {
	margin-top: var(--spacer-40);

	/* CASE: Contents are inline (floated) */
	.c-content-block--layout-inline & {
		@media (--viewport-medium) {
			float: right;
			clear: right;
			width: calc(50% - var(--grid-gutter-medium-half));
		}

		@media (--viewport-full) {
			width: calc(66.6667% - var(--grid-gutter-half));
		}
	}
}
