/* -----------------------------------------------------------------------------
 *
 * Component: Gallery Grid
 *
 * This file is just a clearing-house, see the css directory
 * and edit the source files found there.
 *
 * ----------------------------------------------------------------------------- */

@import "css/dialog.pcss";
@import "css/gallery_grid.pcss";
