/* -----------------------------------------------------------------------------
 *
 * Component: Blocks
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Global: Block
 * ----------------------------------------------------------------------------- */

.c-block {
	max-width: var(--grid-max-width);
	padding-top: var(--spacer-60);
	padding-bottom: var(--spacer-60);

	@media (--viewport-medium) {
		padding-top: var(--spacer-70);
		padding-bottom: var(--spacer-70);
	}

	/* CASE: Block is full-bleed */
	&.c-block--full-bleed {
		max-width: none;
		width: 100%;
	}
}

/* -----------------------------------------------------------------------------
 * Global: Header / Content Block
 * ----------------------------------------------------------------------------- */

.c-block__content-block {

}

.c-block__header {

}

/* -----------------------------------------------------------------------------
 * Global: Lead In
 * ----------------------------------------------------------------------------- */

.c-block__leadin {

}

/* -----------------------------------------------------------------------------
 * Global: Title
 * ----------------------------------------------------------------------------- */

.c-block__title {

}

/* -----------------------------------------------------------------------------
 * Global: Description
 * ----------------------------------------------------------------------------- */

.c-block__description {

}

/* -----------------------------------------------------------------------------
 * Global: CTA
 * ----------------------------------------------------------------------------- */

.c-block__cta {

}

.c-block__cta-link {

}
