/* -----------------------------------------------------------------------------
 *
 * Component: Blocks
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Global: Block
 * ----------------------------------------------------------------------------- */

.c-block {
	margin-top: var(--spacer-60);
	margin-bottom: var(--spacer-60);

	@media (--viewport-medium) {
		margin-top: var(--spacer-80);
		margin-bottom: var(--spacer-80);
	}

	/* CASE: Block is full-bleed */
	&.c-block--full-bleed {
		max-width: none;
		width: 100%;
	}
}

/* -----------------------------------------------------------------------------
 * CASE: If a full-bleed block is followed by a non-component-block element,
 * the following element should have some additional vertical spacing.
 * ----------------------------------------------------------------------------- */
.c-block--full-bleed + *:not(.c-block) {
	margin-top: var(--spacer-60);

	@media (--viewport-medium) {
		margin-top: var(--spacer-80);
	}
}

/* -----------------------------------------------------------------------------
 * CASE: If a non-component-block element is followed by a full-bleed block,
 * the block should have some additional vertical spacing.
 * ----------------------------------------------------------------------------- */
*:not(.c-block) + .c-block--full-bleed {
	margin-top: var(--spacer-60);

	@media (--viewport-medium) {
		margin-top: var(--spacer-80);
	}
}

/* -----------------------------------------------------------------------------
 * CASE: Collapse spacing between any full-bleed or background-applied blocks.
 * ----------------------------------------------------------------------------- */
.c-block--full-bleed + .c-block--full-bleed,
.c-block--full-bleed + .c-block--vertical-padding,
.c-block--vertical-padding + .c-block--full-bleed,
.c-block--vertical-padding + .c-block--vertical-padding {
	margin-top: calc(-1 * var(--spacer-60));

	@media (--viewport-medium) {
		margin-top: calc(-1 * var(--spacer-80));
	}
}

/* -----------------------------------------------------------------------------
 * CASE: Block has vertical padding
 *
 * Provides vertical spacing in addition to any vertical margin
 * applied between blocks. Different from a full-bleed block in that a
 * full-bleed block generally has custom vertical padding.
 *
 * Useful when applying background colors to blocks, or "zebra-striping".
 * ----------------------------------------------------------------------------- */
.c-block--vertical-padding {
	padding-top: var(--spacer-60);
	padding-bottom: var(--spacer-60);

	@media (--viewport-medium) {
		padding-top: var(--spacer-80);
		padding-bottom: var(--spacer-80);
	}
}

/* -----------------------------------------------------------------------------
 * Global: Header / Content Block
 * ----------------------------------------------------------------------------- */

.c-block__content-block {

}

.c-block__header {

}

/* -----------------------------------------------------------------------------
 * Global: Lead In
 * ----------------------------------------------------------------------------- */

.c-block__leadin {

}

/* -----------------------------------------------------------------------------
 * Global: Title
 * ----------------------------------------------------------------------------- */

.c-block__title {

}

/* -----------------------------------------------------------------------------
 * Global: Description
 * ----------------------------------------------------------------------------- */

.c-block__description {

}

/* -----------------------------------------------------------------------------
 * Global: CTA
 * ----------------------------------------------------------------------------- */

.c-block__cta {

}

.c-block__cta-link {

}
