/* -----------------------------------------------------------------------------
 *
 * Component: Blocks / Blocks
 *
 * ----------------------------------------------------------------------------- */

.c-block {
	padding-top: var(--spacer-60);
	padding-bottom: var(--spacer-60);

	@media (--viewport-medium) {
		padding-top: var(--spacer-70);
		padding-bottom: var(--spacer-70);
	}
}
