/* -----------------------------------------------------------------------------
 *
 * Component: Social Share
 *
 * ----------------------------------------------------------------------------- */

.social-share {

}

.social-share__title {

}

.social-share-networks {

}

.social-share-networks__item {

}

.social-share-networks__anchor {

}
