/* -----------------------------------------------------------------------------
 *
 * Component: Social Share
 *
 * ----------------------------------------------------------------------------- */

.social-share {

}

.social-share__title {

}

.social-share-networks {
	@media (--viewport-medium) {
		display: flex;
		flex-flow: row nowrap;
	}
}

.social-share-networks__item {
	margin-left: var(--spacer-30);
}

.social-share-networks__anchor {
	font-size: 24px;
}
