/* -----------------------------------------------------------------------------
 *
 * Page: 404
 *
 * ----------------------------------------------------------------------------- */

.error404 {

}
