{% extends "/components/pages/base.twig" %}

{% block content %}
	<div class="l-container">

		{% if posts|length > 0 %}

			{% for post in posts %}
				{{ post }}
			{% endfor %}

			{% if pagination %}
				{{ pagination }}
			{% endif %}

		{% else %}

			{{ include( 'components/no-results.twig' ) }}

		{% endif %}

	</div>

{% endblock %}
