{{ subheader }}

<div class="l-container">

	{% if posts|length > 0 %}

		{% for post in posts %}
			{{ post }}
		{% endfor %}

		{{ pagination }}

	{% else %}

		{{ include( 'components/no-results.twig' ) }}

	{% endif %}

</div>
