{# Page Template: Section #}

{% extends "base.twig" %}

{% block content %}

	<div class="l-wrapper t-content">
		<h1>Sections</h1>
		<p>This is the standard "Layer cake" architecture. This markup can be used for panels or for other
			sections outside of the panel plugin.</p>
	</div>

	<div class="site-section">
		<div class="site-section__inner l-wrapper">
			<header class="site-section__header t-content">
				<h2 class="site-section__title">Site Section 4 Column</h2>
				<div class="site-section__desc"><p>Site Section Description</p></div>
			</header>
			<div class="site-section__content t-content">
				<div class="site-grid">
					<div class="site-grid__wrapper">
						<div class="site-grid__col">
							<div class="c-default">Component</div>
						</div>
						<div class="site-grid__col">
							<div class="c-default">Component</div>
						</div>
						<div class="site-grid__col">
							<div class="c-default">Component</div>
						</div>
						<div class="site-grid__col">
							<div class="c-default">Component</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="site-section__footer">
				<a href="#" class="c-btn">CTA Button</a>
			</footer>
		</div>
	</div>

	<div class="site-section">
		<div class="site-section__inner l-wrapper">
			<header class="site-section__header t-content">
				<h2 class="site-section__title">Site Section 2 Column</h2>
				<div class="site-section__desc"><p>Site Section Description</p></div>
			</header>
			<div class="site-section__content t-content">
				<div class="site-grid">
					<div class="site-grid__wrapper">
						<div class="site-grid__col">
							<div class="c-default">Component</div>
						</div>
						<div class="site-grid__col">
							<div class="c-default">Component</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="site-section__footer">
				<a href="#" class="cta">CTA Link</a>
			</footer>
		</div>
	</div>

	<div class="site-section">
		<div class="site-section__inner l-wrapper">
			<header class="site-section__header t-content">
				<h2 class="site-section__title">Site Section Centered Component</h2>
				<div class="site-section__desc"><p>Site Section Description</p></div>
			</header>
			<div class="site-section__content t-content">
				<div class="site-grid">
					<div class="site-grid__wrapper site-grid--center">
						<div class="site-grid__col site-grid__col--one-third">
							<div class="c-default">Component</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="site-section__footer">
				<a href="#" class="c-btn">CTA Button</a>
			</footer>
		</div>
	</div>

	<div class="site-section">
		<header class="site-section__header t-content">
			<h2 class="site-section__title">Site Section Full Width</h2>
			<div class="site-section__desc"><p>Site Section Description</p></div>
		</header>
		<div class="site-section__content t-content">
			<div class="site-grid site-grid__no-gutters">
				<div class="site-grid__col">
					<div class="c-default">Component</div>
				</div>
				<div class="site-grid__col">
					<div class="c-default">Component</div>
				</div>
			</div>
		</div>
		<footer class="site-section__footer">
			<a href="#" class="cta">CTA Link</a>
		</footer>
	</div>

{% endblock %}
