
/* -------------------------------------------------------------------------
 * Anchor: Defaults
 * ------------------------------------------------------------------------- */

a {
	transition: var(--transition);
	color: inherit;
	text-decoration: none;
	outline: 0;
	cursor: pointer;

	&:visited,
	&:hover {
		color: inherit;
	}

	&:active,
	&:focus {
		outline: 1px dotted;
		color: inherit;
	}
}

/* -------------------------------------------------------------------------
 * Anchor: Full
 * ------------------------------------------------------------------------- */

.anchor,
.t-content a {
	color: var(--color-link);
	text-decoration: underline;

	&:hover,
	&:focus {
		color: var(--color-link-hover);
	}
}

/* -------------------------------------------------------------------------
 * Anchor: CTA
 * ------------------------------------------------------------------------- */

a.cta,
span.cta,
.t-content a.cta {
	border-bottom: none;
	color: var(--color-link);
	display: inline-block;
	font-size: var(--font-size-content-s);
	font-weight: var(--font-weight-bold);
	letter-spacing: 0.04em;
	line-height: var(--line-height-base);
	text-decoration: none;
	text-transform: uppercase;

	&:after {
		content: var(--icon-arrow-right);
		font-family: var(--font-family-core-icons);
		font-weight: var(--font-weight-light);
		margin-left: 5px;
	}

	&:visited {
		color: var(--color-link);
	}

	&:focus,
	&:hover {
		color: var(--color-secondary);
	}

	@media (--viewport-medium) {
		font-size: var(--font-size-content);
	}
}

/* -------------------------------------------------------------------------
 * Anchor: Modifier - CTA Inverse
 * ------------------------------------------------------------------------- */

a.cta--inverse,
span.cta--inverse,
.t-content a.cta--inverse {
	color: var(--color-white);

	&:visited {
		color: var(--color-white);
	}

	&:focus,
	&:hover {
		color: var(--color-link-light-hover);
	}
}
