
/* -------------------------------------------------------------------------
 * Mark
 * ------------------------------------------------------------------------- */

mark {
	background: var(--color-primary);
	color: var(--color-white);
	padding-left: 3px;
	padding-right: 3px;
}
