/* -----------------------------------------------------------------------------
 *
 * Component: Tags List
 *
 * ----------------------------------------------------------------------------- */

.c-tags-list {

}

.c-tags-list__list_item {
	margin: 0 11px 11px 0;
}
