/* -----------------------------------------------------------------------------
 *
 * Component: Tags List
 *
 * ----------------------------------------------------------------------------- */

.c-tags-list {

}

/*
List Item
 */
.c-tags-list__list_item {
	margin: 0 var(--spacer-20) var(--spacer-20) 0;
}
