/* -----------------------------------------------------------------------------
 *
 * Component: Tags List
 *
 * ----------------------------------------------------------------------------- */

.c-tags-list {

}

.c-tags-list__list_item {
	margin-right: 11px;
}
