/* -----------------------------------------------------------------------------
 *
 * Component: Subheader
 *
 * ----------------------------------------------------------------------------- */

.c-subheader {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--color-grey-light);
	padding: var(--spacer-50) 0;
	margin-bottom: var(--spacer-80);

	@media (--viewport-medium) {
		padding: var(--spacer-80) 0;
	}
}

/* CASE: Page with featured image */
.c-subheader--has-image {
	@media (--viewport-medium) {
		align-items: flex-end;
	}

	.c-subheader__content {
		color: var(--color-white);
	}
}

/* -----------------------------------------------------------------------------
 * Subheader: Content
 * ----------------------------------------------------------------------------- */

.c-subheader__content {
	position: relative;
}

.c-subheader__title {
	margin-top: var(--spacer-20);
}

/* -----------------------------------------------------------------------------
 * Subheader: Image component
 * ----------------------------------------------------------------------------- */

.c-subheader__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
