/* -----------------------------------------------------------------------------
 *
 * Utility Classes: Color
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *
 * Foreground Colors
 *
 * ----------------------------------------------------------------------------- */

.u-fc-white {
	color: var(--color-white) !important;
}

.u-fc-black {
	color: var(--color-black) !important;
}

/* -----------------------------------------------------------------------------
 * Background Colors
 * ----------------------------------------------------------------------------- */

.u-bc-white {
	background-color: var(--color-white) !important;
}

.u-bc-black {
	background-color: var(--color-black) !important;
}
