/* -----------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * ----------------------------------------------------------------------------- */

:root {
	/* -----------------------------------------------------------------------------
	 * Primary: Blue
	 * ----------------------------------------------------------------------------- */

	--color-primary-10: rgba(217, 244, 255, 1);
	--color-primary-30: rgba(67, 176, 255, 1);
	--color-primary-50: rgba(3, 134, 255, 1);
	--color-primary-70: rgba(11, 95, 222, 1);

	/* -----------------------------------------------------------------------------
	 * Secondary: Green
	 * ----------------------------------------------------------------------------- */

	--color-secondary-50: rgba(36, 194, 118, 1);
	--color-secondary-70: rgba(30, 161, 98, 1);

	/* -----------------------------------------------------------------------------
	 * Neutral: Grey
	 * ----------------------------------------------------------------------------- */

	--color-neutral-0: rgba(255, 255, 255, 1);
	--color-neutral-20: rgba(200, 200, 200, 1);
	--color-neutral-30: rgba(169, 170, 170, 1);
	--color-neutral-50: rgba(105, 105, 105, 1);
	--color-neutral-70: rgba(64, 64, 64, 1);
	--color-neutral-90: rgba(21, 21, 21, 1);

	/* -----------------------------------------------------------------------------
	 * Primary
	 * ----------------------------------------------------------------------------- */

	--color-primary: var(--color-primary-50);
	--color-secondary: var(--color-secondary-50);

	/* -----------------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------------- */

	--color-white: var(--color-neutral-0);

	/* -----------------------------------------------------------------------------
	 * Greys
	 * ----------------------------------------------------------------------------- */

	--color-grey-light: var(--color-neutral-20);
	--color-grey: var(--color-neutral-50);
	--color-grey-dark: var(--color-neutral-70);

	/* -----------------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------------- */

	--color-black: var(--color-neutral-90);

	/* -----------------------------------------------------------------------------
	 * Backgrounds
	 * ----------------------------------------------------------------------------- */

	--color-bgd: var(--color-white);
	--color-bgd-content: var(--color-white);
	--color-bgd-login: var(--color-grey-light);
	--color-bgd-selection: var(--color-primary);

	/* -----------------------------------------------------------------------------
	 * Links
	 * ----------------------------------------------------------------------------- */

	--color-link: var(--color-primary);
	--color-link-hover: var(--color-secondary);

	/* -----------------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------------- */

	--color-text: var(--color-black);
	--color-text-selection: var(--color-white);

	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--color-border: var(--color-grey-light);

	/* -----------------------------------------------------------------------------
	 * Media
	 * ----------------------------------------------------------------------------- */

	--wp-oembed-bgd: var(--color-grey);

	/* -----------------------------------------------------------------------------
	 * Alerts
	 * ----------------------------------------------------------------------------- */

	--color-alert-positive: rgba(13, 219, 145, 1);
	--color-alert-negative: rgba(255, 61, 91, 1);
	--color-alert-neutral: rgba(3, 134, 255, 1);

	/* -----------------------------------------------------------------------------
	 * Social
	 * ----------------------------------------------------------------------------- */

	--color-facebook: #3b5998;
	--color-linkedin: #0077b5;
	--color-outlook: #0072c6;
	--color-pinterest: #bd081c;
	--color-twitter: #0084b4;
}
