
/* -----------------------------------------------------------------------------
 * Media: Image Captions
 * ----------------------------------------------------------------------------- */

.wp-caption-text {

}
