/* -----------------------------------------------------------------------------
 * Media: Audio & Video
 * ----------------------------------------------------------------------------- */

.wp-video-shortcode.mejs-container,
.wp-audio-shortcode.mejs-container {
	margin-top: var(--spacer-s);
	margin-bottom: var(--spacer-s);

	@media (--viewport-medium) {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}

	.mejs-inner,
	.mejs-mediaelement,
	.mejs-controls {
		background: var(--audio-bg);
	}
}
