.wp-embed {
	-webkit-column-break-inside: avoid;
	break-inside: avoid-column;
	.context-content & {
		margin: var(--spacer-lg) auto;
	}
}

.wp-embed-wrap {
	position: relative;
	aspect-ratio: '16:9';
	iframe,
	object,
	embed {
		width: 100%;
		height: 100%;
	}
}
