
/* -----------------------------------------------------------------------------
 * Media: Images
 * ----------------------------------------------------------------------------- */

img {
	margin-left: auto;
	margin-right: auto;
	.t-typography & {
		line-height: 0;
		width: auto;
		height: auto;
		display: block;
	}
}

/* -----------------------------------------------------------------------------
 * Media: Wrapper
 * ----------------------------------------------------------------------------- */

.wp-image {
	width: auto !important;
	max-width: none;
	margin: 0 auto;
}

.wp-image--no-caption {

}

.wp-image--caption {

}

/* -----------------------------------------------------------------------------
 * Media: Image Captions
 * ----------------------------------------------------------------------------- */

.wp-caption-text {
	margin: var(--spacer-xs) 0 0;
	font-size: 14px;
	line-height: var(--line-height-s);
}

/* -----------------------------------------------------------------------------
 * Media: Alignments
 * ----------------------------------------------------------------------------- */

.aligncenter,
.alignnone {
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);
}

.alignleft,
.alignright {
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);

	@media (--viewport-medium) {
		margin-top: var(--spacer-xs);
		margin-bottom: var(--spacer-xs);
		max-width: 30%;
	}
}

.alignleft {
	@media (--viewport-medium) {
		float: left;
		margin-right: var(--spacer-lg);
	}
}

.alignright {
	@media (--viewport-medium) {
		float: right;
		margin-left: var(--spacer-lg);
	}
}
