/* -----------------------------------------------------------------------------
 * Media: Audio & Video
 * ----------------------------------------------------------------------------- */

.wp-video-shortcode.mejs-container,
.wp-audio-shortcode.mejs-container {
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);

	.mejs-controls {
		background: var(--wp-oembed-bg);
	}
}
