:root {
	--jquery-datepicker-bgd-color: var(--color-white);
	--jquery-datepicker-color: var(--color-text);
	--jquery-datepicker-color-disabled: var(--color-neutral-90);
	--jquery-datepicker-font-family: var(--form-font-family);
	--jquery-datepicker-font-size: var(--form-font-size-secondary);
	--jquery-datepicker-font-style: var(--form-control-font-style);
	--jquery-datepicker-line-height: var(--form-control-height);
}
