/* -----------------------------------------------------------------------------
 *
 * Section: Descriptions (This is the block of content after the panel title.)
 *
 * ----------------------------------------------------------------------------- */

.s-desc {
	margin: 0 auto;
	max-width: 800px;

	p:only-of-type {
		margin-bottom: 0;
	}
}
