/* -----------------------------------------------------------------------------
 *
 * Section: Header
 *
 * ----------------------------------------------------------------------------- */

.s-header {
	padding-bottom: var(--spacer-4);
	position: relative;
	text-align: center;
	z-index: 1;

	@media (--viewport-medium) {
		width: 66.66%;
		margin: 0 auto;
	}
}

.s-header--left {
	text-align: left;

	@media (--viewport-medium) {
		margin: 0;
	}
}

.s-header--no-padding {
	padding: 0;
}
