/* -----------------------------------------------------------------------------
 *
 * Section: Titles
 *
 * ----------------------------------------------------------------------------- */

.s-title {
	margin-bottom: 0;

	.t-content & {
		margin-top: 0;
	}
}
