/* -----------------------------------------------------------------------------
 *
 * Section: Titles
 *
 * ----------------------------------------------------------------------------- */

.site-section__title {
	margin-bottom: 20px;

	.t-content & {
		margin-top: 0;
	}
}
