
.item-single__content {
	margin-top: var(--spacer-60);
}

.item-single__featured-image {
	max-width: var(--grid-10-col);
	margin: 0 auto;
}

.item-single__featured-image-caption {
	width: var(--grid-8-col);
	margin: 10px auto;
	font-size: var(--font-size-body-xsmall);
	font-family: var(--font-family-sans-serif);
}
