:root {
	/* -----------------------------------------------------------------------------
	 * General
	 * ----------------------------------------------------------------------------- */

	--chosen-bgd-color: var(--form-control-bgd-color);
	--chosen-border-size: var(--form-border-size);
	--chosen-border-color: var(--form-border-color);
	--chosen-border-color-focus: var(--form-border-color-focus);
	--chosen-border-radius: var(--form-border-radius);
	--chosen-color: var(--form-color);
	--chosen-font-size: var(--form-font-size);
	--chosen-font-style: var(--form-control-font-style);
	--chosen-font-weight: var(--form-control-font-weight);
	--chosen-font-line-height: var(--chosen-height);
	--chosen-font-family: var(--form-font-family);
	--chosen-height: var(--form-control-height);
	--chosen-letter-spacing: var(--form-letter-spacing);
	--chosen-padding: var(--form-padding-horizontal);
	--chosen-text-transform: var(--form-text-transform);
	--chosen-option-chosen-margin-right: calc(var(--chosen-height) + var(--form-padding-horizontal));
	--chosen-placeholder-color: var(--form-placeholder-color);
	--chosen-placeholder-color-focus: var(--form-placeholder-color-focus);

	/* -----------------------------------------------------------------------------
	 * Search
	 * ----------------------------------------------------------------------------- */

	--chosen-search-padding: 0 var(--chosen-option-chosen-margin-right) 0 var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Drop
	 * ----------------------------------------------------------------------------- */

	--chosen-drop-bgd-color: var(--color-white);
	--chosen-drop-border-radius: 0 0 var(--form-border-radius) var(--form-border-radius);

	/* -----------------------------------------------------------------------------
	 * Results
	 * ----------------------------------------------------------------------------- */

	--chosen-results-bgd-color-highlighted: rgba(225, 225, 225, 0.5);

	/* -----------------------------------------------------------------------------
	 * Multiple
	 * ----------------------------------------------------------------------------- */

	--chosen-multiple-min-height: 44px;
	--chosen-multiple-choice-color: var(--color-white);
	--chosen-multiple-choice-close-width: 20px;
}
