
/* -----------------------------------------------------------------------------
 *
 * Foreground Colors
 *
 * ----------------------------------------------------------------------------- */

.u-fc-white {
	color: var(--color-white);
}

.u-fc-black {
	color: var(--color-black);
}

/* -----------------------------------------------------------------------------
 *
 * Background Colors
 *
 * ----------------------------------------------------------------------------- */

.u-bc-white {
	background-color: var(--color-white);
}

.u-bc-black {
	background-color: var(--color-black);
}
