
/* -----------------------------------------------------------------------------
 *
 * Foreground Colors
 *
 * ----------------------------------------------------------------------------- */

.u-fc-white {
	color: var(--color-white) !important;
}

.u-fc-black {
	color: var(--color-black) !important;
}
