
/* -----------------------------------------------------------------------------
 *
 * Child Separators
 *
 * Notes: Works as a parent helper class and will add a separator for the
 * direct children of the parent
 *
 * Example:
 * <ul class="s-pipe">
 *   <li>...</li>
 *   <li>...</li>
 * </ul>
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Child Separator: " | "
 * ----------------------------------------------------------------------------- */

.u-sep-pipe {
	& > * {
		&:after {
			content: '|';
			display: inline;
			padding: 0 3px;
		}

		&:last-of-type:after {
			content: none;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Child Separator: " / "
 * ----------------------------------------------------------------------------- */

.u-sep-slash {
	& > * {
		&:after {
			content: '/';
			padding: 0 7px;
		}

		&:last-of-type:after {
			content: none;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Child Separator: ", "
 * ----------------------------------------------------------------------------- */

.u-sep-comma {
	& > * {
		&:after {
			content: ',';
			display: inline;
			padding: 0;
		}

		&:last-of-type:after {
			content: none;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Child Separator: " - "
 * ----------------------------------------------------------------------------- */

.u-sep-dash {
	& > * {
		&:after {
			content: ' - ';
			display: inline;
			padding: 0;
		}

		&:last-of-type:after {
			content: none;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Child Separator: " · "
 * ----------------------------------------------------------------------------- */

.u-sep-dot {
	& > * {
		&:after {
			content: '';
			height: 5px;
			width: 5px;
			border-radius: 50%;
			background-color: var(--color-grey-dark);
			display: inline-block;
			position: relative;
			bottom: 3px;
			margin: 0 10px;
		}

		&:last-of-type:after {
			content: none;
		}
	}
}
