/* -----------------------------------------------------------------------------
 *
 * Spacers
 *
 * ----------------------------------------------------------------------------- */

.u-vertical-padding {
	padding-bottom: var(--spacer-6);
	padding-top: var(--spacer-6);
}
