
/* -----------------------------------------------------------------------------
 *
 * Text Align
 *
 * ----------------------------------------------------------------------------- */

.u-text-align-left {
	text-align: left !important;
}

.u-text-align-center {
	text-align: center !important;
}

.u-text-align-right {
	text-align: right !important;
}
