
/* -----------------------------------------------------------------------------
 *
 * Clearfix
 *
 * ----------------------------------------------------------------------------- */

.u-clearfix {
	@mixin clearfix;
}
