/* -----------------------------------------------------------------------------
 *
 * Component: Site Footer
 * ----------------------------------------------------------------------------- */

.site-footer {

}
