
.input {
  margin-bottom: $spacer;
  line-height: $line-height-even;
}

.label {
  display: block;
  margin-bottom: $spacer-xs;
}

.required {
  label {
    &:after {
      content: '*';
    }
  }
}

fieldset {

}

legend {

}