/* -----------------------------------------------------------------------------
 *
 * Panels: Default
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Panels Wrapper
 * ----------------------------------------------------------------------------- */

.panels-collection {

}

/* -----------------------------------------------------------------------------
 * Panel Wrapper
 * ----------------------------------------------------------------------------- */

.panel {

}
