/* -----------------------------------------------------------------------------
 *
 * Panels: Titles (Sections should be used here unless specific to the panel.)
 *
 * ----------------------------------------------------------------------------- */

.panel__title {

}
