/* -----------------------------------------------------------------------------
 *
 * Component: Block: Buttons
 *
 * ----------------------------------------------------------------------------- */

.b-buttons {
	margin-bottom: var(--spacer-30);
}

/* -----------------------------------------------------------------------------
 * A single button
 * ----------------------------------------------------------------------------- */

.b-buttons__button {
	display: inline-block;
	margin-bottom: var(--spacer-10);
	margin-right: var(--spacer-20);

	&:last-child {
		margin-right: 0;
	}
}
