
// -----------------------------------------------------------------------------
//
// Globals
//
// -----------------------------------------------------------------------------

html { 
	background: $bgd;
	//height: 100%;
}

body {
	background: $bgd-content;
}

body, 
form, 
button, 
input, 
select, 
textarea { 
	@include font($short: true);
	color: $text; 
}

::-moz-selection { 
	background: $primary; 
	color: $white; 
	text-shadow: none; 
}

::selection { 
	background: $primary; 
	color: $white; 
	text-shadow: none; 
}
