
// -----------------------------------------------------------------------------
//
// Global "Resets"
//
// -----------------------------------------------------------------------------

* { 
    box-sizing: border-box;
}

@-webkit-viewport { width : device-width; }
@-moz-viewport { width : device-width; }
@-ms-viewport { width : device-width; }
@-o-viewport { width : device-width; }
@viewport { width : device-width; }

// -----------------------------------------------------------------------------
//
// HTML5 Elements
//
// -----------------------------------------------------------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

// -----------------------------------------------------------------------------
//
// Normalize "Light"
//
// See normalize source code for clarity on rules
// https://github.com/necolas/normalize.css
//
// -----------------------------------------------------------------------------

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;  
    -webkit-tap-highlight-color: transparent;
}

body {
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    //font-smoothing: antialiased;
    min-width: 320px;
    overflow-x: hidden;
    // CASE: no support for MQ's
    //.lt-ie9 & {
    //    min-width: 960px;
    //    overflow-x: visible;
    //}
}

figure {
    line-height: 0;
}
figcaption {
    line-height: normal;
}

svg:not(:root) {
    overflow: hidden;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

hr {
    border: 0;
    height: 0;
}

// Input: Kill browser input chrome
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="submit"],
input[type="password"],
input[type="reset"],
input[type="button"],
button,
//select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
button,
select,
textarea,
optgroup {
    color: inherit;
    font: inherit;
    line-height: normal;
    //-webkit-font-smoothing: antialiased;
}

input,
button,
select,
textarea {
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    //&:focus {
    //    outline: 0;
    //}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

select {
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

textarea {
    resize: none;
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    overflow: visible;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// -----------------------------------------------------------------------------
//
// Reset "Light" 
//
// -----------------------------------------------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, 
ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

img {
    -ms-interpolation-mode: bicubic;  
    height: auto;
    max-width: 100%;
}

iframe,
video,
embed {
    max-width: 100%;
    max-height: 100%;
}