
// -----------------------------------------------------------------------------
//
// Typography
//
// Here we lay out the base typographic styles needed around the site.
// Do note, however, that what happens here is us setting all these 
// styles up as (helper) classes and silent classes (@extends) for use
// anywhere across the site.
//
// Then, within our "kitchen sink" helper class (see below note), we
// add any additionally needed complexity and our "full" styles (think margins)
// required for the appropriate content (ex. single post content).
//
// Doing things this way allows us to cut down on the need for overwriting
// ourselves across the site and only applying these typographic styles 
// where they are exactly needed because they have been targeted specifically
// or because we have wrapped our dyanmic output (ex. single post content) 
// in our .context-content wrapper class.
//
// NOTE: See utilities/helper-classes/kitchen-sink.scss for the "kitchen sink"
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//
// Headings
//
// -----------------------------------------------------------------------------

.h1, %h1,
.h2, %h2,
.h3, %h3,
.h4, %h4,
.h5, %h5,
.h6, %h6 {
    line-height: $line-height-smaller;
    font-family: $font-family-sans-serif;
}

.h1,
%h1 {
    font-size: $font-size-h1-s;
    @include mq($mq-medium) {
        font-size: $font-size-h1; 
    }
}

.h2,
%h2 {
    font-size: $font-size-h2-s;
    @include mq($mq-medium) {
        font-size: $font-size-h2; 
    }
}

.h3,
%h3 {
    font-size: $font-size-h3-s;
    @include mq($mq-medium) {
        font-size: $font-size-h3; 
    }
}

.h4,
%h4 {
    font-size: $font-size-h4-s;
    @include mq($mq-medium) {
        font-size: $font-size-h4; 
    }
}

.h5,
%h5 {
    font-size: $font-size-h5;
    @include mq($mq-medium) {
        font-size: $font-size-h5; 
    }
}

.h6,
%h6 {
    font-size: $font-size-h6;
    @include mq($mq-medium) {
        font-size: $font-size-h6; 
    }
}

// -----------------------------------------------------------------------------
//
// Paragraph
//
// -----------------------------------------------------------------------------

p,
%body-content {
    font-size: $font-size-content-s;
    @include mq($mq-medium) {
        font-size: $font-size-content;
    }
}

// -----------------------------------------------------------------------------
//
// Lists
//
// -----------------------------------------------------------------------------

ul, ol, dl {
    @extend %body-content;
}

.list-bullet,
%list-bullet {
    list-style: disc outside;
    padding-left: 2em;
    padding-right: 2em;
}

.list-number,
%list-number {
    list-style: decimal outside;
    padding-left: 2em;
    padding-right: 2em;
}

// Definition Lists
dl {
    dt {
        margin-bottom: .45em;
        font-weight: bold;
    }
    dd {
        margin-bottom: .55em;
        margin-left: 0;
    }
}

// -----------------------------------------------------------------------------
//
// Quotes & Blockquotes
//
// -----------------------------------------------------------------------------

q,
blockquote {
    margin: $margin auto;
    padding: 30px;
}

q,
//blockquote p,
%quote-text {
    font-size: $font-size-quote-s;
    line-height: $line-height-smaller;
    @include mq($mq-medium) {
        font-size: $font-size-quote; 
    }
}

q {
    display: block;
}

//blockquote,
%blockquote-text {
    p {
        margin: 0;
        & ~ p {
            margin-top: $margin;
        }
    }
}

cite {
    font-style: normal;
    display: block;
    margin-top: $margin;
    &:before {
        content: "\2013 \0020";
    }
}

// -----------------------------------------------------------------------------
//
// Tables
//
// -----------------------------------------------------------------------------

table {
    font-size: $font-size-base;
    margin: $margin auto;
    background-color: darken($white, 20%);
    border: 1px solid $grey;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    @include mq(480px) {
        table-layout: auto;
    }
}

th {
    padding: 14px 1em 12px;
    font-weight: 600;
    line-height: 1;
    & ~ th {
        border-left: 1px solid $grey;
    }
}

thead {
    tr {
        border-bottom: 1px solid $grey;
    }
}

tbody {
    tr {
        & ~ tr {
            border-top: 1px solid $grey;
        }
    }
}

td {
    padding: 12px 1em 10px;
    & ~ td {
        border-left: 1px solid $grey;
    }
}

// -----------------------------------------------------------------------------
//
// HR
//
// -----------------------------------------------------------------------------

hr {
    margin: $margin auto;
    border-top: 1px solid $grey;
}
