/* -----------------------------------------------------------------------------
 *
 * Panels: Micro Navigation Buttons
 *
 * ----------------------------------------------------------------------------- */

.site-panel--micronavbuttons {

}
