/* -----------------------------------------------------------------------------
 *
 * Panels: Title
 *
 * ----------------------------------------------------------------------------- */

.site-panel__title {

}
