@import "pcss/utilities/variables/_colors.pcss";

.main {
	align-items: center;
	background: var(--color-primary);
	color: #fff;
	display: flex;
	height: 400px;
	justify-content: center;
	width: 100%;
}
