/* -----------------------------------------------------------------------------
 *
 * Component: Panel: Media + Text
 *
 * ----------------------------------------------------------------------------- */

.media-text__content-container {
	padding-top: var(--spacer-40);
}

.media-text__title {
	margin-bottom: var(--spacer-10);
}

.media-text__cta {
	margin-top: var(--spacer-40);
}
