
/* -----------------------------------------------------------------------------
 *
 * Block Editor
 * Accordion Block Styles & Overrides
 *
 * Styles applicable to this block in the block editor.
 *
 * ----------------------------------------------------------------------------- */

.wp-block[data-type^="acf/accordion"] {

	.c-accordion__content {
		display: block;
		max-height: none;
		overflow: visible;
	}
}
