/* -----------------------------------------------------------------------------
 *
 * Component: Block: Stats
 *
 * ----------------------------------------------------------------------------- */

.b-stats {}

/* -----------------------------------------------------------------------------
 * Stats: Container
 * ----------------------------------------------------------------------------- */

.b-stats__container {
	/* CASE: Layout Inline */
	.c-block--layout-inline & {
		@media (--viewport-full) {
			display: flex;
			justify-content: space-between;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Stats: Content Block
 * ----------------------------------------------------------------------------- */

.b-stats__header {
	margin-bottom: var(--spacer-40);

	/* CASE: Layout Inline */
	.c-block--layout-inline & {
		@media (--viewport-full) {
			margin-bottom: 0;
			width: var(--grid-5-col);
		}
	}
}

.b-accordion__description {
	margin-top: var(--spacer-10);
}

/* -----------------------------------------------------------------------------
 * Stats: Content
 * ----------------------------------------------------------------------------- */

.b-stats__content {
	/* CASE: Layout Inline */
	.c-block--layout-inline & {
		@media (--viewport-full) {
			width: var(--grid-7-col);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Stats: List
 * ----------------------------------------------------------------------------- */

.b-stats__list {

}

/* -----------------------------------------------------------------------------
 * Stats: Stat Card
 * ----------------------------------------------------------------------------- */

.b-stats__card {

}
