/*
 * WordPress admin CSS
 *
 * This css files includes are loaded globally in the admin. Use this for all other admin css.
 *
 */

@import "../utilities/variables/colors";
@import "../utilities/variables/media-queries";
@import "../utilities/variables/paths";
@import "../utilities/variables/transitions";
@import "../utilities/variables/typography";

/* panels */
@import "panels/conditionals";
