
/* -----------------------------------------------------------------------------
 *
 * Globals: HTML & Body
 *
 * ----------------------------------------------------------------------------- */

html {
	background: var(--bgd);
}

body {
	background: var(--bgd-content);
	/* CASE: "sticky" footer */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* -----------------------------------------------------------------------------
 *
 * Globals: Font & Color
 *
 * ----------------------------------------------------------------------------- */

body, 
form, 
button, 
input, 
select, 
textarea {
	font: var(--font-weight-regular) normal 100%/var(--line-height-base) var(--font-family-base);
	color: var(--text);
}

/* -----------------------------------------------------------------------------
 *
 * Globals: Text Selection
 *
 * ----------------------------------------------------------------------------- */

::-moz-selection { 
	background: var(--primary);
	color: var(--white);
	text-shadow: none; 
}

::selection { 
	background: var(--primary);
	color: var(--white);
	text-shadow: none; 
}