

html { 
	background: $bgd;
}

body {
	background: $bgd-content;
}

body, 
form, 
button, 
input, 
select, 
textarea { 
	// font stack here
	color: $text; 
}

::-moz-selection { 
	background: $primary; 
	color: $white; 
	text-shadow: none; 
}

::selection { 
	background: $primary; 
	color: $white; 
	text-shadow: none; 
}
