/* -----------------------------------------------------------------------------
 *
 * SVG Icons: Icons (via PostCSS Inline SVG)
 *
 * ----------------------------------------------------------------------------- */

.svgicon {
	background-size: contain;
	background-repeat: no-repeat;
}

.svgicon-close {
	background-image: url('var(--path-images)/theme/icons/cross.svg');
}
