/* -----------------------------------------------------------------------------
 *
 * Grid: Base
 *
 * Example Markup:
 *
 * <div class="g-row">
 *   <div class="g-col">
 *	   <p>Component or another grid layout, perhaps?</p>
 *	 </div>
 * </div>
 *
 * ----------------------------------------------------------------------------- */

.g-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: var(--grid-gutter-small-half-negative);
	margin-right: var(--grid-gutter-small-half-negative);

	@media (--viewport-medium) {
		margin-left: var(--grid-gutter-half-negative);
		margin-right: var(--grid-gutter-half-negative);
	}

	& > .g-col {
		padding-left: var(--grid-gutter-small-half);
		padding-right: var(--grid-gutter-small-half);

		@media (--viewport-medium) {
			padding-left: var(--grid-gutter-half);
			padding-right: var(--grid-gutter-half);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier No Gutters
 * ----------------------------------------------------------------------------- */

.g-row--no-gutters {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	& > .g-col {
		padding-left: 0;
		padding-right: 0;
	}
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Flex Wrap
 * ----------------------------------------------------------------------------- */

.g-row--nowrap {
	flex-wrap: nowrap;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Force Vertical Center
 * ----------------------------------------------------------------------------- */

.g-row--vertical-center {
	align-items: center;
	height: 100%;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Center
 * ----------------------------------------------------------------------------- */

.g-row--center {
	justify-content: center;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Pull Right
 * ----------------------------------------------------------------------------- */

.g-row--pull-right {
	justify-content: flex-end;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Reorder 2 Columns
 * ----------------------------------------------------------------------------- */

.g-row--reorder-2-col {

	> .g-col:first-child {
		order: 2;
	}

	> .g-col:last-child {
		order: 1;
	}
}
