
// -----------------------------------------------------------------------------
//
// Styled Content ("Kitchen Sink")
//
// This is for use on areas of content that need the "kitchen sink" 
// of styles or the full style guide (ex. single post content)
//
// Here we lay out any additional complexity or styles required
// for the full "kitchen sink" for typography, media, and embeds.
//
// Doing things this way allows us to cut down on the need for overwriting
// ourselves across the site and only applying these styles where they are 
// exactly needed because they have been targeted specifically or because
// we have wrapped our dyanmic output (ex. single post content) in 
// our .context-content wrapper class.
//
// USAGE:
//
// Super easy, wrap the output or content that needs the "kitchen sink"
// applied to it in a container and add our below helper class:
//
//   <div class="context-content"> { dynamic output } </div>
//
// NOTE:
//
// + See Base Typography    : base/typography.scss
// + See Base Media & Embeds: base/media.scss
//
// -----------------------------------------------------------------------------

.context-content {

	// -------------------------------------------------------------------------
	// Headings
	// -------------------------------------------------------------------------

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		margin-top: $margin;
		margin-bottom: $margin;
	}

	h1 { 
		@extend %h1;
	}

	h2 { 
		@extend %h2;
	}
	
	h3 { 
		@extend %h3;
	}
	
	h4 { 
		@extend %h4;
	}
	
	h5 { 
		@extend %h5;
	}
	
	h6 { 
		@extend %h6;
	}

	// -------------------------------------------------------------------------
	// Paragraph / List / Base Margins
	// -------------------------------------------------------------------------

	p, 
	ul, 
	ol,
	dl { 
		@extend %body-content;
		margin-top: $margin;
		margin-bottom: $margin;
	}

	// -------------------------------------------------------------------------
	// Lists
	// -------------------------------------------------------------------------

	ul,
	ol {
		line-height: inherit;
    	padding: 0 2em;
		li ~ li {
        	margin-top: .5em;
    	}
	}

	ul, .list-bullet { 
		@extend %list-bullet;
	}
	
	ol, .list-number { 
		@extend %list-number; 
	}

	// -------------------------------------------------------------------------
	// Quotes & Blockquotes
	// -------------------------------------------------------------------------

	blockquote {
		@extend %blockquote-text;
		p {
			@extend %quote-text;
		}
	}

	// -------------------------------------------------------------------------
	// Media
	// -------------------------------------------------------------------------

	img {
		margin-top: $margin;
		margin-bottom: $margin;
		height: auto;
		display: block;
		&.alignleft,
		&.alignright {
			@extend %media-float;
		}
	}

	//iframe,
	//object,
	//embed,
	//video
	.wp-embed-wrap {
		margin: $margin auto;
	}

	// -------------------------------------------------------------------------
	// Forms
	// -------------------------------------------------------------------------

	label {
		@extend %label;
	}

	input,
	textarea,
	select,
	button {
		margin-bottom: $margin;
	}
	
	input,
	textarea,
	select {
		@extend %input-focus;
	}
	
	input {
		&[type="radio"],
		&[type="checkbox"] {
			margin-bottom: 0;
		}
	}

	// -------------------------------------------------------------------------
	// Miscellaneous
	// -------------------------------------------------------------------------

	& > *:first-child {
		margin-top: 0;
		& > img {
			margin-top: 0;
		}
	}
	& > *:last-child {
		margin-bottom: 0;
		& > img {
			margin-bottom: 0;
		}
	}

}