/* -----------------------------------------------------------------------------
 *
 * Component: Video Variables
 *
 * ----------------------------------------------------------------------------- */

:root {
	--transition-embed-icon: opacity 0.15s ease-in-out, background-color 0.2s, transform 0.2s ease;
	--gradient-video-trigger-overlay: linear-gradient(360deg, #222 0%, rgba(34, 34, 34, 0.1) 54.52%, rgba(34, 34, 34, 0) 100%);
}
