/* -----------------------------------------------------------------------------
 *
 * Variables: Spacers
 *
 * ----------------------------------------------------------------------------- */

:root {
	/* -----------------------------------------------------------------------------
	 * Spacers (margin & padding)
	 * ----------------------------------------------------------------------------- */

	--spacer-10: 8px;
	--spacer-20: 16px;
	--spacer-30: 24px;
	--spacer-40: 32px;
	--spacer-50: 40px;
	--spacer-60: 48px;
	--spacer-70: 64px;
	--spacer-80: 96px;
	--spacer-90: 160px;

	/* -----------------------------------------------------------------------------
	 * Spacers (WP Admin Bar)
	 * ----------------------------------------------------------------------------- */

	--spacer-wpadmin-mobile: 46px;
	--spacer-wpadmin-desktop: 32px;
}
