/* -----------------------------------------------------------------------------
 *
 * Section: Base
 *
 * Example Markup:
 *
 * <div class="s-wrapper">
 *		<div class="l-container">
 *			<header class="s-header">
 *				<h2 class="site-section__title">Site Section</h2>
 *				<p class="s-desc">Site Section Description</p>
 *			</header>
 *			<div class="s-content">
 *				<p>Grid layout or single component goes here.</p>
 *			</div>
 *			<footer class="s-footer">
 *				<a href="#" class="btn">CTA Button</a>
 *			</footer>
 *		</div>
 * </div>
 *
 * ----------------------------------------------------------------------------- */

.s-wrapper {
	padding-top: var(--spacer-70);
	padding-bottom: var(--spacer-70);
}

.s-wrapper--no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

/* -----------------------------------------------------------------------------
 *
 * Section: Header
 *
 * ----------------------------------------------------------------------------- */

.s-header {
	padding-bottom: var(--spacer-70);
}

.s-header--no-padding {
	padding: 0;
}

/* -----------------------------------------------------------------------------
 *
 * Section: Title
 *
 * ----------------------------------------------------------------------------- */

.s-title {

}

/* -----------------------------------------------------------------------------
 *
 * Section: Description
 *
 * ----------------------------------------------------------------------------- */

.s-desc {
	max-width: 800px;

	.s-title + & {
		margin-top: 20px;
	}
}

/* -----------------------------------------------------------------------------
 *
 * Section: Content
 *
 * ----------------------------------------------------------------------------- */

.s-content {

}

/* -----------------------------------------------------------------------------
 *
 * Section: Footer
 *
 * ----------------------------------------------------------------------------- */

.s-footer {
	padding-top: 60px;
}
