/* -----------------------------------------------------------------------------
 *
 * Footer: Default
 *
 * w/ Demo Styles
 *
 * ----------------------------------------------------------------------------- */

.site-footer {
	background-color: var(--color-default-bg);
	flex: none; /* CASE: "sticky" footer */
	padding: var(--grid-gutter) 0;
}
