/* button, input[type="button"], input[type="reset"], input[type="submit"] */
.btn-submit {
	@mixin button-submit;

	width: 100%;
	margin-top: var(--form-control-button-margin-top);

	@media (--viewport-medium) {
		width: auto;
	}
}
