
// -----------------------------------------------------------------------------
//
// Variables: Grid
//
// -----------------------------------------------------------------------------

$row-width         : 1200px !default;
$row-width-min     : 960px !default;
$column-gutter     : 30px !default;
$total-columns     : 12 !default;
$default-float     : left !default;
$opposite-direction: right !default;