{# Panel: Image + Text #}

<div class="g-row g-row--no-gutters g-row--col-2--min-full {{ wrapper_classes }}">

	<div class="g-col">
		{{ image }}
	</div>

	<div class="g-col g-col--vertical-center">
		<div class="s-sink t-sink site-panel__imgtxt-content">
			{{ content_block }}
		</div>
	</div>

</div>
