/* -----------------------------------------------------------------------------
 *
 * Component: Base (for staging purposes)
 *
 * ----------------------------------------------------------------------------- */

.c-default {
	background-color: var(--color-grey-light);
	height: 100%;
	padding: var(--spacer-2);
	text-align: center;
}
