

.btn,
a.btn {
    width: auto;
    display: inline-block;
    line-height: $line-height-even;
    font-weight: $font-weight-bold;
    height: auto;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    padding: 0;
    background-color: $black;
    text-align: center;
    color: $white;
    &:visited {
        color: $white;
    }
    &:hover,
    &:focus,
    &:active {
        color: $white;
	    background-color: $grey-dark;
    }
}