/* -----------------------------------------------------------------------------
 *
 * Component: Content Block (This is just the title, description, and cta)
 *
 * ----------------------------------------------------------------------------- */

.c-content-block {
	position: relative;
	z-index: 1;
}
