/* -----------------------------------------------------------------------------
 *
 * Component: Lightbox
 *
 * ----------------------------------------------------------------------------- */

.dialog[aria-hidden='true'] {
	display: none;
}
