/* -----------------------------------------------------------------------------
 *
 * Component: Image
 *
 * ----------------------------------------------------------------------------- */

.c-image {
	width: 100%;
}

.c-image--square {
	padding-bottom: 100%;
}

.c-image--rect {
	padding-bottom: 70%;
}

.c-image__bg {
	background: center center no-repeat;
	background-size: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
