/* -----------------------------------------------------------------------------
 *
 * Component: Quote
 *
 * ----------------------------------------------------------------------------- */

.c-quote {

}

.c-quote__text {

}

.c-quote__cite {

}
