/* -----------------------------------------------------------------------------
 *
 * Component: Slider
 *
 * ----------------------------------------------------------------------------- */

/* Container */

.c-slider {
	width: 100%;

	.t-content & {
		margin: var(--spacer-4) auto;
		max-width: none;
	}
}
