
/* -----------------------------------------------------------------------------
 * Placeholders
 * ----------------------------------------------------------------------------- */

@mixin placeholder {
	color: var(--color-placeholder);
	opacity: 1;
}

/* -----------------------------------------------------------------------------
 * Focus
 * ----------------------------------------------------------------------------- */

input,
textarea,
select {
	&:focus {
		border-color: var(--color-border-input-focus);
		box-shadow: 0 0 0 1px var(--color-border-input-focus);
		&::-webkit-input-placeholder {
			color: lighten(var(--color-placeholder), 0.1);
		}
		&:-moz-placeholder {
			color: lighten(var(--color-placeholder), 0.1);
		}
		&::-moz-placeholder {
			color: lighten(var(--color-placeholder), 0.1);
		}
		&:-ms-input-placeholder {
			color: lighten(var(--color-placeholder), 0.1);
		}
	}
}
