/* -------------------------------------------------------------------------
 * Global Forms
 * ------------------------------------------------------------------------- */

form {
	.t-typography & {
		margin: var(--spacer) auto;
	}
}

/* -----------------------------------------------------------------------------
 *
 * Form: Field Group / Wrapper
 *
 * Example:
 * <div class="form-field-group form-control-required">
 *   <label class="form-control-label" for="textFieldExample">Label</label>
 *	 <input id="textFieldExample" class="form-control" name="textFieldExample" aria-describedby="textFieldExampleHelper" type="text" />
 *	 <p id="textFieldExampleHelper" class="form-control-helper">Helper text</p>
 * </div>
 *
 * ----------------------------------------------------------------------------- */

.form-field-group {
	margin-bottom: var(--form-control-margin-bottom);
	line-height: var(--line-height-even);
}

/* -----------------------------------------------------------------------------
 *
 * Form: Control Group / Wrapper
 *
 * Example:
 * <div class="form-field-group form-control-required">
 *   <div class="form-control-group">
 *     <label class="form-control-label" for="textFieldExample">Label</label>
 *	   <input id="textFieldExample" class="form-control" name="textFieldExample" aria-describedby="textFieldExampleHelper" type="text" />
 *	   <p id="textFieldExampleHelper" class="form-control-helper">Helper text</p>
 *   </div>
 * </div>
 *
 * ----------------------------------------------------------------------------- */

.form-control-group {

}

/* -----------------------------------------------------------------------------
 *
 * Form: Control Group / Wrapper, radio & checkbox specific
 *
 * Example:
 * <fieldset>
 *   <legend>Legend for Checkboxes</legend>
 * 	 <div class="form-field-group form-control-group-radio-checkbox">
 * 	   <span class="form-control-checkbox">
 * 	     <input id="checkboxOne" name="checkboxGroup" type="checkbox" value="checkboxOne" checked="checked" />
 *	     <label for="checkboxOne">Checkbox One</label>
 * 	   </span>
 *   </div>
 * </fieldset>
 *
 * ----------------------------------------------------------------------------- */

.form-control-group-radio-checkbox {
	@mixin form-control-group-radio-checkbox;
}
