
/* -------------------------------------------------------------------------
 * Fieldset
 * ------------------------------------------------------------------------- */

fieldset {

}

/* -------------------------------------------------------------------------
 * Fieldset, Styled
 * Note: Styled fieldset to go along with styled legend
 * ------------------------------------------------------------------------- */

.form-fieldset {
	margin: var(--form-fieldset-styled-margin);
	padding: var(--form-fieldset-styled-padding);
	border: var(--form-fieldset-styled-border-size) solid var(--form-fieldset-styled-border-color);
	border-radius: var(--form-fieldset-styled-border-radius);
}
