
/* -------------------------------------------------------------------------
 * Fieldsets
 * ------------------------------------------------------------------------- */

fieldset {

}

/* -------------------------------------------------------------------------
 * Legends
 * ------------------------------------------------------------------------- */

legend {
	display: block;
	margin-bottom: var(--spacer-xs);
}
