
/* -------------------------------------------------------------------------
 * Label
 * ------------------------------------------------------------------------- */

.form-control-label,
.context-content label {
	display: block;
	margin-bottom: var(--form-label-margin-bottom);
	color: var(--form-label-color);
	letter-spacing: var(--form-label-letter-spacing);
	text-transform: var(--form-label-text-transform);
	font: var(--form-label-font-style) var(--form-label-font-weight) var(--form-label-font-size) / var(--form-label-font-line-height) var(--form-label-font-family);
}

/* -------------------------------------------------------------------------
 * Form Control Helper
 * ------------------------------------------------------------------------- */

.form-control-helper {
	@mixin form-control-helper;
}
