/* -----------------------------------------------------------------------------
 *
 * Component: Statistic
 *
 * ----------------------------------------------------------------------------- */

.c-statistic {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacer-40);
}

/* -----------------------------------------------------------------------------
 * Statistic: Value
 * ----------------------------------------------------------------------------- */

.c-statistic__value {
	@mixin t-display;

	color: var(--color-primary);
	word-break: break-all; /* Break long numbers */
}

/* -----------------------------------------------------------------------------
 * Statistic: Label
 * ----------------------------------------------------------------------------- */

.c-statistic__label {
	@mixin t-overline;

	color: var(--color-grey);
	margin-top: var(--spacer-10);
}
