/* -----------------------------------------------------------------------------
 *
 * Component: Statistic
 *
 * ----------------------------------------------------------------------------- */

.c-accordion {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -----------------------------------------------------------------------------
 * Statistic: Value
 * ----------------------------------------------------------------------------- */

.c-statistic__value {
	color: var(--color-primary);
}

/* -----------------------------------------------------------------------------
 * Statistic: Label
 * ----------------------------------------------------------------------------- */

.c-statistic__label {
	@mixin t-overline;

	color: var(--color-grey);
}
