/* -----------------------------------------------------------------------------
 *
 * Component: Content Block (This is just the title, description, and cta)
 *
 * ----------------------------------------------------------------------------- */

.c-content-block__title {
	margin-bottom: var(--spacer-1);
}

.c-content-block {
	position: relative;
	z-index: 1;
}

.c-content-block__desc {
	margin-bottom: var(--spacer-1);
}
