/* -----------------------------------------------------------------------------
 *
 * Component: Panel: Links
 *
 * ----------------------------------------------------------------------------- */

.c-panel--links {}

/* -----------------------------------------------------------------------------
 * Links: Container
 * ----------------------------------------------------------------------------- */

.links__container {
	/* CASE: Accordion: Inline */
	.c-panel--layout-inline & {
		@media (--viewport-full) {
			display: flex;
			justify-content: space-between;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Links: Header
 * ----------------------------------------------------------------------------- */

.links__header {
	margin-bottom: var(--spacer-40);

	/* CASE: Accordion: Inline */
	.c-panel--layout-inline & {
		@media (--viewport-full) {
			margin-bottom: 0;
			width: var(--grid-5-col);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Links: Description
 * ----------------------------------------------------------------------------- */

.links__description {
	margin-top: var(--spacer-20);
}

/* -----------------------------------------------------------------------------
 * Links: Content
 * ----------------------------------------------------------------------------- */

.links__content {
	/* CASE: Accordion: Inline */
	.c-panel--layout-inline & {
		@media (--viewport-full) {
			width: var(--grid-7-col);
		}
	}
}
