/* -----------------------------------------------------------------------------
 *
 * Component: Panel: Hero
 *
 * ----------------------------------------------------------------------------- */

.c-panel--hero {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 640px;
	padding: var(--spacer-80) 0;
	background-color: var(--color-grey-dark);

	@media (--viewport-medium) {
		min-height: 720px;
		padding: var(--spacer-90) 0;
	}
}

/* -----------------------------------------------------------------------------
 * Hero: Background Image
 * ----------------------------------------------------------------------------- */

.hero__img {
	/* Overlay */
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--color-black);
		opacity: 0.5;
	}
}

/* -----------------------------------------------------------------------------
 * Hero: Content
 * ----------------------------------------------------------------------------- */

.hero__content {
	position: relative;
}

/* -----------------------------------------------------------------------------
 * Hero: Content Container
 * ----------------------------------------------------------------------------- */

.hero__content-container {
	max-width: var(--grid-width-staggered-double);

	/* CASE: Text: Centered */
	.c-panel--layout-text-center & {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

/* -----------------------------------------------------------------------------
 * Hero: Lead-In
 * ----------------------------------------------------------------------------- */

.hero__leadin {
	margin-bottom: var(--spacer-20);
}

/* -----------------------------------------------------------------------------
 * Hero: Description
 * ----------------------------------------------------------------------------- */

.hero__description {
	margin-top: var(--spacer-20);
}

/* -----------------------------------------------------------------------------
 * Hero: Call To Action
 * ----------------------------------------------------------------------------- */

.hero__cta {
	margin-top: var(--spacer-30);
}
