/* -----------------------------------------------------------------------------
 *
 * Component: Card
 *
 * ----------------------------------------------------------------------------- */

.c-card {
	display: flex;
	flex-flow: column nowrap;

	/* CASE: Whole card is a link. */
	&.has-target-link {
		transition: var(--transition);

		&:hover {
			cursor: pointer;

			.is-target-link {

			}
		}
	}
}

/* -----------------------------------------------------------------------------
 * Card Media Container
 * ----------------------------------------------------------------------------- */

.c-card__media {
	margin-bottom: var(--spacer-40);
}

/* -----------------------------------------------------------------------------
 * Card Content Container
 * ----------------------------------------------------------------------------- */

.c-card__content {
	margin: 0 0 auto; /* Pushes the CTA to the bottom of the card. */
}

/* -----------------------------------------------------------------------------
 * Card Meta
 * ----------------------------------------------------------------------------- */

.c-card__meta {
	margin-bottom: var(--spacer-10);
}

/* -----------------------------------------------------------------------------
 * Card Meta: Secondary
 * ----------------------------------------------------------------------------- */

.c-card__meta--secondary {
	margin-top: var(--spacer-10);
}

/* -----------------------------------------------------------------------------
 * Card Title
 * ----------------------------------------------------------------------------- */

.c-card__title {}

/* -----------------------------------------------------------------------------
 * Card Description
 * ----------------------------------------------------------------------------- */

.c-card__description {
	margin-top: var(--spacer-10);
}

/* -----------------------------------------------------------------------------
 * Card Call To Action
 * ----------------------------------------------------------------------------- */

.c-card__cta {
	margin-top: var(--spacer-30);
}
