
// -----------------------------------------------------------------------------
//
// Transitions
//
// -----------------------------------------------------------------------------

// The default or standard transition
%transition {
  	transition: all 0.15s ease-in-out;
}

// Remove transition
%transition-none {
  	transition: none;
}

// The default opacity transition
%transition-opacity {
	transition: opacity 0.15s ease-in;
}