/* -----------------------------------------------------------------------------
 *
 * Component: Gallery Slider
 *
 * ----------------------------------------------------------------------------- */

.b-gallery-slider {

}

.b-gallery-slider__header {

}

.b-gallery-slider__content {
	padding-top: var(--spacer-70);
}

/* -----------------------------------------------------------------------------
 *
 * Gallery Image Ratios
 *
 * ----------------------------------------------------------------------------- */

.b-gallery-slider--fixed {

}

.b-gallery-slider--variable {

}
