{# Panel: Video + Text #}

<div class="g-row g-row--no-gutters g-row--col-2--min-full {{ wrapper_classes }}">

	<div class="g-col">
		{{ video }}
	</div>

	<div class="g-col g-col--vertical-center">
		<div class="site-panel__videotxt-content">
			{{ content_block }}
		</div>
	</div>

</div>
