
/* -------------------------------------------------------------------------
 *
 * Content: "Kitchen Sink"
 *
 * Notes:
 * + "t-content" is what used to be "context-content"
 *
 * ------------------------------------------------------------------------- */

.t-content {

	& > {
		/* CASE: remove top margin from first element */
		*:first-child {
			margin-top: 0;
		}

		/* CASE: remove bottom margin from bottom element */
		*:last-child {
			margin-bottom: 0;
		}
	}
}
