/**
 * Main logo, blue
 */
@svg-load logo-blue url('../../../../img/theme/logo.svg') {

	path {

		&.cls-1 {
			fill: var(--color-logo);
		}
	}
}

@svg-load logo-white url('../../../../img/theme/logo.svg') {

	path {

		&.cls-1 {
			fill: var(--color-white);
		}
	}
}

@svg-load logo-darker-blue url('../../../../img/theme/logo.svg') {

	path {

		&.cls-1 {
			fill: var(--color-grey-light);
		}
	}
}
