/* -----------------------------------------------------------------------------
 *
 * Panels: Card Grid
 *
 * ----------------------------------------------------------------------------- */

.c-card__content--cardgrid {
	background: var(--color-white-ivory);
	padding: 30px;
}
