/* -----------------------------------------------------------------------------
 *
 * Panels: Micro Navigation Buttons
 *
 * ----------------------------------------------------------------------------- */

.c-btn--micronavbuttons {
	width: 100%;
}
