/* -----------------------------------------------------------------------------
 *
 * Section: Content
 *
 * ----------------------------------------------------------------------------- */

.site-section__content {
	position: relative;
}
