/* -----------------------------------------------------------------------------
 *
 * Section: Descriptions
 *
 * ----------------------------------------------------------------------------- */

.site-section__desc {

	p:first-of-type {
		margin-bottom: 0;
	}
}
