/* -----------------------------------------------------------------------------
 *
 * Section: Footer
 *
 * ----------------------------------------------------------------------------- */

.s-footer {
	padding-top: 60px;
	text-align: center;
}
