/* -----------------------------------------------------------------------------
 *
 * Section: Footer
 *
 * ----------------------------------------------------------------------------- */

.site-section__footer {
	padding-top: var(--default-section-padding-sm);
	text-align: center;
}
