/* -----------------------------------------------------------------------------
 *
 * Section: Footer
 *
 * ----------------------------------------------------------------------------- */

.site-section__footer {
	padding-top: 60px;
	text-align: center;
}
