/* -----------------------------------------------------------------------------
 *
 * Section: Header
 *
 * ----------------------------------------------------------------------------- */

.site-section__header {
	padding-bottom: var(--spacer-lg);
	text-align: center;
}
