/* -----------------------------------------------------------------------------
 *
 * Section: Header
 *
 * ----------------------------------------------------------------------------- */

.site-section__header {
	padding-bottom: var(--default-section-padding-sm);
	text-align: center;
}
