/* -----------------------------------------------------------------------------
 *
 * Section: Titles
 *
 * ----------------------------------------------------------------------------- */

.site-section__title {

	.t-content & {
		margin-top: 0;
	}
}
