/* -----------------------------------------------------------------------------
 *
 * Component: Panel: Tabs
 *
 * ----------------------------------------------------------------------------- */

.c-panel--tabs {}
