<aside class="no-results">

	<h3 class="no-results__title">{{ lang[ 'No Posts' ]|esc_html }}</h3>
		
	<p class="no-results__content">{{ lang[ 'Sorry, but there are currently no posts to see at this time.' ]|esc_html }}</p>

</aside>
