
/* -------------------------------------------------------------------------
 * Anchor: Full
 * ------------------------------------------------------------------------- */

.anchor,
.t-content a {
	border-bottom: 2px solid var(--color-primary);
	color: var(--color-link);
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--color-link-hover);
	}
}
