/* -----------------------------------------------------------------------------
 *
 * Mixins: Actions
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Global Button Defaults
 * ----------------------------------------------------------------------------- */

@define-mixin a-btn-global {
	@mixin t-button;

	display: inline-block;
	width: auto;
	height: auto;
	padding: 12px var(--spacer-50);
	border: 0;
	cursor: pointer;
	text-decoration: none;
	transition: var(--transition);

	&:focus {
		text-decoration: underline;
	}

	&[disabled],
	&.is-disabled {
		opacity: 0.5;
		cursor: default;

		&:active,
		&:hover,
		&:focus {
			text-decoration: none;
			background-color: inherit;
			border-color: inherit;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Button: Primary
 * ----------------------------------------------------------------------------- */

@define-mixin a-btn-primary {
	@mixin a-btn-global;

	color: var(--color-white);
	background-color: var(--color-primary);

	&:focus,
	&:active,
	&:hover {
		background-color: var(--color-primary-70);
	}

	/* CASE: Reversed out/light theme */
	&.is-style-light,
	.t-theme--light & {
		color: var(--color-primary);
		background-color: var(--color-white);

		&:focus,
		&:active,
		&:hover {
			background-color: var(--color-white);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Button: Secondary
 * ----------------------------------------------------------------------------- */

@define-mixin a-btn-secondary {
	@mixin a-btn-global;

	color: var(--color-primary);
	background-color: transparent;
	border: 1px solid currentColor;
	box-sizing: border-box;

	&:focus,
	&:active,
	&:hover {
		background-color: var(--color-primary-10);
	}

	/* CASE: Reversed out/light theme */
	&.is-style-light,
	.t-theme--light & {
		color: var(--color-white);

		&:focus,
		&:active,
		&:hover {
			background-color: var(--color-primary-70);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Button: Tertiary
 * ----------------------------------------------------------------------------- */

@define-mixin a-btn-tertiary {
	@mixin a-btn-global;

	color: var(--color-white);
	background-color: var(--color-secondary);

	&:focus,
	&:active,
	&:hover {
		background-color: var(--color-secondary-70);
	}
}

/* -----------------------------------------------------------------------------
 * Button: Submit
 * ----------------------------------------------------------------------------- */

@define-mixin a-btn-submit {
	@mixin a-btn-primary;
}

/* -----------------------------------------------------------------------------
 * Call To Action
 * ----------------------------------------------------------------------------- */

@define-mixin a-cta-primary {
	@mixin t-text-button;

	&:focus {
		color: var(--color-primary);
		text-decoration: underline;
	}

	&:active,
	&:hover {
		color: var(--color-primary);
	}

	/* CASE: Reversed out/light theme */
	&.is-style-light,
	.t-theme--light & {
		color: var(--color-white);

		&:focus,
		&:active,
		&:hover {
			color: var(--color-primary-30);
		}
	}
}
