:root {
	/* -----------------------------------------------------------------------------
	 * Primary Palette
	 * ----------------------------------------------------------------------------- */

	--color-primary: #4a7ef2;
	--color-secondary: #3c73ef;
	--color-hover: #3463cc;

	/* -----------------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------------- */

	--color-white: #fff;

	/* -----------------------------------------------------------------------------
	 * Only Shades of Grey
	 * ----------------------------------------------------------------------------- */

	--color-grey-light: #e9edf2;
	--color-grey: #78787e;
	--color-grey-dark: #48484e;
	--color-grey-overcast: #bbbbbe;

	/* -----------------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------------- */

	--color-black: #000;
	--color-black-a-30: rgba(0, 0, 0, 0.3);

	/* -----------------------------------------------------------------------------
	 * Backgrounds
	 * ----------------------------------------------------------------------------- */

	--color-bgd: var(--color-white);
	--color-bgd-content: var(--color-white);
	--color-bgd-login: #f1f1f1;

	/* -----------------------------------------------------------------------------
	 * Links
	 * ----------------------------------------------------------------------------- */

	--color-link: var(--color-primary);
	--color-link-hover: var(--color-hover);

	/* -----------------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------------- */

	--color-text: var(--color-grey-dark);

	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--color-border: var(--color-grey-overcast);
	--color-table-border: #e0e1e4;
}
