:root {

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-h1-sm: 35px;
	--font-size-h1-md: 60px;

	--font-size-h2-sm: 28px;
	--font-size-h2-md: 42px;

	--font-size-h3-sm: 24px;
	--font-size-h3-md: 32px;

	--font-size-h4-sm: 20px;
	--font-size-h4-md: 28px;

	--font-size-h5-sm: 18px;
	--font-size-h5-md: 22px;

	--font-size-h6-sm: 15px;
	--font-size-h6-md: 18px;
}
