
/* -----------------------------------------------------------------------------
 *
 * Button Global Reset
 *
 * ----------------------------------------------------------------------------- */

@define-mixin button-global {
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: auto;
	padding: 0;
	text-decoration: none;
	width: auto;

	&[disabled] {
		cursor: not-allowed;
	}
}

/* -----------------------------------------------------------------------------
 *
 * Button - Repeated styles across all button components
 *
 * ----------------------------------------------------------------------------- */

@define-mixin button {
	font: var(--font-weight-medium) var(--font-size-2)/var(--line-height-even) var(--font-family-calibre);
	letter-spacing: 0.3px;
	text-align: center;
	padding: 16px 32px;

	@media (--viewport-medium) {
		font-size: var(--font-size-3);
		line-height: var(--line-height-3);
	}
}

/* -----------------------------------------------------------------------------
 *
 * Button Submit
 *
 * ----------------------------------------------------------------------------- */

@define-mixin button-submit {
	@mixin button-global;
	@mixin button;
}

/* -----------------------------------------------------------------------------
 *
 * Button: Modifier - Icon
 *
 * ----------------------------------------------------------------------------- */

@define-mixin button-icon {
	padding-left: 60px;
	padding-right: 60px;
	position: relative;

	&:after {
		@mixin icon;

		content: var(--icon-arrow-large-right);
		font-size: 20px;
		position: absolute;
		right: 20px;
		top: 50%;
		visibility: hidden;
		opacity: 0;
		transform: translate(10px, -50%);
		transition: transform 0.15s ease-in-out;
	}

	&:hover,
	&:focus,
	&:active {

		&:not([disabled]):after {
			opacity: 1;
			visibility: visible;
			transform: translate(0, -50%);
		}
	}
}
