@define-mixin button-global {
	transition: var(--transition);
	width: auto;
	display: inline-block;
	line-height: var(--line-height-even);
	font-weight: var(--font-weight-bold);
	height: auto;
	cursor: pointer;
	text-decoration: none;
	border: 0;
	padding: 0;
}
