
/* -----------------------------------------------------------------------------
 *
 * Form Placeholders
 *
 * ----------------------------------------------------------------------------- */

@define-mixin placeholder {
	::-webkit-input-placeholder { @mixin-content; }
	:-moz-placeholder           { @mixin-content; }
	::-moz-placeholder          { @mixin-content; }
	:-ms-input-placeholder      { @mixin-content; }
}

/* -----------------------------------------------------------------------------
 *
 * Form Input Fields
 *
 * ----------------------------------------------------------------------------- */

@define-mixin field {
	padding: 0 14px;
	border: 1px solid var(--border-input);
	background-color: var(--bgd-inputs);
	display: block;
	width: 100%;
	height: 42px;
	color: var(--text);
}