
/* -------------------------------------------------------------------------
 * Font Size: Display Large
 * ------------------------------------------------------------------------- */

.fs-display-large,
.t-content .fs-display-large {
	font-size: var(--font-size-display-large);
	line-height: var(--line-height-display-large);
}

/* -------------------------------------------------------------------------
 * Font Size: Display
 * ------------------------------------------------------------------------- */

.fs-display,
.t-content .fs-display {
	font-size: var(--font-size-display-large);
	line-height: var(--line-height-display-large);
}

/* -------------------------------------------------------------------------
 * Font Size: Headline Large
 * ------------------------------------------------------------------------- */

.fs-headline-large,
.t-content .fs-headline-large {
	font-size: var(--font-size-headline-large);
	line-height: var(--line-height-headline-large);
}

/* -------------------------------------------------------------------------
 * Font Size: Headline
 * ------------------------------------------------------------------------- */

.fs-headline,
.t-content .fs-headline {
	font-size: var(--font-size-headline);
	line-height: var(--line-height-headline);
}

/* -------------------------------------------------------------------------
 * Font Size: Title Large
 * ------------------------------------------------------------------------- */

.fs-title-large,
.t-content .fs-title-large {
	font-size: var(--font-size-title-large);
	line-height: var(--line-height-title-large);
}

/* -------------------------------------------------------------------------
 * Font Size: Title
 * ------------------------------------------------------------------------- */

.fs-title,
.t-content .fs-title {
	font-size: var(--font-size-title);
	line-height: var(--line-height-title);
}

/* -------------------------------------------------------------------------
 * Font Size: Sub Header Large
 * ------------------------------------------------------------------------- */

.fs-sub-header-large,
.t-content .fs-sub-header-large {
	font-size: var(--font-size-sub-header-large);
	line-height: var(--line-height-sub-header-large);
}

/* -------------------------------------------------------------------------
 * Font Size: Sub Header
 * ------------------------------------------------------------------------- */

.fs-sub-header,
.t-content .fs-sub-header {
	font-size: var(--font-size-sub-header);
	line-height: var(--line-height-sub-header);
}

/* -------------------------------------------------------------------------
 * Font Size: Body Large
 * ------------------------------------------------------------------------- */

.fs-body-large,
.t-content .fs-body-large {
	font-size: var(--font-size-body-large);
	line-height: var(--line-height-body-large);
}

/* -------------------------------------------------------------------------
 * Font Size: Body
 * ------------------------------------------------------------------------- */

.fs-body,
.t-content .fs-body {
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
}

/* -------------------------------------------------------------------------
 * Font Size: Overline
 * ------------------------------------------------------------------------- */

.fs-overline,
.t-content .fs-overline {
	font-size: var(--font-size-overline);
	line-height: var(--line-height-overline);
}

/* -------------------------------------------------------------------------
 * Font Size: Caption
 * ------------------------------------------------------------------------- */

.fs-caption,
.t-content .fs-caption {
	font-size: var(--font-size-caption);
	line-height: var(--line-height-caption);
}

/* -------------------------------------------------------------------------
 * Heading: H1
 * ------------------------------------------------------------------------- */

.h1,
.t-content h1 {
	font-family: var(--font-calibre-medium);
}

/* -------------------------------------------------------------------------
 * Heading: H2
 * ------------------------------------------------------------------------- */

.h2,
.t-content h2 {
	font-family: var(--font-calibre-medium);
}

/* -------------------------------------------------------------------------
 * Heading: H3
 * ------------------------------------------------------------------------- */

.h3,
.t-content h3 {
	font-family: var(--font-calibre-medium);
}

/* -------------------------------------------------------------------------
 * Heading: H4
 * ------------------------------------------------------------------------- */

.h4,
.t-content h4 {
	font-family: var(--font-calibre-medium);
}

/* -------------------------------------------------------------------------
 * Heading: H5
 * ------------------------------------------------------------------------- */

.h5,
.t-content h5 {
	font-family: var(--font-calibre-medium);
}

/* -------------------------------------------------------------------------
 * Heading: H6
 * ------------------------------------------------------------------------- */

.h6,
.t-content h6 {
	font-family: var(--font-calibre-medium);
}
