/* hide the 'No Image Selected' text for the image field */
.block-editor .edit-post-sidebar .acf-image-uploader p {
    font-size: 0px
}
/* Give the image field a border */
.block-editor .edit-post-sidebar .acf-field-image .acf-input {
    border: 1px solid #ccd0d4;
    padding: 12px;
}
