/* -----------------------------------------------------------------------------
 *
 * Utility Classes: Typography
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Display X-Large
 * ------------------------------------------------------------------------- */

.t-display-x-large {
	@mixin t-display-x-large;
}

/* -------------------------------------------------------------------------
 * Display Large
 * ------------------------------------------------------------------------- */

.t-display-large {
	@mixin t-display-large;
}

/* -------------------------------------------------------------------------
 * Display
 * ------------------------------------------------------------------------- */

.t-display {
	@mixin t-display;
}

/* -------------------------------------------------------------------------
 * Display Small
 * ------------------------------------------------------------------------- */

.t-display-small {
	@mixin t-display-small;
}

/* -------------------------------------------------------------------------
 * Display X-Small
 * ------------------------------------------------------------------------- */

.t-display-x-small {
	@mixin t-display-x-small;
}

/* -------------------------------------------------------------------------
 * Display XX-Small
 * ------------------------------------------------------------------------- */

.t-display-xx-small {
	@mixin t-display-xx-small;
}

/* -------------------------------------------------------------------------
 * Body Large
 * ------------------------------------------------------------------------- */

.t-body-large {
	@mixin t-body-large;
}

/* -------------------------------------------------------------------------
 * Body
 * ------------------------------------------------------------------------- */

.t-body {
	@mixin t-body;
}

/* -------------------------------------------------------------------------
 * Body Small
 * ------------------------------------------------------------------------- */

.t-body-small {
	@mixin t-body-small;
}

/* -------------------------------------------------------------------------
 * Overline
 * ------------------------------------------------------------------------- */

.t-overline {
	@mixin t-overline;
}

/* -------------------------------------------------------------------------
 * Caption
 * ------------------------------------------------------------------------- */

.t-caption {
	@mixin t-caption;
}

/* -------------------------------------------------------------------------
 * Button
 * ------------------------------------------------------------------------- */

.t-button {
	@mixin t-button;
}

/* -------------------------------------------------------------------------
 * Text Button/Call To Action
 * ------------------------------------------------------------------------- */

.t-text-button {
	@mixin t-text-button;
}

/* -------------------------------------------------------------------------
 * Input
 * ------------------------------------------------------------------------- */

.t-input {
	@mixin t-input;
}

/* -------------------------------------------------------------------------
 * Label
 * ------------------------------------------------------------------------- */

.t-label {
	@mixin t-label;
}
