/* -----------------------------------------------------------------------------
 *
 * Utility Classes: Typography
 *
 * Wildcard selectors are used to allow matching both the simple
 * `t-overline` selector in addition to block editor-applied "is-style"
 * selectors like `.is-style-t-overline`.
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Display X-Large
 * ------------------------------------------------------------------------- */

[class*="t-display-x-large"] {
	@mixin t-display-x-large;
}

/* -------------------------------------------------------------------------
 * Display Large
 * ------------------------------------------------------------------------- */

[class*="t-display-large"] {
	@mixin t-display-large;
}

/* -------------------------------------------------------------------------
 * Display
 * ------------------------------------------------------------------------- */

[class*="t-display"] {
	@mixin t-display;
}

/* -------------------------------------------------------------------------
 * Display Small
 * ------------------------------------------------------------------------- */

[class*="t-display-small"] {
	@mixin t-display-small;
}

/* -------------------------------------------------------------------------
 * Display X-Small
 * ------------------------------------------------------------------------- */

[class*="t-display-x-small"] {
	@mixin t-display-x-small;
}

/* -------------------------------------------------------------------------
 * Display XX-Small
 * ------------------------------------------------------------------------- */

[class*="t-display-xx-small"] {
	@mixin t-display-xx-small;
}

/* -------------------------------------------------------------------------
 * Body Large
 * ------------------------------------------------------------------------- */

.t-body-large {
	@mixin t-body-large;
}

/* -------------------------------------------------------------------------
 * Body
 * ------------------------------------------------------------------------- */

[class*="t-body"] {
	@mixin t-body;
}

/* -------------------------------------------------------------------------
 * Body Small
 * ------------------------------------------------------------------------- */

[class*="t-body-small"] {
	@mixin t-body-small;
}

/* -------------------------------------------------------------------------
 * Overline
 * ------------------------------------------------------------------------- */

.t-overline {
	@mixin t-overline;
}

/* -------------------------------------------------------------------------
 * Caption`
 * ------------------------------------------------------------------------- */

[class*="t-caption"] {
	@mixin t-caption;
}

/* -------------------------------------------------------------------------
 * Button
 * ------------------------------------------------------------------------- */

[class*="t-button"] {
	@mixin t-button;
}

/* -------------------------------------------------------------------------
 * Text Button/Call To Action
 * ------------------------------------------------------------------------- */

[class*="t-text-button"] {
	@mixin t-text-button;
}

/* -------------------------------------------------------------------------
 * Input
 * ------------------------------------------------------------------------- */

[class*="t-input"] {
	@mixin t-input;
}

/* -------------------------------------------------------------------------
 * Label
 * ------------------------------------------------------------------------- */

[class*="t-label"] {
	@mixin t-label;
}
