/* -----------------------------------------------------------------------------
 *
 * Variables: Typography
 *
 * ----------------------------------------------------------------------------- */

:root {
	/* -----------------------------------------------------------------------------
	 * Font Families
	 * ----------------------------------------------------------------------------- */

	--font-family-core-icons: 'core-icons';
	--font-family-serif: serif;
	--font-family-sans-serif: sans-serif;
	--font-family-base: var(--font-family-sans-serif);

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-body-large: 20px;
	--font-size-body: 16px;
	--font-size-body-small: 12px;

	/* -----------------------------------------------------------------------------
	 * Border Radius
	 * TODO: Where do these belong?
	 * ----------------------------------------------------------------------------- */

	--border-radius-base: 4px;

	/* -----------------------------------------------------------------------------
	 * Color: Links
	 * ----------------------------------------------------------------------------- */

	--color-link: var(--color-text);
	--color-link-hover: var(--color-primary);
	--color-link-focus: var(--color-primary-70);
}
