/* -----------------------------------------------------------------------------
 *
 * Typography: Anchors
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Anchor: Defaults
 * ------------------------------------------------------------------------- */

a {
	transition: var(--transition);
	color: inherit;
	text-decoration: none;
	outline: 0;
	cursor: pointer;

	&:visited,
	&:hover {
		color: inherit;
	}

	&:active,
	&:focus {
		outline: 1px dotted;
		color: inherit;
	}
}

/* -------------------------------------------------------------------------
 * Anchor: Full
 * ------------------------------------------------------------------------- */

.anchor,
.t-sink a:not(.a-btn):not(.a-btn-secondary):not(.a-btn-tertiary):not(.a-cta) {
	color: var(--color-text);
	text-decoration: underline;
	font-weight: 700;
	text-decoration-color: var(--color-link-focus);

	&:hover {
		color: var(--color-link-hover);
		text-decoration-color: inherit;
	}

	&:focus {
		color: var(--color-link-focus);
		outline: none;
		text-decoration-color: inherit;
	}
}
