/* -----------------------------------------------------------------------------
 *
 * Typography: Anchors
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Anchor: Defaults
 * ------------------------------------------------------------------------- */

a {
	transition: var(--transition);
	color: inherit;
	outline: 0;
	cursor: pointer;
	text-decoration: underline transparent;

	&:visited {
		color: inherit;
	}

	&:hover {
		color: inherit;
		text-decoration-color: currentColor;
	}

	&:active,
	&:focus {
		color: inherit;
		outline: 1px dotted;
	}
}

/* -------------------------------------------------------------------------
 * Anchor: Full
 * ------------------------------------------------------------------------- */

.anchor,
:where(.t-sink) a,
:is(.editor-styles-wrapper) a {
	color: var(--color-link);

	&:hover {
		color: var(--color-link-hover);
	}

	&:focus {
		color: var(--color-link-focus);
	}

	/* CASE: light theme */
	.t-theme--light & {
		color: var(--color-white);

		&:focus,
		&:active,
		&:hover {
			color: var(--color-primary-30);
		}
	}
}
