/* -----------------------------------------------------------------------------
 *
 * Typography: Fonts
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *
 * Font: Name
 *
 * WEIGHTS & STYLES:
 *
 * Light    (300)
 * Regular  (400)
 * Semibold (600)
 * Bold     (700)
 *
 * ----------------------------------------------------------------------------- */

/* Workaround for accessibility tests font issue */
.visual-tests * {
	font-family: arial, sans-serif !important;
}
