/* -----------------------------------------------------------------------------
 *
 * Typography: Headings
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Heading: H1
 * ------------------------------------------------------------------------- */

.h1,
:where(.t-sink)  h1,
:is(.editor-styles-wrapper)  h1 {
	@mixin t-display;

	@media (--viewport-full) {
		@mixin t-display-x-large;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H2
 * ------------------------------------------------------------------------- */

.h2,
:where(.t-sink) h2,
:is(.editor-styles-wrapper) h2{
	@mixin t-display;

	@media (--viewport-full) {
		@mixin t-display-large;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H3
 * ------------------------------------------------------------------------- */

.h3,
:where(.t-sink) h3,
:is(.editor-styles-wrapper) h3 {
	@mixin t-display-small;

	@media (--viewport-full) {
		@mixin t-display;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H4
 * ------------------------------------------------------------------------- */

.h4,
:where(.t-sink) h4,
:is(.editor-styles-wrapper) h4 {
	@mixin t-display-x-small;

	@media (--viewport-full) {
		@mixin t-display-small;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H5
 * ------------------------------------------------------------------------- */

.h5,
:where(.t-sink) h5,
:is(.editor-styles-wrapper) h5 {
	@mixin t-display-xx-small;

	@media (--viewport-full) {
		@mixin t-display-x-small;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H6
 * ------------------------------------------------------------------------- */

.h6,
:where(.t-sink) h6,
:is(.editor-styles-wrapper) h6 {
	@mixin t-overline;
}
