/* -----------------------------------------------------------------------------
 *
 * Typography: Headings
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Heading: H1
 * ------------------------------------------------------------------------- */

.h1,
.t-content h1 {
	font-size: 36px;
}

h1 {

	.t-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H2
 * ------------------------------------------------------------------------- */

.h2,
.t-content h2 {
	font-size: 32px;
}

h2 {

	.t-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H3
 * ------------------------------------------------------------------------- */

.h3,
.t-content h3 {
	font-size: 28px;
}

h3 {

	.t-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H4
 * ------------------------------------------------------------------------- */

.h4,
.t-content h4 {
	font-size: 22px;
}

h4 {

	.t-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H5
 * ------------------------------------------------------------------------- */

.h5,
.t-content h5 {
	font-size: 20px;
}

h5 {

	.t-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H6
 * ------------------------------------------------------------------------- */

.h6,
.t-content h6 {
	font-size: 18px;
}

h6 {

	.t-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}
