/* -----------------------------------------------------------------------------
 *
 * Typography: Headings
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Heading: H1
 * ------------------------------------------------------------------------- */

.h1,
[data-type^="core/"] > h1,
.t-sink > h1 {
	@mixin t-display-large;

	@media (--viewport-medium) {
		@mixin t-display-x-large;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H2
 * ------------------------------------------------------------------------- */

.h2,
[data-type^="core/"] > h2,
.t-sink > h2 {
	@mixin t-display;

	@media (--viewport-medium) {
		@mixin t-display-large;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H3
 * ------------------------------------------------------------------------- */

.h3,
[data-type^="core/"] > h3,
.t-sink > h3 {
	@mixin t-display-small;

	@media (--viewport-medium) {
		@mixin t-display;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H4
 * ------------------------------------------------------------------------- */

.h4,
[data-type^="core/"] > h4,
.t-sink > h4 {
	@mixin t-display-x-small;

	@media (--viewport-medium) {
		@mixin t-display-small;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H5
 * ------------------------------------------------------------------------- */

.h5,
[data-type^="core/"] > h5,
.t-sink > h5 {
	@mixin t-display-xx-small;

	@media (--viewport-medium) {
		@mixin t-display-x-small;
	}
}

/* -------------------------------------------------------------------------
 * Heading: H6
 * ------------------------------------------------------------------------- */

.h6,
[data-type^="core/"] > h6,
.t-sink > h6 {
	@mixin t-overline;
}
