/* -----------------------------------------------------------------------------
 *
 * Typography: HR
 *
 * ----------------------------------------------------------------------------- */

hr {
	border-top: 1px solid var(--color-border);
}
