/* -----------------------------------------------------------------------------
 *
 * Typography: HR
 *
 * ----------------------------------------------------------------------------- */

[data-type^="core"] > hr,  /* Hack to overcome Core block editor styles. */
.t-sink > hr {
	width: 100%;
	border-bottom: 1px solid var(--color-border);
}
