/* -----------------------------------------------------------------------------
 *
 * Typography: HR
 *
 * ----------------------------------------------------------------------------- */

:where(.t-sink) hr,
:is(.editor-styles-wrapper) hr{
	width: 100%;
	border-bottom: 1px solid var(--color-border);
}
