/* -----------------------------------------------------------------------------
 *
 * Typography: Lists
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Lists Shared
 * ------------------------------------------------------------------------- */

.t-list,
ul,
ol,
dl {

	:where(.t-sink) & {
		@mixin t-body;
	}
}

/* -------------------------------------------------------------------------
 * List Item
 * ------------------------------------------------------------------------- */

li {}

/* -------------------------------------------------------------------------
 * Unordered List
 * ------------------------------------------------------------------------- */

.t-list--bullets,
:where(.t-sink) ul,
:is(.editor-styles-wrapper) ul {
	list-style: disc outside;
	padding-left: 1.5em;

	ul {
		list-style: disc outside;
		padding-left: 1.5em;
	}
}

/* -------------------------------------------------------------------------
 * Unordered List: Stylized
 * ------------------------------------------------------------------------- */

.t-list--bullets-stylized,
:where(.t-sink) ul.is-style-t-list-stylized {
	list-style: none;
	padding-left: 0;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		position: relative;
		padding-left: var(--spacer-40);

		&:before {
			@mixin icon;

			content: var(--icon-bullet-round);
			position: absolute;
			left: 0;
			font-size: var(--font-size-body-large);
			line-height: 2rem; /* list item line-height */
			color: var(--color-primary);
		}
	}
}

/* -------------------------------------------------------------------------
 * Ordered List
 * ------------------------------------------------------------------------- */

.t-list--numbered,
:where(.t-sink) ol,
:is(.editor-styles-wrapper) ol {
	padding-left: 1.5em;
	list-style: decimal outside;

	ol {
		padding-left: 1.5em;
		list-style: decimal outside;
	}
}

/* -------------------------------------------------------------------------
 * Ordered List: Stylized
 * ------------------------------------------------------------------------- */

.t-list--numbered-stylized,
:where(.t-sink) ol.is-style-t-list-stylized {
	list-style: none;
	padding-left: 0;
	counter-reset: list-number;

	ol {
		list-style: none;
		padding-left: 0;
		counter-reset: list-number;
	}

	li {
		position: relative;
		padding-left: var(--spacer-40);
		counter-increment: list-number;

		&:before {
			@mixin t-label;

			content: counter(list-number);
			position: absolute;
			left: 0;
			font-weight: 700;
			line-height: 2rem; /* list item line-height */
			color: var(--color-primary);
		}
	}
}

/* -------------------------------------------------------------------------
 * Definition List
 * ------------------------------------------------------------------------- */

.dl,
:where(.t-sink) dl,
:is(.editor-styles-wrapper) dl {}

/* -------------------------------------------------------------------------
 * Definition List: Term
 * ------------------------------------------------------------------------- */

.dt,
:where(.t-sink) dt,
:is(.editor-styles-wrapper) dt {
	font-weight: 700;
}

/* -------------------------------------------------------------------------
 * Definition List: Definition
 * ------------------------------------------------------------------------- */

.dd,
:where(.t-sink) dd,
:is(.editor-styles-wrapper) dd {}
