/* -----------------------------------------------------------------------------
 *
 * Typography: Paragraphs
 *
 * ----------------------------------------------------------------------------- */

p {
	@mixin t-body;

	.t-content & {
		margin-bottom: var(--spacer-40);
	}
}
