/* -----------------------------------------------------------------------------
 *
 * Typography: Paragraphs
 *
 * ----------------------------------------------------------------------------- */

p {
	@mixin t-body;
}
