/* -----------------------------------------------------------------------------
 *
 * Typography: Quotes & Blockquote
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Quotes
 * ----------------------------------------------------------------------------- */

.quote,
[data-type^="core"] > q,
.t-sink > q {
	@mixin t-quote;

	display: block;
}

/* -----------------------------------------------------------------------------
 * Blockquotes
 * ----------------------------------------------------------------------------- */

.blockquote,
[data-type^="core"] > blockquote,
.t-sink > blockquote {
	@media (--viewport-full) {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: calc(-1 * (var(--grid-1-col) + var(--grid-gutter)));
			top: 0;
			height: 100%;
			border-left: 4px solid var(--color-primary);
		}
	}

	p {
		@mixin t-quote;
	}
}

/* -----------------------------------------------------------------------------
 * Cite
 * ----------------------------------------------------------------------------- */

.cite,
.t-sink > blockquote cite,
.wp-block-quote__citation {
	@mixin t-overline;

	display: inline-block;
	margin-top: var(--spacer-10);
	font-style: normal;
	color: var(--color-grey);
}
