/* -----------------------------------------------------------------------------
 *
 * Typography: Quotes & Blockquote
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Quotes
 * ----------------------------------------------------------------------------- */

.quote,
.t-sink > q {
	@mixin t-quote;

	display: block;
}

/* -----------------------------------------------------------------------------
 * Blockquotes
 * ----------------------------------------------------------------------------- */

.blockquote,
.t-sink > blockquote {

	p {
		@mixin t-quote;
	}
}

/* -----------------------------------------------------------------------------
 * Cite
 * ----------------------------------------------------------------------------- */

.cite,
.t-sink > cite,
.wp-block-quote__citation {
	@mixin t-overline;

	font-style: normal;
	color: var(--color-grey);
}
