/* -----------------------------------------------------------------------------
 *
 * Typography: Styles
 *
 * Block editor-based styles applied as css selectors.
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Overline
 * ----------------------------------------------------------------------------- */

.is-style-t-overline {

	.t-sink & {
		@mixin t-overline;
	}
}

/* -----------------------------------------------------------------------------
 * Lead-In
 * ----------------------------------------------------------------------------- */

.is-style-t-leadin {

	.t-sink & {
		@mixin t-body-large;
	}
}
