/* -----------------------------------------------------------------------------
 *
 * Header: Logo
 *
 * w/ Demo Styles
 *
 * ----------------------------------------------------------------------------- */

.site-header__logo {
	width: 300px;
}

.logo {

}
