
// -----------------------------------------------------------------------------
//
// Anchors
//
// -----------------------------------------------------------------------------

a {
	@extend %transition;
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	//outline: 0;
	cursor: pointer;
	&:visited,
	&:hover {
		color: inherit;
	}
	&:active,
	&:focus {
		//outline: 1px dotted;
		color: inherit;
	}
}

// -----------------------------------------------------------------------------
// Anchor: Full Styles
// -----------------------------------------------------------------------------

.anchor,
%a {
	text-decoration: underline;
}