
// -----------------------------------------------------------------------------
//
// Embeds
//
// -----------------------------------------------------------------------------

.wp-embed {
	//margin: $spacer auto;
	-webkit-column-break-inside: avoid;
	break-inside: avoid-column;
}

.wp-embed-wrap {
	@extend %ratio-16x9;
	position: relative;
	iframe,
	object,
	embed {
		@include best-fit-media;
	}
}
