
// -----------------------------------------------------------------------------
//
// Media
//
// -----------------------------------------------------------------------------

img {
	margin-left: auto;
	margin-right: auto;
}

// Media Wrappers
.wp-image-wrap,
.wp-caption {
	width: auto !important;
	max-width: none;
	margin: 0 auto;
}

// Caption: Caption
.wp-caption-text {
	margin: $spacer-xs 0 0;
	font-size: 14px;
	line-height: $line-height-s;
}

// Media Alignments
.aligncenter,
.alignnone {
	margin-top: $spacer-lg;
	margin-bottom: $spacer-lg;
}

.alignleft,
.alignright {
	margin-top: $spacer-lg;
	margin-bottom: $spacer-lg;
	@include mq($mq-medium) {
		margin-top: $spacer-xs;
		margin-bottom: $spacer-xs;
		max-width: 30%;
	}
}

.alignleft {
	@include mq($mq-medium) {
		float: left;
		margin-right: $spacer-lg;
	}
}

.alignright {
	@include mq($mq-medium) {
		float: right;
		margin-left: $spacer-lg;
	}
}