/* -----------------------------------------------------------------------------
 *
 * Component: Block: Interstitial
 *
 * ----------------------------------------------------------------------------- */

.b-interstitial {
	position: relative;
	display: flex;
	align-items: center;
	padding: var(--spacer-80) 0;
	background-color: var(--color-bgd-content);
	color: var(--color-text);

	@media (--viewport-full) {
		padding: var(--spacer-90) 0;
	}
}

/* -----------------------------------------------------------------------------
 * Interstitial: Content
 * ----------------------------------------------------------------------------- */

.b-interstitial__content {
	position: relative;
}
