/* -----------------------------------------------------------------------------
 *
 * Mixins: Grid
 *
 * ----------------------------------------------------------------------------- */

@define-mixin grid-column-reset {
	width: 100%;
}
