/* -----------------------------------------------------------------------------
 *
 * ACF Blocks
 *
 * Styles applicable to "acf/" namespaced blocks.
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Block Widths based on Core's alignment options.
 * ----------------------------------------------------------------------------- */

.wp-block[data-type^="acf/"] {
	max-width: var(--grid-width);

	&[data-align="wide"] {
		max-width: var(--grid-width);
	}

	&[data-align="full"] {
		max-width: none;
	}
}
