/* -----------------------------------------------------------------------------
 *
 * Modern Tribe Namespaced Block Styles
 *
 * Styles applicable to "tribe\" namespaced blocks.
 *
 * ----------------------------------------------------------------------------- */

.wp-block[data-type^="tribe/"] {
	max-width: none;
	margin-top: 0;
	margin-bottom: 0;
}
