:root {
	/* -----------------------------------------------------------------------------
	 * Primary Palette
	 * ----------------------------------------------------------------------------- */

	--color-primary: #21a6cb;
	--color-secondary: darken(var(--color-primary), 0.08);
	--color-light-secondary: darken(var(--color-white), 0.08);

	/* -----------------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------------- */

	--color-white: #fff;

	/* -----------------------------------------------------------------------------
	 * Greys
	 * ----------------------------------------------------------------------------- */

	--color-grey-light: lighten(var(--color-grey), 0.15);
	--color-grey: grey;
	--color-grey-dark: darken(var(--color-grey), 0.15);

	/* -----------------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------------- */

	--color-black: #000;

	/* -----------------------------------------------------------------------------
	 * Backgrounds
	 * ----------------------------------------------------------------------------- */

	--color-bgd: var(--color-white);
	--color-bgd-content: var(--color-white);
	--color-bgd-login: #f1f1f1;

	/* -----------------------------------------------------------------------------
	 * Links
	 * ----------------------------------------------------------------------------- */

	--color-link: var(--color-primary);
	--color-link-hover: var(--color-secondary);
	--color-link-light-hover: var(--color-light-secondary);

	/* -----------------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------------- */

	--color-text: var(--color-black);

	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--color-border: var(--color-grey);
}
