:root {
	/* -----------------------------------------------------------------------------
	 * Grid
	 * ----------------------------------------------------------------------------- */

	--legacy-min-width: 875px;
	--legacy-max-width: 906px;

	/* -----------------------------------------------------------------------------
	 * Background Colors
	 * ----------------------------------------------------------------------------- */

	--legacy-bgd-header: var(--color-primary);
	--legacy-bgd-content: var(--color-bgd-content);
	--legacy-bgd-footer: var(--color-black-a-40);

	/* -----------------------------------------------------------------------------
	 * Colors
	 * ----------------------------------------------------------------------------- */

	--legacy-color-text: var(--color-text);
	--legacy-color-heading: var(--color-text);
	--legacy-color-footer: var(--color-white);
	--legacy-color-link: var(--color-link);
	--legacy-color-link-hover: var(--color-secondary);

	/* -----------------------------------------------------------------------------
	 * Header
	 * ----------------------------------------------------------------------------- */

	--legacy-header-padding: 15px 0;

	/* -----------------------------------------------------------------------------
	 * Content
	 * ----------------------------------------------------------------------------- */

	--legacy-content-padding: 135px 0 160px;

	/* Content: P's */
	--legacy-content-font-size: 20px;
	--legacy-content-font-weight: var(--font-weight-regular);
	--legacy-content-line-height: var(--line-height-base);
	--legacy-content-spacing: 0 auto 25px;

	/* Content: Headings */
	--legacy-heading-font-size: 46px;
	--legacy-heading-font-family: var(--font-family-base);
	--legacy-heading-font-weight: var(--font-weight-bold);
	--legacy-heading-line-height: var(--line-height-ss);
	--legacy-heading-spacing: 0 auto 35px;

	/* -----------------------------------------------------------------------------
	 * Footer
	 * ----------------------------------------------------------------------------- */

	--legacy-footer-padding: 50px 0 45px;
	--legacy-footer-logo-spacing: 0 auto 28px;

	/* Footer: Content */
	--legacy-footer-content-font-size: 14px;
	--legacy-footer-content-line-height: var(--line-height-s);

	/* -----------------------------------------------------------------------------
	 * Browser List
	 * ----------------------------------------------------------------------------- */

	--legacy-browser-list-font-size: 17px;
	--legacy-browser-list-font-weight: var(--font-weight-bold);

	/* Browser List: Images */
	--legacy-browser-list-image-padding: 42px 0;
	--legacy-browser-list-image-spacing: 0 auto 10px;
	--legacy-browser-list-image-border: 3px solid var(--color-grey);
	--legacy-browser-list-image-border-radius: var(--border-radius-base);
	--legacy-browser-list-image-bgd: var(--color-white);
}
