:root {
	--path-css-vendor: /wp-content/plugins/core/assets/theme/pcss/vendor;
	--path-images: /wp-content/plugins/core/assets/theme/img;
	--path-fonts: /wp-content/plugins/core/assets/theme/fonts;
}
