:root {
	/* -----------------------------------------------------------------------------
	 * Spacers (margin & padding)
	 * ----------------------------------------------------------------------------- */

	--spacer: 30px;
	--spacer-xs: 15px;
	--spacer-s: 20px;
	--spacer-m: 35px;
	--spacer-lg: 50px;

	/* -----------------------------------------------------------------------------
	 * Defaults
	 * ----------------------------------------------------------------------------- */

	--default-section-padding: 100px;
	--default-section-padding-sm: 60px;
}
