/* -----------------------------------------------------------------------------
 *
 * Component: Legal Navigation
 *
 * ----------------------------------------------------------------------------- */

.c-nav-legal {}

/* -----------------------------------------------------------------------------
 * Legal Nav: List
 * ----------------------------------------------------------------------------- */

.c-nav-legal__list {

	@media (--viewport-medium) {
		display: flex;
		flex-flow: row wrap;
		gap: var(--spacer-30);
	}
}

/* -----------------------------------------------------------------------------
 * Legal Nav: List Item
 * ----------------------------------------------------------------------------- */

.c-nav-legal__list-item {
	@mixin t-input;

	margin-bottom: var(--spacer-20);

	/* CASE: No margin for last list item */
	&:last-child {
		margin-bottom: 0;
	}

	@media (--viewport-medium) {
		margin-bottom: 0;
	}
}
