/* -----------------------------------------------------------------------------
 *
 * Component: Site Header Navigation
 *
 * ----------------------------------------------------------------------------- */

.c-nav-primary {
	margin-top: var(--spacer-50);
	margin-bottom: var(--spacer-50);

	@media (--viewport-full) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* -----------------------------------------------------------------------------
 * Site Header Nav: List
 * ----------------------------------------------------------------------------- */

.c-nav-primary__list {
	@media (--viewport-full) {
		display: flex;
		flex-flow: row nowrap;
		gap: var(--spacer-30);
	}
}

/* -----------------------------------------------------------------------------
 * Site Header Nav: List Items
 * ----------------------------------------------------------------------------- */

.c-nav-primary__list-item {
	margin-top: var(--spacer-20);

	@media (--viewport-full) {
		display: flex;
		align-items: center;
		margin-top: 0;
		white-space: nowrap;
	}
}

/* -----------------------------------------------------------------------------
 * Site Header Nav: Top-Level List Items
 * ----------------------------------------------------------------------------- */

.c-nav-primary__list-item--depth-0 {
	margin-bottom: var(--spacer-30);

	@media (--viewport-full) {
		margin-bottom: 0;
	}
}

/* -----------------------------------------------------------------------------
 * Site Header Nav: Links & Buttons
 * ----------------------------------------------------------------------------- */

.c-nav-primary__action {

	&:hover {
		text-decoration: underline;
	}
}

/* -----------------------------------------------------------------------------
 * Site Header Nav: Top-Level Links & Buttons
 * ----------------------------------------------------------------------------- */

.c-nav-primary__action--depth-0 {
	@mixin a-btn-reset;
	@mixin t-text-button;

	@media (--viewport-full) {
		@mixin t-input;

		font-weight: 700;
	}

	&:focus {
		outline: 1px dotted currentColor;
	}

	/* CASE: Item has a submenu */
	&.c-nav-primary__action--has-children {

		&:after {
			@mixin icon;

			content: var(--icon-chevron-down);
			position: relative;
			display: inline-block;
			top: 0.1em;
			left: 0.25em;
			transition: var(--transition);
		}

		/* CASE: This submenu is active */
		.c-nav-primary__list-child--active & {

			&:after {
				transform: rotate(180deg);
			}
		}
	}
}

/* -----------------------------------------------------------------------------
 * Site Header Nav: Submenu List
 * ----------------------------------------------------------------------------- */

.c-nav-primary__list-child {
	display: none;

	/* CASE: This submenu is active */
	.c-nav-primary__list-child--active & {
		display: block;
	}
}
