
/* -----------------------------------------------------------------------------
 *
 * Layout: Global Site Wrap
 *
 * ----------------------------------------------------------------------------- */

#site-wrap {
	/* CASE: "sticky" footer */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* -----------------------------------------------------------------------------
 *
 * Layout: Main Content
 *
 * ----------------------------------------------------------------------------- */

main {
	/* CASE: "sticky" footer */
	flex: 1 0 auto;
}

/* -----------------------------------------------------------------------------
 *
 * Layout: Global Content Wrap
 *
 * ----------------------------------------------------------------------------- */

.content-wrap {
	max-width: var(--grid-width);
	margin: 0 auto;
	width: 100%;
	padding: 0 var(--grid-gutter-small);
	@media(--viewport-medium) {
		padding: 0 var(--grid-gutter);
	}
}

.grid-test {
	lost-utility: clearfix;
	& > * {
		height: 300px;
		background-color: red;
		color: white;
		lost-column: 1/3 auto 20px;
		@media (--viewport-medium) {
			lost-column: 1/3 auto 30px;
		}
	}
}