@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?1xmh0p') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1xmh0p') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1xmh0p') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1xmh0p##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-large-down {
  &:before {
    content: $icon-arrow-large-down; 
  }
}
.icon-arrow-large-left {
  &:before {
    content: $icon-arrow-large-left; 
  }
}
.icon-arrow-large-right {
  &:before {
    content: $icon-arrow-large-right; 
  }
}
.icon-arrow-large-up {
  &:before {
    content: $icon-arrow-large-up; 
  }
}
.icon-arrow-small-down {
  &:before {
    content: $icon-arrow-small-down; 
  }
}
.icon-arrow-small-left {
  &:before {
    content: $icon-arrow-small-left; 
  }
}
.icon-arrow-small-right {
  &:before {
    content: $icon-arrow-small-right; 
  }
}
.icon-arrow-small-up {
  &:before {
    content: $icon-arrow-small-up; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-chevron-double {
  &:before {
    content: $icon-chevron-double; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-print {
  &:before {
    content: $icon-print; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}

