@font-face {
  font-family: 'core-icons';
  src:
    url('fonts/core-icons.woff2?1xmh0p') format('woff2'),
    url('fonts/core-icons.ttf?1xmh0p') format('truetype'),
    url('fonts/core-icons.woff?1xmh0p') format('woff'),
    url('fonts/core-icons.svg?1xmh0p#core-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'core-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-large-down:before {
  content: "\e900";
}
.icon-arrow-large-left:before {
  content: "\e901";
}
.icon-arrow-large-right:before {
  content: "\e902";
}
.icon-arrow-large-up:before {
  content: "\e903";
}
.icon-arrow-small-down:before {
  content: "\e904";
}
.icon-arrow-small-left:before {
  content: "\e905";
}
.icon-arrow-small-right:before {
  content: "\e908";
}
.icon-arrow-small-up:before {
  content: "\e909";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-left:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-chevron-up:before {
  content: "\e90d";
}
.icon-checkmark:before {
  content: "\e90e";
}
.icon-chevron-double:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e914";
}
.icon-minus:before {
  content: "\e915";
}
.icon-google-plus:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\f003";
}
.icon-print:before {
  content: "\f02f";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-pinterest:before {
  content: "\f231";
}
