/* -----------------------------------------------------------------------------
 *
 * Component: Block: Content Columns
 *
 * ----------------------------------------------------------------------------- */

.b-content-columns {}

/* -----------------------------------------------------------------------------
 * Content Columns: Container
 * ----------------------------------------------------------------------------- */

.b-content-columns__container {}

/* -----------------------------------------------------------------------------
 * Content Columns: Header
 * ----------------------------------------------------------------------------- */

.b-content-columns__header {
	margin-bottom: var(--spacer-40);

	@media (--viewport-medium) {
		margin-bottom: var(--spacer-60);
	}
}

/* -----------------------------------------------------------------------------
 * Content Columns: Content
 * ----------------------------------------------------------------------------- */

.b-content-columns__content {}

/* -----------------------------------------------------------------------------
 * Content Columns: Column
 * ----------------------------------------------------------------------------- */

.b-content-columns__column {}
