/* -----------------------------------------------------------------------------
 *
 * Component: Icon Grid
 *
 * ----------------------------------------------------------------------------- */

.b-icon-grid {
	background: var(--color-bgd-content);
}

.b-icon-grid__header {
    margin-bottom: var(--spacer-60);
}


