/* -----------------------------------------------------------------------------
 *
 * Component: Icon Grid
 *
 * ----------------------------------------------------------------------------- */

.b-icon-grid__header {
	margin-bottom: var(--spacer-60);
}
