
// -----------------------------------------------------------------------------
//
// Calculate padding for a proportional wrapper
//
// Force an intrinsic ratio based on the width of the containing block to used as a
// wrapper for fixed aspect-ratio content.
//
// More information: http://alistapart.com/article/creating-intrinsic-ratios-for-video
//
// @author: Lonely Planet
//
// -----------------------------------------------------------------------------

@mixin intrinsic-ratio($ratioX, $ratioY) {
	padding-top: percentage((1 / $ratioX) * $ratioY);
	overflow: hidden;
	height: 0;
	position: relative;
}

// -----------------------------------------------------------------------------
//
// Best fit media to a fixed size wrapper
//
// Uses transforms (where available) to "best fit" an image or video element to it's
// container. Best used with the intrinsic ratio mixin.
//
// USAGE:
//
// Example of use: http://codepen.io/anon/pen/urhmI
//
// @author: Lonely Planet
//
// -----------------------------------------------------------------------------

@mixin best-fit-media {
  	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-height: 100%;
	max-height: 100%;
	width: 100%;
}
