
// -----------------------------------------------------------------------------
//
// CSS Triangles
//
// -----------------------------------------------------------------------------

@mixin triangle($color: #000, $size_d: 5px, $size_d_not: 5px, $direction: 'up') {
	
	width: 0;
	height: 0;

	// Set the none directional border widths
	@if $direction == 'up' or $direction == 'down' {
		border-right: $size_d_not solid transparent;
		border-left: $size_d_not solid transparent;
	}
	@else {
		border-top: $size_d_not solid transparent;
		border-bottom: $size_d_not solid transparent;
	}
	
	// Set the directional border width
	@if $direction == 'up' {
		border-bottom: $size_d solid $color;
	}
	@else if $direction == 'down' {
		border-top: $size_d solid $color;
	}
	@else if $direction == 'right' {
		border-left: $size_d solid $color;
	}
	@else if $direction == 'left' {
		border-right: $size_d solid $color;
	}

}
