.wp-embed {
	break-inside: avoid-column;

	.t-content & {
		margin: var(--spacer-lg) auto;
		max-width: none;
	}
}

/* CASE: Lazyloaded embed */
.wp-embed--lazy {

}

/* CASE: Non-lazyloaded embed */
.wp-embed--no-lazy {

}

.wp-embed-wrap {
	position: relative;

	/* CASE: Non-lazyloaded embed */
	.wp-embed--no-lazy & {
		aspect-ratio: '16:9';
		overflow: hidden;
	}

	iframe,
	object,
	embed {
		width: 100%;
		height: 100%;
	}
}
