
/* -----------------------------------------------------------------------------
 * Media: Images
 * ----------------------------------------------------------------------------- */

img {
	margin-left: auto;
	margin-right: auto;

	.t-content & {
		line-height: 0;
		height: auto;
		display: block;

		/* Messes with WP editor image resizing
		and don't think it's needed
		width: auto; */
	}
}

/* -----------------------------------------------------------------------------
 * Media: Wrapper
 * ----------------------------------------------------------------------------- */

.wp-image {
	width: auto !important;
	max-width: none;
	margin: 0 auto;
}

.wp-image--no-caption {

}

.wp-image--caption {

}

/* -----------------------------------------------------------------------------
 * Media: Image Captions
 * ----------------------------------------------------------------------------- */

.wp-caption-text {
	color: var(--color-grey-light);
	font-size: 14px;
	margin: 10px 0 30px;
	line-height: 1.42;

	@media (--viewport-medium) {
		margin-top: var(--spacer-xs);
	}
}

/* -----------------------------------------------------------------------------
 * Media: Alignments
 * ----------------------------------------------------------------------------- */

.aligncenter,
.alignnone {
	margin-top: var(--spacer-s);
	margin-bottom: var(--spacer-s);

	@media (--viewport-medium) {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

.alignleft,
.alignright {
	margin-top: var(--spacer-s);
	margin-bottom: var(--spacer-s);

	@media (--viewport-medium) {
		margin-top: 0;
		margin-bottom: 0;
		max-width: 30%;
	}
}

.alignleft {
	@media (--viewport-medium) {
		float: left;
		margin-right: var(--spacer);
	}
}

.alignright {
	@media (--viewport-medium) {
		float: right;
		margin-left: var(--spacer);
	}
}
