:root {
	/* -----------------------------------------------------------------------------
	 * Controls
	 * ----------------------------------------------------------------------------- */

	--form-control-bgd-color: var(--white);

	--form-control-border-color: var(--form-border-color);
	--form-control-border-color-focus: darken(var(--form-border-color), .25);
	--form-control-border-radius: var(--form-border-radius);
	--form-control-border-size: var(--form-border-size);
	--form-control-border-size-focus: var(--form-border-size);

	--form-control-color: var(--form-color);

	--form-control-font-style: normal;
	--form-control-font-weight: var(--font-weight-regular);
	--form-control-font-size: var(--form-font-size);
	--form-control-font-line-height: var(--line-height-base);
	--form-control-font-family: var(--form-font-family);

	--form-control-height: 42px;

	--form-control-letter-spacing: var(--form-letter-spacing);

	--form-control-margin-bottom: var(--form-margin);

	--form-control-padding: 0 var(--form-padding-horizontal);

	--form-control-text-transform: var(--form-text-transform);

	/* -----------------------------------------------------------------------------
	 * Control Icon
	 * ----------------------------------------------------------------------------- */

	--form-control-icon-color: lightgrey;

	--form-control-icon-font-size: 20px;

	--form-control-icon-width: 45px;

	--form-control-icon-padding-right: var(--form-control-icon-width);

	/* -----------------------------------------------------------------------------
	 * Control: Textarea
	 * ----------------------------------------------------------------------------- */

	--form-control-textarea-height: 180px;

	--form-control-textarea-padding: var(--form-padding-vertical) var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Control: Select
	 * ----------------------------------------------------------------------------- */

	--form-control-select-multiple-height: 100px;

	--form-control-select-multiple-padding: var(--form-padding-vertical) var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Control: Radio & Checkbox
	 * ----------------------------------------------------------------------------- */

	--form-control-radio-checkbox-label-color: var(--form-color);

	--form-control-radio-checkbox-label-font-style: normal;
	--form-control-radio-checkbox-label-font-weight: var(--font-weight-regular);
	--form-control-radio-checkbox-label-font-size: var(--form-font-size-small);
	--form-control-radio-checkbox-label-font-line-height: var(--line-height-even);
	--form-control-radio-checkbox-label-font-family: var(--form-font-family);

	--form-control-radio-checkbox-margin-top: var(--form-margin-small);

	--form-control-radio-checkbox-push-label-right: 10px;

	--form-control-radio-checkbox-label-letter-spacing: var(--form-letter-spacing);

	--form-control-radio-checkbox-label-text-transform: var(--form-text-transform);

	/* -----------------------------------------------------------------------------
	 * Control: File
	 * ----------------------------------------------------------------------------- */

	--form-control-file-font-size: var(--form-font-size);

	--form-control-file-padding: var(--form-padding-vertical) var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Control: Submit & Buttons
	 * ----------------------------------------------------------------------------- */

	--form-control-button-margin-top: var(--form-margin);

}
