/* -----------------------------------------------------------------------------
 *
 * Forms: Password
 *
 * ----------------------------------------------------------------------------- */

input[type="password"] {
	font-family: var(--font-family-sans-serif);
}
