/* -----------------------------------------------------------------------------
 *
 * Component: Social Follow
 *
 * ----------------------------------------------------------------------------- */

.social-follow {

}

.social-follow__list {

}

.social-follow__item {

}

.social-follow__anchor {

}
