/* -----------------------------------------------------------------------------
 *
 * Component: Block: Card Grid
 *
 * ----------------------------------------------------------------------------- */

.b-card-grid {}
