/* -----------------------------------------------------------------------------
 *
 * Component: Block: Card Grid
 *
 * ----------------------------------------------------------------------------- */

.b-card-grid {}

/* -----------------------------------------------------------------------------
 * Block Header
 * ----------------------------------------------------------------------------- */

.b-card-grid__header {
	/* CASE: Layout Stacked */
	.b-card-grid--layout-stacked & {
		margin-bottom: var(--spacer-60);
	}
}

/* -----------------------------------------------------------------------------
 * Cards Loop
 * ----------------------------------------------------------------------------- */

.b-card-grid__loop {}
