/* -----------------------------------------------------------------------------
 *
 * Grid: Columns
 *
 * ----------------------------------------------------------------------------- */

.g-col {
	min-width: 0;
	width: 100%;
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Vertical center content | NOTE: This is a safari fix too.
 * ----------------------------------------------------------------------------- */

.g-col--vertical-center {
	align-items: center;
	display: flex;
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Horizontally center content
 * ----------------------------------------------------------------------------- */

.g-col--horizontal-center {
	justify-content: center;
	display: flex;
}
