/* -----------------------------------------------------------------------------
 *
 * Components: Base
 *
 * w/ Demo Styles
 *
 * ----------------------------------------------------------------------------- */

/* For staging purposes. */

.c-default {
	background-color: var(--color-default-bg);
	height: 100%;
	padding: var(--spacer);
	text-align: center;
}
