/* -----------------------------------------------------------------------------
 *
 * Components: Base
 *
 * w/ Demo Content
 *
 * ----------------------------------------------------------------------------- */

/* For staging purposes. */

.c-default {
	padding: var(--spacer);
	text-align: center;
}
