/* -----------------------------------------------------------------------------
 *
 * Component: Breadcrumbs
 *
 * ----------------------------------------------------------------------------- */

.c-breadcrumbs__wrapper {

}

.c-breadcrumbs {

	.c-breadcrumbs__item {
		display: inline-block;
	}

	.c-breadcrumbs__anchor {

	}
}
