/* -----------------------------------------------------------------------------
 *
 * Component: Breadcrumbs
 *
 * ----------------------------------------------------------------------------- */

.c-breadcrumbs__wrapper {

}

.c-breadcrumbs {
	display: flex;
	flex-direction: row;

	.c-breadcrumbs__item {
		margin-right: 10px;
		width: auto;

		&:last-child {
			margin-right: 0;
		}
	}

	.c-breadcrumbs__anchor {

	}
}
