/* -----------------------------------------------------------------------------
 *
 * Component: Card
 *
 * ----------------------------------------------------------------------------- */

.c-card {

}

.c-card__header {

}

.c-card__title {

}

.c-card__content {

}
