/* -----------------------------------------------------------------------------
 *
 * Components: Social Follow
 *
 * w/ Demo Styles
 *
 * ----------------------------------------------------------------------------- */

.c-social-follow {

	.c-social-follow__list {
		display: flex;
		flex-direction: row;
	}
}
