/* -----------------------------------------------------------------------------
 *
 * Component: Text
 *
 * ----------------------------------------------------------------------------- */

.c-text {
	width: 100%;
}

.c-text__title {

}

.c-text__desc {

}

.c-text__link {

}
