:root {

	/* -----------------------------------------------------------------------------
	 * Icons
	 * ----------------------------------------------------------------------------- */

	--icon-quote: "\201c";
}
