
/* -----------------------------------------------------------------------------
 * Media: Image Captions
 * ----------------------------------------------------------------------------- */

.wp-caption-text {
	color: var(--color-grey-light);
	font-size: 14px;
	margin: 10px 0 30px;
	line-height: 1.42;

	@media (--viewport-medium) {
		margin-top: var(--spacer-xs);
	}
}
