/* -----------------------------------------------------------------------------
 *
 * Variables: Media
 *
 * ----------------------------------------------------------------------------- */

:root {
	--wp-oembed-bgd: var(--color-grey);
	--transition-wp-playlist-icon: background-color 0.2s, transform 0.2s ease;
}
