/* -----------------------------------------------------------------------------
 *
 * Variables: Media
 *
 * ----------------------------------------------------------------------------- */

:root {
	--wp-oembed-bgd: var(--color-grey);
}
