/* -----------------------------------------------------------------------------
 *
 * Media: Images
 *
 * ----------------------------------------------------------------------------- */

img {
	margin-left: auto;
	margin-right: auto;

	.t-sink & {
		line-height: 0;
		height: auto;
		display: block;
	}
}

/* -----------------------------------------------------------------------------
 * Media: Wrapper
 *
 * TinyMCE specific. Not applicable to the block editor.
 * ----------------------------------------------------------------------------- */

.wp-image {
	width: auto;
	margin: 0 auto;

	img {
		width: 100%;
	}
}

.wp-image--no-caption {}

.wp-image--caption {}
