/* -----------------------------------------------------------------------------
 *
 * Media: Images
 *
 * ----------------------------------------------------------------------------- */

img {
	margin-left: auto;
	margin-right: auto;

	.t-sink & {
		line-height: 0;
		height: auto;
		display: block;
	}
}

.wp-block-image {
	max-width: var(--grid-width-staggered);
	width: calc(100% - 2 * var(--grid-gutter-small));
	margin-left: auto;
	margin-right: auto;

	@media (--viewport-medium) {
		width: calc(100% - 2 * var(--grid-gutter-medium));
	}

	@media (--viewport-full) {
		width: calc(100% - 2 * var(--grid-gutter));
	}
}

/* -----------------------------------------------------------------------------
 * Media: Wrapper
 *
 * TinyMCE specific. Not applicable to the block editor.
 * ----------------------------------------------------------------------------- */

.wp-image {
	width: auto;
	margin: 0 auto;

	img {
		width: 100%;
	}
}

.wp-image--no-caption {}

.wp-image--caption {}
