/* -----------------------------------------------------------------------------
 *
 * Media: WP Audio & Video
 *
 * ----------------------------------------------------------------------------- */

.wp-video-shortcode.mejs-container,
.wp-audio-shortcode.mejs-container {
	margin-top: var(--spacer-70);
	margin-bottom: var(--spacer-70);
	background: var(--wp-oembed-bgd);

	.mejs-controls {
		background: var(--wp-oembed-bgd);
	}

	.mejs-overlay-button {
		background-image: none;
	}
}
