
// -----------------------------------------------------------------------------
//
// Variables: Color Palette
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Primary Palette
// -----------------------------------------------------------------------------

$primary  : #21A6CB !default;
$secondary: darken($primary, 8%) !default;


// -----------------------------------------------------------------------------
// Whites
// -----------------------------------------------------------------------------

$white:	#fff !default;


// -----------------------------------------------------------------------------
// Greys
// -----------------------------------------------------------------------------

$grey      : grey !default;
$grey-light: lighten(grey, 15%) !default;
$grey-dark : darken(grey, 15%) !default;


// -----------------------------------------------------------------------------
// Blacks
// -----------------------------------------------------------------------------

$black: #000 !default;


// -----------------------------------------------------------------------------
// Backgrounds
// -----------------------------------------------------------------------------

$bgd        : $white !default;
$bgd-content: $white !default;
$bgd-inputs : $white !default;
$bgd-login  : #f1f1f1 !default;


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

$link      : $primary !default;
$link-hover: $secondary !default;


// -----------------------------------------------------------------------------
// Text
// -----------------------------------------------------------------------------

$text: $black !default;


// -----------------------------------------------------------------------------
// Borders
// -----------------------------------------------------------------------------

$border            : $grey !default;
$border-input      : $grey-light !default;
$border-input-focus: $grey-light !default;


// -----------------------------------------------------------------------------
// Inputs
// -----------------------------------------------------------------------------

$placeholder: $text !default;


// -----------------------------------------------------------------------------
// Validation
// -----------------------------------------------------------------------------

$error   : lighten(red, 10%) !default;
$success : lighten(green, 10%) !default;
$required: $error !default;

