
// -----------------------------------------------------------------------------
//
// Variables: Color Palette
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Primary Palette
// -----------------------------------------------------------------------------

$primary  : #21A6CB !default;
$secondary: darken($primary, 8%) !default;


// -----------------------------------------------------------------------------
// Whites
// -----------------------------------------------------------------------------

$white:	#fff !default;


// -----------------------------------------------------------------------------
// Greys
// -----------------------------------------------------------------------------

$grey      : grey !default;
$grey-light: lighten(grey, 15%) !default;
$grey-dark : darken(grey, 15%) !default;


// -----------------------------------------------------------------------------
// Blacks
// -----------------------------------------------------------------------------

$black: #000 !default;


// -----------------------------------------------------------------------------
// Backgrounds
// -----------------------------------------------------------------------------

$bgd        : $white !default;
$bgd-content: $white !default;


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

$link      : $primary !default;
$link-hover: darken($primary, 15%) !default;


// -----------------------------------------------------------------------------
// Text
// -----------------------------------------------------------------------------

$text: $black !default;


// -----------------------------------------------------------------------------
// Borders
// -----------------------------------------------------------------------------

$border: $grey !default;


// -----------------------------------------------------------------------------
// Validation
// -----------------------------------------------------------------------------

$error  : red !default;
$success: green !default;

