
// -----------------------------------------------------------------------------
//
// Variables: Asset Paths / Directories
//
// Sets up asset paths (i.e. fonts, images, etc.) as variables for
// use across our scss. This allows us to not worry about our 
// resource paths that change based on dev vs. production environments.
//
// USAGE:
//
// + background-image: url(#{$images-dir}/logos/logo.png);
// + src: url('#{$fonts-dir}/icons.eot');
//
// -----------------------------------------------------------------------------

$images-dir: '/content/themes/tribe-square-one/img' !default;
$fonts-dir : '/content/themes/tribe-square-one/fonts' !default;
