
// -----------------------------------------------------------------------------
//
// Variables: Typography
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Font Stacks
// -----------------------------------------------------------------------------

$font-family-proxima-nova: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif  : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base        : $font-family-proxima-nova;


// -----------------------------------------------------------------------------
// Font Sizing
// -----------------------------------------------------------------------------

$font-size-base		: 18px !default;
$font-size-base-rem : 18px !default;

$font-size-h1       : 36px !default;
$font-size-h1-s     : 32px !default;

$font-size-h2       : 32px !default;
$font-size-h2-s     : 28px !default;

$font-size-h3       : 28px !default;
$font-size-h3-s     : 24px !default;

$font-size-h4       : 22px !default;
$font-size-h4-s     : 21px !default;

$font-size-h5       : 20px !default;
$font-size-h5-s     : 18px !default;

$font-size-h6       : 18px !default;
$font-size-h6-s     : 16px !default;

$font-size-content  : 18px !default;
$font-size-content-s: 16px !default;

$font-size-quote    : 32px !default;
$font-size-quote-s  : 21px !default;


// -----------------------------------------------------------------------------
// Font Weights
// -----------------------------------------------------------------------------

$font-weight-light   : 300 !default;
$font-weight-regular : 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold    : 700 !default;


// -----------------------------------------------------------------------------
// Line Heights
// -----------------------------------------------------------------------------

$line-height-base: 1.5 !default;
$line-height-m   : 1.33 !default;
$line-height-s   : 1.25 !default;
$line-height-ss  : 1.15 !default;
$line-height-even: 1 !default;


// -----------------------------------------------------------------------------
// Spacers (margins & padding)
// -----------------------------------------------------------------------------

$spacer    : 30px !default;
$spacer-xs : 15px !default;
$spacer-s  : 20px !default;
$spacer-m  : 35px !default;
$spacer-lg : 50px !default;
