/* -----------------------------------------------------------------------------
 *
 * Component: Card
 *
 * ----------------------------------------------------------------------------- */

.c-card {
	position: relative;
}

.c-card__header {

}

.c-card__content {

}

.c-card__title {

}

.c-card__desc {

}
