/* -----------------------------------------------------------------------------
 *
 * Integration: Swiper
 *
 * https://github.com/nolimits4web/Swiper
 *
 * This file is just a clearing-house.
 * Make partials for any actual css code.
 *
 * ----------------------------------------------------------------------------- */

@import "css/_variables.pcss";
@import "css/swiper.pcss";
