
// -----------------------------------------------------------------------------
//
// Variables: MQs
//
// -----------------------------------------------------------------------------

$mq-small  : 320px !default;
$mq-small-m: 500px !default;
$mq-small-l: 600px !default;
$mq-medium : 768px !default;
$mq-wpadmin: 783px !default;
$mq-full   : 960px !default;
$mq-large  : 1200px !default;
$mq-retina : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)" !default;