.gform_confirmation_wrapper {
	margin: var(--spacer-70) 0;
	padding: 68px 25px 80px;
	text-align: center;
	border: var(--form-border-size) solid var(--form-color-success);
	background-color: var(--form-control-bgd-color);
	border-radius: var(--form-border-radius);
	color: var(--color-text);
	position: relative;

	&:before {
		@mixin icon;

		content: var(--icon-check);
		color: var(--form-color-success);
		text-align: center;
		font-size: 65px;
	}
}

.gform_confirmation_message {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;
	letter-spacing: normal;
	text-transform: none;
	font: normal 400 20px / 1.25 var(--form-font-family);
}
