
/* -----------------------------------------------------------------------------
 *
 * Block Editor
 *
 * Adding admin styles for the Spacer Block.
 *
 * ----------------------------------------------------------------------------- */

.wp-block[data-type^="acf/spacer"] {
	.b-spacer {
		border-top: 1px dashed #c8c8c8;
		border-bottom: 1px dashed #c8c8c8;
	}
}
