/* -----------------------------------------------------------------------------
 *
 * Panels: Image + Text
 *
 * ----------------------------------------------------------------------------- */

.site-panel--imagetext {
	padding-bottom: 0;
	padding-top: 0;
}

.site-panel--imagetext-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	position: relative;
	width: 100%;

	@media (--viewport-full) {
		padding: 50px 100px;
	}
}
