
/* -------------------------------------------------------------------------
 * Anchor: Defaults
 * ------------------------------------------------------------------------- */

a {
	transition: var(--transition);
	color: inherit;
	text-decoration: none;
	outline: 0;
	cursor: pointer;

	&:visited,
	&:hover {
		color: inherit;
	}

	&:active,
	&:focus {
		outline: 1px dotted;
		color: inherit;
	}
}

/* -------------------------------------------------------------------------
 * Anchor: Full
 * ------------------------------------------------------------------------- */

.anchor,
.t-content a {
	color: var(--color-link);
	font-weight: var(--font-weight-semibold);
	padding-bottom: 1px;
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--color-link-hover);
	}
}
