
/* -------------------------------------------------------------------------
 * Paragraphs
 * ------------------------------------------------------------------------- */

p {
	@mixin body-content;
	.t-typography & {
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * HR
 * ------------------------------------------------------------------------- */

hr {
	border-top: 1px solid var(--color-border);
	.t-typography & {
		margin: var(--spacer-lg) auto;
	}
}

/* -------------------------------------------------------------------------
 *
 * Miscellaneous for items in the full kitchen sink
 *
 * Notes:
 * + Remove top margin from first element (whether element or image)
 * + Remove bottom margin from last element (whether element or image)
 * + Due to our existing solution for adding a wrapper around WordPress
 *   images without a caption, we end up with empty p tags, as such
 *   we simply hide them
 *
 * ------------------------------------------------------------------------- */

.t-typography {
	& > {
		*:empty:not(hr):not(br) {
			display: none;
		}
		*:first-child {
			margin-top: 0;
			& > img {
				margin-top: 0;
			}
		}
		.wp-image-wrap:nth-child(2) img {
			margin-top: 0;
		}
		*:last-child {
			margin-bottom: 0;
			& > img {
				margin-bottom: 0;
			}
		}
		.wp-image-wrap:nth-last-child(2) img {
			margin-bottom: 0;
		}
	}
}
