
/* -------------------------------------------------------------------------
 * Heading: H1
 * ------------------------------------------------------------------------- */

.h1,
.context-content .h1,
.context-content h1 {
	font-size: 36px;
}

h1,
.h1 {
	.context-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H2
 * ------------------------------------------------------------------------- */

.h2,
.context-content .h2,
.context-content h2 {
	font-size: 32px;
}

h2,
.h2 {
	.context-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H3
 * ------------------------------------------------------------------------- */

.h3,
.context-content .h3,
.context-content h3 {
	font-size: 28px;
}

h3,
.h3 {
	.context-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H4
 * ------------------------------------------------------------------------- */

.h4,
.context-content .h4,
.context-content h4 {
	font-size: 22px;
}

h4,
.h4 {
	.context-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H5
 * ------------------------------------------------------------------------- */

.h5,
.context-content .h5,
.context-content h5 {
	font-size: 20px;
}

h5,
.h5 {
	.context-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

/* -------------------------------------------------------------------------
 * Heading: H6
 * ------------------------------------------------------------------------- */

.h6,
.context-content .h6,
.context-content h6 {
	font-size: 18px;
}

h6,
.h6 {
	.context-content & {
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}
