
/* -------------------------------------------------------------------------
 * Global Lists
 * ------------------------------------------------------------------------- */

ul,
ol,
dl {
	.t-typography & {
		@mixin body-content;
		margin-top: var(--spacer);
		margin-bottom: var(--spacer);
	}
}

li {
	& ~ li {
		.t-typography & {
			margin-top: var(--spacer-xs);
		}
	}
}

/* -------------------------------------------------------------------------
 * UL
 * ------------------------------------------------------------------------- */

.list-bullet,
.t-typography ul {
	list-style: disc outside;
	padding-left: 1.5em;
	padding-right: 0;

	@media (--viewport-medium) {
		padding-left: 3em;
		padding-right: 3em;
	}
}

/* -------------------------------------------------------------------------
 * OL
 * ------------------------------------------------------------------------- */

.list-number,
.t-typography ol {
	list-style: decimal outside;
	padding-left: 1.5em;
	padding-right: 0;

	@media (--viewport-medium) {
		padding-left: 3em;
		padding-right: 3em;
	}
}

/* -------------------------------------------------------------------------
 * DL
 * ------------------------------------------------------------------------- */

.dl,
.t-typography dl {
	padding-left: 1.5em;
	padding-right: 0;

	@media (--viewport-medium) {
		padding-left: 3em;
		padding-right: 3em;
	}
}

.dt,
.t-typography dt {
	font-weight: var(--font-weight-bold);
}

.dd,
.t-typography dd {
	margin-bottom: var(--spacer);
}
