p {
	@mixin body-content;

	.t-content & {
		margin-bottom: var(--spacer-1);

		@media (--viewport-medium) {
			margin-bottom: var(--spacer-2);
		}
	}

	&.p-secondary {
		@mixin body-content-large;
	}
}
