
/* -----------------------------------------------------------------------------
 * Global Quotes & Blockquotes
 * ----------------------------------------------------------------------------- */

.blockquote,
blockquote,
.quote,
q {
	.context-content & {
		margin: var(--spacer) auto;
	}
}

/* -----------------------------------------------------------------------------
 * Quotes
 * ----------------------------------------------------------------------------- */

/*q,*/
.quote,
.context-content q {
	@mixin quote-base;
	@mixin quote-text;
	display: block;
}

/* -----------------------------------------------------------------------------
 * Blockquotes
 * ----------------------------------------------------------------------------- */

/*blockquote,*/
.blockquote,
.context-content blockquote {
	@mixin quote-base;
	p {
		margin: 0 auto;
		@mixin quote-text;
		& ~ p {
			margin-top: var(--spacer);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Cite
 * ----------------------------------------------------------------------------- */

/*cite,*/
.cite,
.context-content cite {
	font-style: normal;
	display: block;
}
