
/* -----------------------------------------------------------------------------
 * Global Quotes & Blockquotes
 * ----------------------------------------------------------------------------- */

.blockquote,
blockquote,
.quote,
q {

	.t-content & {
		margin: var(--spacer-s) auto;

		@media (--viewport-medium) {
			margin-top: var(--spacer);
		}
	}
}

/* -----------------------------------------------------------------------------
 * Quotes
 * ----------------------------------------------------------------------------- */

/* q */
.quote,
.t-content q {
	@mixin quote-base;
	@mixin quote-text;

	display: block;
}

/* -----------------------------------------------------------------------------
 * Blockquotes
 * ----------------------------------------------------------------------------- */

/* blockquote */
.blockquote,
.t-content blockquote {
	@mixin quote-base;

	p {
		@mixin quote-text;

		font-family: var(--font-family-calibre);
		font-weight: var(--font-weight-medium);
		color: var(--color-mine-shaft);
		margin: 0 auto;
		text-align: center;

		& ~ p {
			margin-top: var(--spacer);
		}
	}

	cite {
		color: var(--color-mine-shaft);

		@media (--viewport-full) {
			text-align: center;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Cite
 * ----------------------------------------------------------------------------- */

/* cite */
.cite,
.t-content cite {
	display: block;
	font-style: normal;
	font-family: var(--font-family-calibre);
	font-weight: var(--font-weight-light);
	font-size: var(--font-size-overline);
	line-height: var(--line-height-overline);
	text-align: center;
	text-transform: uppercase;
	position: relative;
	padding-top: 22px;
	margin-top: var(--spacer);

	&:before {
		content: '';
		width: 40px;
		height: 1px;
		background-color: var(--color-submarine);
		position: absolute;
		left: 50%;
		margin-left: -20px;
		top: 0;
	}
}
