
/* -----------------------------------------------------------------------------
 * Table
 * ----------------------------------------------------------------------------- */

.table,
.t-content table {
	font-size: var(--font-size-2);
	line-height: var(--line-height-base);
	color: var(--color-mine-shaft);
	margin: var(--spacer-2) auto;
	text-align: left;
	border-collapse: collapse;
	border: 0;
	width: 100%;
	table-layout: fixed;

	@media (--viewport-medium) {
		font-size: var(--font-size-2);
		table-layout: auto;
	}
}

/* -----------------------------------------------------------------------------
 * TH
 * ----------------------------------------------------------------------------- */

.th,
.t-content th {
	color: var(--color-mine-shaft);
	padding: 18px 24px;
	font-family: var(--font-family-calibre);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-4);
	font-size: var(--font-size-4);
	letter-spacing: 0.11px;
}

/* -----------------------------------------------------------------------------
 * TR
 * ----------------------------------------------------------------------------- */

tbody .tr,
.t-content tbody tr {

	&:nth-of-type(odd) {
		background-color: var(--color-desert-storm);
	}
}

/* -----------------------------------------------------------------------------
 * TD
 * ----------------------------------------------------------------------------- */

.td,
.t-content td {
	padding: 16px 24px;
}
