
/* -----------------------------------------------------------------------------
 * Table
 * ----------------------------------------------------------------------------- */

.table,
.t-content table {
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
	color: var(--color-mine-shaft);
	margin: var(--spacer-2) auto;
	text-align: left;
	border-collapse: collapse;
	border: 0;
	width: 100%;
	table-layout: fixed;

	@media (--viewport-medium) {
		font-size: var(--font-size-content);
		table-layout: auto;
	}
}

/* -----------------------------------------------------------------------------
 * TH
 * ----------------------------------------------------------------------------- */

.th,
.t-content th {
	color: var(--color-mine-shaft);
	padding: 14px 1em 12px;
	font-family: var(--font-family-calibre);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-sub-header);
	font-size: var(--font-size-sub-header);

	~ th {
		border: 0;
	}
}

/* -----------------------------------------------------------------------------
 * TR
 * ----------------------------------------------------------------------------- */

.tr,
.t-content tr {

	& ~ tr {
		border: 0;
	}
}

tbody tr,
.t-content tbody tr {

	&:nth-of-type(odd) {
		background-color: var(--color-desert-storm);
	}
}

/* -----------------------------------------------------------------------------
 * TD
 * ----------------------------------------------------------------------------- */

.td,
.t-content td {
	padding: 16px 24px;

	& ~ td {
		border: 0;
	}
}
