
/* -----------------------------------------------------------------------------
 *
 * Layout: Global Site Wrap
 *
 * Notes:
 * 1. "sticky" footer
 *
 * ----------------------------------------------------------------------------- */

.l-site-wrapper {
	display: flex; /* [1] */
	min-height: 100vh; /* [1] */
	flex-direction: column; /* [1] */
}

/* -----------------------------------------------------------------------------
 *
 * Layout: Main Content
 *
 * Notes:
 * 1. "sticky" footer
 *
 * ----------------------------------------------------------------------------- */

main {
	flex: 1 0 auto; /* [1] */
	padding: var(--default-section-padding) 0 0;
}
