
/* -----------------------------------------------------------------------------
 *
 * Layout: Global Site Wrap
 *
 * Notes:
 * 1. "sticky" footer
 *
 * ----------------------------------------------------------------------------- */

.l-site-wrapper {

}

/* -----------------------------------------------------------------------------
 *
 * Layout: Main Content
 *
 * Notes:
 * 1. "sticky" footer
 *
 * ----------------------------------------------------------------------------- */

main {

}
