{# Panel: Accordion #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="s-content">
		<div class="g-row"
			 data-depth="0"
			 data-name="accordions"
			 data-livetext
		>
			<div
				class="g-col"
				data-depth="0"
				data-name="content"
				data-autop="true"
				data-livetext
			>
				{{ content }}
			</div>
			<div class="g-col">
				{{ accordion }}
			</div>
		</div>
	</div>

{% endblock %}
