{# Panel: Accordion #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">
			<div class="site-grid__wrapper">

				{{ accordion }}

			</div>
		</div>
	</div>

{% endblock %}