{# Panel: Card Grid #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper"
			     data-depth="0"
			     data-name="cards"
			     data-livetext>

				{% for card in cards %}
					<div class="site-grid__col">
						{% include('components/card.twig') with {
						'card_classes' : card.card_classes,
						'card_header_classes' : card.card_header_classes,
						'image' : card.image,
						'image_classes' : card.image_classes,
						'title' : card.title,
						'title_classes' : card_title_classes,
						'heading_tag' : card.heading_tag,
						'title_attrs' : card.title_attrs,
						'card_content_classes' : card.card_content_classes,
						'desc_classes' : card.desc_classes,
						'description' : card.description,
						'desc_attrs' : card.desc_attrs,
						'url' : card.url,
						'target' : card.target,
						'label' : card.label
						} %}
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}
