{# Panel: Card Grid #}

<div class="site-section">
	<div class="l-wrapper">
		<header class="site-section__header">

			{{ title }}

			{% if description is not empty %}
				<div class="site-section__desc t-content"
				     data-depth="0"
				     data-name="description"
				     data-autop="true"
				     data-livetext>
					{{ description }}
				</div>
			{% endif %}

		</header>

		<div class="site-section__content">
			<div class="site-grid">

				<div class="site-grid__wrapper"
				     data-depth="0"
				     data-name="cards"
				     data-livetext>

					{% for card in cards %}
						<div class="site-grid__col">
							{% include('components/card.twig') with {
								'image' : card.image,
								'title' : card.title,
								'description' : card.description,
								'card_desc_attrs' : card.card_desc_attrs,
								'url' : card.url,
								'target' : card.target,
								'label' : card.label
								}
							%}
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>
