{# Panel: Card Grid #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper"
			     data-depth="0"
			     data-name="cards"
			     data-livetext>

				{% for card in cards %}
					<div class="site-grid__col">
						{{ card }}
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}
