{# Panel: Card Grid #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="s-content">
		<div class="g-row g-row--center g-row--col-3--min-full" {{ attrs }}>

			{% for card in cards %}
				<div class="g-col">
					{{ card }}
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
