{# Panel: Image Slider #}

{% extends "content/panels/panel.twig" %}

{% block wrapper_start %}{% endblock %}

	{% block header %}{% endblock %}

	{% block content %}

		<div class="site-section__content">
			<div class="site-grid">
				{{ slider }}
			</div>
		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}