{# Panel: Image Slider #}

{% extends "content/panels/panel.twig" %}

{% block wrapper_start %}{% endblock %}

	{% block header %}{% endblock %}

	{% block content %}

		<div class="s-content">
			<div class="g-row">
				<div class="g-col">
					{{ slider }}
				</div>
			</div>
		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}
