{# Panel: Card Grid #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper">

				{% include('components/slider.twig') %}

			</div>
		</div>
	</div>

{% endblock %}
