{# Panel: Hero #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block wrapper_start %}{% endblock %}

	{% block content %}

		{{ image }}

		<div class="hero__content l-container">
			<div class="{{ row_classes }}">
				<div class="{{ content_classes }}">
					{{ content_block }}
				</div>
			</div>
		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}
