{# Panel: Image + Text #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block wrapper_start %}{% endblock %}

	{% block content %}

		<div class="site-grid site-grid--no-gutters {{ wrapper_classes }}">

			<div class="site-grid__col">
				{% if image %}
					{% include('components/image.twig') %}
				{% endif %}
			</div>

			<div class="site-grid__col site-grid__col--vertical-center">
				{% include('components/card.twig') with {
				'image' : false,
				'card_classes' : desc_classes,
				'card_attrs' : desc_classes,
				'title' : title,
				'btn_url' : url,
				'btn_target' : target,
				'btn_label' : label
				} %}
			</div>

		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}