{# Panel: Image + Text #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block wrapper_start %}{% endblock %}

	{% block content %}

		<div class="site-grid site-grid--no-gutters {{ wrapper_classes }}">

			{{ image }}

			{{ card }}

		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}