{# Panel: Image + Text #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block wrapper_start %}{% endblock %}

	{% block content %}

		<div class="g-row g-row--no-gutters g-row--col-2 {{ wrapper_classes }}">

			<div class="g-col">
				{{ image }}
			</div>

			<div class="g-col g-col--vertical-center">
				<div class="site-panel__imgtxt-content">
					{{ content_block }}
				</div>
			</div>

		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}
