{# Panel: Interstitial #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block wrapper_start %}{% endblock %}

	{% block content %}

		{{ image }}

		<div class="l-wrapper u-vertical-padding">
			<div class="site-grid">
				<div class="site-grid__col--one-half">
					{{ content_block }}
				</div>
			</div>
		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}
