{# Panel: Hero Layout #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block wrapper_start %}{% endblock %}

	{% block content %}

		{{ image }}

		<div class="l-wrapper">
			<div class="site-grid">
				<div class="site-grid__col--one-half">
					<div class="site-panel--interstitial-container">

					</div>
				</div>
			</div>
		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}
