{# Panel: Logofarm #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">

		<div class="site-grid">
			<div class="site-grid__wrapper"
			     data-depth="0"
			     data-name="logos"
			     data-livetext>

				{% for logo in logos %}
					<div class="site-grid__col">
						{{ logo }}
					</div>
				{% endfor %}

			</div>
		</div>

	</div>

{% endblock %}