{# Panel: Logofarm #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">
			<div class="site-grid__wrapper">
				<div class="site-grid__col">
					{{ image }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}