{# Panel: Micro Navigation Buttons #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper">
				<div class="site-grid__layout site-grid__layout--center site-grid__layout--2-col-full"
				     data-depth="0"
				     data-name="items"
				     data-livetext>

					{% for item in items %}
						<div class="site-grid__col site-grid__col--horizontal-center">
							{{ item }}
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>

{% endblock %}
