{# Panel: Micro Navigation Buttons #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper site-grid__1-col site-grid__2-col--min-medium site-grid__4-col--min-full "
			     data-depth="0"
			     data-name="items"
			     data-livetext>

				{% for item in items %}
					<div class="site-grid__col site-grid__col--horizontal-center">
						{{ item }}
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}