{# Panel: Micro Navigation Buttons #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="s-content">
		<div class="g-row g-row--center g-row--col-2 g-row--col-4--min-full" {{ attrs }}>

			{% for item in items %}
				<div class="g-col g-col--horizontal-center">
					{{ item }}
				</div>
			{% endfor %}

		</div>
	</div>


{% endblock %}
