{# Panel: Post Loop #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="s-content">
		<div class="g-row g-row--col-2--min-small g-row--col-4--min-full"
		     data-depth="0"
		     data-name="posts"
		     data-livetext>

			{% for post in posts %}
				<div class="g-col">
					{{ post }}
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
