{# Panel: Testimonial #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper">

				{% for quote in quotes %}
					{{ quote }}
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}