{# Panel: Testimonial #}

{% extends "content/panels/panel.twig" %}

{% block wrapper_start %}
<div class="l-container {{ text_color }}">
	{% endblock %}

	{% block header %}

		{% if title %}
			<header class="s-header s-header--no-padding">
				{{ title }}
			</header>
		{% endif %}

	{% endblock %}

	{% block content %}

		{{ image }}

		<div class="s-content">
			<div class="g-row">
				{{ slider }}
			</div>
		</div>

	{% endblock %}
