{# Panel: WYSIWYG #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper site-grid__1-col site-grid__2-col--min-medium site-grid__3-col--min-full"
			     data-depth="0"
			     data-name="columns"
			     data-livetext>

				{% for col in columns %}
					<div class="site-grid__col t-content"
					     data-depth="{{ loop.index0 }}"
					     data-name="content"
					     data-autop="true"
					     data-livetext="true">
						 {{ col.content }}
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}