{# Panel: WYSIWYG #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">

			<div class="site-grid__wrapper"
			     data-depth="0"
			     data-name="columns"
			     data-livetext>

				{% for col in columns %}
					<div class="site-grid__col">

						{% include('components/wysiwyg.twig') with {
						'wysiwyg' : col.content,
						'wysiwyg_classes' : col.wysiwyg_classes,
						'wysiwyg_attrs' : col.wysiwyg_attrs
						} %}

					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}