{# Panel: WYSIWYG #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="s-content">
		<div class="g-row g-row--center g-row--col-3--min-full"
		     data-depth="0"
		     data-name="columns"
		     data-livetext>

			{% for col in columns %}
				<div class="g-col t-content"
				     data-depth="1"
					 data-index="{{ loop.index0 }}"
				     data-name="column_content"
				     data-autop="true"
				     data-livetext="true">
					{{ col.content }}
				</div>
			{% endfor %}

		</div>
	</div>


{% endblock %}
