{# Panel: Logofarm #}

<div class="s-content">
	<div class="g-row g-row--nowrap" {{ attrs }}>

		{% for logo in logos %}
			<div class="g-col g-col--horizontal-center">
				{{ logo }}
			</div>
		{% endfor %}
	</div>
</div>
