/* -----------------------------------------------------------------------------
 *
 * Loop: Default
 *
 * ----------------------------------------------------------------------------- */

.blog,
.archive,
.search,
.search-no-results {

}
