<form role="search" method="get" action="{{ home_url|esc_url }}">
	
	<label for="s">{{ lang[ 'Search Form' ]|esc_html }}</label>
	<input type="text" name="s" />
	<input type="submit" name="submit" value="{{ lang[ 'Search' ]|esc_html }}" />

</form>
