<form role="search" method="get" action="{{ home_url|esc_url }}">
	
	<label>
		<span>{{ lang[ 'Search Form' ]|esc_html }}</span>
		<input type="text" name="s" />
	</label>
	<input type="submit" name="submit" value="{{ lang[ 'Search' ]|esc_html }}" />

</form>
