<aside class="search-result-count">

    <p class="search-result-count__content">Your search for "{{ search_details.query }}" returned {{ search_details.count }} {{ search_details.results }}</p>

</aside>
