/* -----------------------------------------------------------------------------
 * Column: Modifier Column (Keeps column at a fixed width of 16%.)
 * ----------------------------------------------------------------------------- */

.g-col--one-sixth {
	@media (--viewport-medium) {
		width: 16.66%;
	}
}

/* -----------------------------------------------------------------------------
 * Column: Modifier Column (Keeps column at a fixed width of 20%.)
 * ----------------------------------------------------------------------------- */

.g-col--one-fifth {
	@media (--viewport-medium) {
		width: 20%;
	}
}

/* -----------------------------------------------------------------------------
 * Column: Modifier Column (Keeps column at a fixed width of 25%.)
 * ----------------------------------------------------------------------------- */

.g-col--one-fourth {
	@media (--viewport-medium) {
		width: 25%;
	}
}

/* -----------------------------------------------------------------------------
 * Column: Modifier Column (Keeps column at a fixed width of 33%.)
 * ----------------------------------------------------------------------------- */

.g-col--one-third {

	&.g-col-important {
		width: 33.33%;
	}

	@media (--viewport-medium) {
		width: 33.33%;
	}
}

/* -----------------------------------------------------------------------------
 * Column: Modifier Column (Keeps column at a fixed width of 50%.)
 * ----------------------------------------------------------------------------- */

.g-col--one-half {
	@media (--viewport-medium) {
		width: 50%;
	}
}

/* -----------------------------------------------------------------------------
 * Column: Modifier Column (Keeps column at a fixed width of 66%.)
 * ----------------------------------------------------------------------------- */

.g-col--two-thirds {
	@media (--viewport-medium) {
		width: 66.66%;
	}
}

/* -----------------------------------------------------------------------------
 * Column: Modifier Column (Keeps column at a fixed width of 75%.)
 * ----------------------------------------------------------------------------- */

.g-col--three-fourths {
	@media (--viewport-medium) {
		width: 75%;
	}
}
