/* -----------------------------------------------------------------------------
 * Columns: Modifier Column (Keeps column at a fixed width of 20%.)
 * ----------------------------------------------------------------------------- */

.g-row--col-5 {

	& > .g-col {
		width: 20%;
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Column (Keeps column at a fixed width of 25%.)
 * ----------------------------------------------------------------------------- */

.g-row--col-4 {

	& > .g-col {
		width: 25%;
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Column (Keeps column at a fixed width of 33%.)
 * ----------------------------------------------------------------------------- */

.g-row--col-3 {

	& > .g-col {
		width: 33.33%;
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Column (Keeps column at a fixed width of 50%.)
 * ----------------------------------------------------------------------------- */

.g-row--col-2 {

	& > .g-col {
		width: 50%;
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Kill columns and wraps and just flex.
 * ----------------------------------------------------------------------------- */

.g-row--col-reset {

	> .g-col {
		@mixin grid-column-reset;
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Columns @ --viewport-xxsmall breakpoint
 * ----------------------------------------------------------------------------- */

@media (--viewport-xxsmall) {

	.g-col {

		.g-row--col-2--min-xxsmall > & {
			width: 50%;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Columns @ --viewport-xsmall breakpoint
 * ----------------------------------------------------------------------------- */

@media (--viewport-xsmall) {

	.g-col {

		.g-row--col-2--min-xsmall > & {
			width: 50%;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Columns @ --viewport-small breakpoint
 * ----------------------------------------------------------------------------- */

@media (--viewport-small) {

	.g-col {

		.g-row--col-2--min-small > & {
			width: 50%;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Columns @ --viewport-medium breakpoint
 * ----------------------------------------------------------------------------- */

@media (--viewport-medium) {

	.g-col {

		.g-row--col-2--min-medium > & {
			width: 50%;
		}

		.g-row--col-reset--min-medium > & {
			@mixin grid-column-reset;
		}
	}
}

/* -----------------------------------------------------------------------------
 * Columns: Modifier Columns @ --viewport-full breakpoint
 * ----------------------------------------------------------------------------- */

@media (--viewport-full) {

	.g-col {

		.g-row--col-2--min-full > & {
			width: 50%;
		}

		.g-row--col-3--min-full > & {
			width: 33.33%;
		}

		.g-row--col-4--min-full > & {
			width: 25%;
		}

		.g-row--col-5--min-full > & {
			width: 20%;
		}
	}
}
