:root {

	/* -----------------------------------------------------------------------------
	 * Primary Palette
	 * ----------------------------------------------------------------------------- */

	--primary: #21a6cb;
	--secondary: darken(var(--primary), .08);

	/* -----------------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------------- */

	--white: #fff;

	/* -----------------------------------------------------------------------------
	 * Greys
	 * ----------------------------------------------------------------------------- */

	--grey-light: lighten(var(--grey), .15);
	--grey: grey;
	--grey-dark: darken(var(--grey), .15);

	/* -----------------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------------- */

	--black: #000;

	/* -----------------------------------------------------------------------------
	 * Backgrounds
	 * ----------------------------------------------------------------------------- */

	--bgd: var(--white);
	--bgd-content: var(--white);
	--bgd-inputs: var(--white);
	--bgd-login: #f1f1f1;

	/* -----------------------------------------------------------------------------
	 * Links
	 * ----------------------------------------------------------------------------- */

	--link: var(--primary);
	--link-hover: var(--secondary);

	/* -----------------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------------- */

	--text: var(--black);

	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--border: var(--grey);
	--border-input: var(--grey-light);
	--border-input-focus: var(--grey-light);

	/* -----------------------------------------------------------------------------
	 * Inputs
	 * ----------------------------------------------------------------------------- */

	--placeholder: var(--text);

	/* -----------------------------------------------------------------------------
	 * Validation
	 * ----------------------------------------------------------------------------- */

	--error: lighten(red, .1);
	--success: lighten(green, .1);
	--required: var(--error);

}