:root {

	--embed-bgd-color: #333;
	--embed-color-focus: var(--primary);

	--embed-caption-bgd-color: rgba(0, 0, 0, .7);
	--embed-caption-bgd-color-mobile: rgba(0, 0, 0, .4);
	--embed-caption-border: rgba(255, 255, 255, .2);
	--embed-caption-color: var(--white);

	--embed-prompt: var(--primary);
	--embed-prompt-mobile: var(--white);

	--embed-icon-border: transparent;
	--embed-icon-border-hover: var(--white);

}
