:root {
	--embed-bgd-color: #333;
	--embed-color-focus: var(--color-primary);
	--embed-caption-bgd-color: rgba(0, 0, 0, 0.7);
	--embed-caption-bgd-color-mobile: rgba(0, 0, 0, 0.4);
	--embed-caption-border: rgba(255, 255, 255, 0.2);
	--embed-caption-color: var(--color-white);
	--embed-prompt: var(--color-primary);
	--embed-prompt-mobile: var(--color-white);
	--embed-icon-border: transparent;
	--embed-icon-border-hover: var(--color-white);
}
