@custom-media --viewport-xs (min-width: 320px);
@custom-media --viewport-s (min-width: 500px);
@custom-media --viewport-xm (min-width: 600px);
@custom-media --viewport-m (min-width: 768px);
@custom-media --viewport-wpadmin (min-width: 783px);
@custom-media --viewport-f (min-width: 960px);
@custom-media --viewport-lg (min-width: 1200px);
@custom-media --viewport-retina (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx);