
/* Media Queries */

$mq-small  : 320px;
$mq-small-m: 500px;
$mq-small-l: 600px;
$mq-medium : 768px;
$mq-wpadmin: 783px;
$mq-full   : 960px;
$mq-large  : 1200px;
$mq-retina : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)";