:root {
	/* -----------------------------------------------------------------------------
	 * Spacers (margin & padding)
	 * ----------------------------------------------------------------------------- */

	/* Vertical Spacing */
	--spacer-xs: 8px;
	--spacer-s: 16px;
	--spacer: 24px;
	--spacer-m: 32px;
	--spacer-lg: 48px;
	--spacer-xlg: 64px;
	--spacer-xxlg: 960px;
	--spacer-xxxlg: 160px;

	/* Horizontal Spacing */
	--spacer-w: 48px;
	--spacer-w-half: 24px;
	--spacer-w-s: 24px;
	--spacer-w-s-half: 12px;

	/* -----------------------------------------------------------------------------
	 * Spacers (WP Admin Bar)
	 * ----------------------------------------------------------------------------- */

	--spacer-wpadmin-mobile: 46px;
	--spacer-wpadmin-desktop: 32px;
}
