:root {
	/* -----------------------------------------------------------------------------
	 * Spacers (margin & padding)
	 * ----------------------------------------------------------------------------- */

	--spacer-0: 8px;
	--spacer-1: 16px;
	--spacer-2: 24px;
	--spacer-3: 32px;
	--spacer-4: 48px;
	--spacer-5: 64px;
	--spacer-6: 96px;
	--spacer-7: 160px;

	/* -----------------------------------------------------------------------------
	 * Spacers (WP Admin Bar)
	 * ----------------------------------------------------------------------------- */

	--spacer-wpadmin-mobile: 46px;
	--spacer-wpadmin-desktop: 32px;
}
