:root {
	/* -----------------------------------------------------------------------------
	 * Font Stacks
	 * ----------------------------------------------------------------------------- */

	--font-family-core-icons: 'core-icons';
	--font-family-calibre: "calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-tiempos: "tiempos", Georgia, "Times New Roman", sans-serif;
	--font-family-apercu: "apercu", monospace;
	--font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-base: var(--font-family-tiempos);

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-base: 16px;
	--font-size-body: 16px;
	--font-size-body-l: 20px;
	--font-size-body-s: 14px;

	/* -----------------------------------------------------------------------------
	 * Font Weights
	 * ----------------------------------------------------------------------------- */

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* -----------------------------------------------------------------------------
	 * Line Heights
	 * ----------------------------------------------------------------------------- */

	--line-height-base: 2;
	--line-height-xl: 1.9;
	--line-height-l: 1.4;
	--line-height-m: 1.4;
	--line-height-s: 1.25;
	--line-height-ss: 1.15;
	--line-height-even: 1;

	/* -----------------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------------- */

	--border-radius-base: 4px;
	--border-radius-round: 50%;
}
