:root {
	/* -----------------------------------------------------------------------------
	 * Font Stacks
	 * ----------------------------------------------------------------------------- */

	--font-family-core-icons: 'core-icons';
	--font-family-calibre: "calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-tiempos: "tiempos", Georgia, "Times New Roman", sans-serif;
	--font-family-apercu: "apercu", monospace;
	--font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-base: var(--font-family-tiempos);

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-0: 12px;
	--font-size-1: 14px;
	--font-size-2: 16px;
	--font-size-3: 18px;
	--font-size-4: 20px;
	--font-size-5: 22px;
	--font-size-6: 24px;
	--font-size-7: 28px;
	--font-size-8: 32px;
	--font-size-9: 40px;
	--font-size-10: 48px;
	--font-size-11: 64px;


	/* -----------------------------------------------------------------------------
	 * Font Weights
	 * ----------------------------------------------------------------------------- */

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* -----------------------------------------------------------------------------
	 * Line Heights
	 * ----------------------------------------------------------------------------- */

	--line-height-0: 1;
	--line-height-1: 1.15;
	--line-height-2: 1.25;
	--line-height-3: 1.333;
	--line-height-4: 1.4;
	--line-height-5: 1.6;
	--line-height-6: 1.9;
	--line-height-7: 2;
	--line-height-base: var(--line-height-7);
	--line-height-even: var(--line-height-0);

	/* -----------------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------------- */

	--border-radius-base: 4px;
	--border-radius-round: 50%;
}
