/* -----------------------------------------------------------------------------
 *
 * Utility Classes: Clearfix
 *
 * ----------------------------------------------------------------------------- */

.u-clearfix {
	@mixin clearfix;
}
