/* -----------------------------------------------------------------------------
 *
 * Component: Document Header
 *
 * ----------------------------------------------------------------------------- */

/* WP Admin Bar */
#wpadminbar {
	position: fixed !important;
}
