:root {
	--swiper-theme-color: #007aff;
	--swiper-navigation-size: 44px;
	--swiper-navigation-color: var(--swiper-theme-color);
	--swiper-pagination-color: var(--swiper-theme-color);
	--swiper-preloader-color: var(--swiper-theme-color);
}
