/* -----------------------------------------------------------------------------
 *
 * Component: Dialog Variables
 *
 * ----------------------------------------------------------------------------- */

:root {
	--dialog-header-height: 68px;
}
