/* -----------------------------------------------------------------------------
 *
 * Grid: Base
 *
 * Example Markup:
 *
 * <div class="site-grid__row">
 *	  <div class="site-grid__wrapper">
 *		<div class="site-grid__col">
 *			<p>Component or another grid layout, perhaps?</p>
 *		</div>
 *	  </div>
 * </div>
 *
 * ----------------------------------------------------------------------------- */

.site-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;

	@media (--viewport-medium) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Center
 * ----------------------------------------------------------------------------- */

.site-grid--center {
	justify-content: center;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Pull Right
 * ----------------------------------------------------------------------------- */

.site-grid--pull-right {
	justify-content: flex-end;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Reorder 2 Columns
 * ----------------------------------------------------------------------------- */

.site-grid--reorder-2-col {

	> .site-grid__col:first-child {
		order: 2;
	}

	> .site-grid__col:last-child {
		order: 1;
	}
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Remove Gutters
 * ----------------------------------------------------------------------------- */

.site-grid--no-gutters {

	> .site-grid__col {
		margin: 0;

		&:nth-child(2n),
		&:nth-child(3n),
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}

.site-grid__layout--2-col.site-grid--no-gutters {

	> .site-grid__col {
		width: 100%;

		@media (--viewport-medium) {
			width: 50%;
		}
	}
}

.site-grid__layout--3-col.site-grid--no-gutters {

	> .site-grid__col {
		width: 100%;

		@media (--viewport-medium) {
			width: calc(100% / 3);
		}
	}
}

.site-grid__layout--4-col.site-grid--no-gutters {

	> .site-grid__col {
		width: 100%;

		@media (--viewport-medium) {
			width: 25%;
		}
	}
}

.site-grid__wrapper {
	display: flex;
	flex-direction: column;
	max-width: var(--grid-width);
	margin: 0 auto;
	width: 100%;

	@media (--viewport-medium) {
		flex-direction: row;
	}
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Wrapper Bleed
 * ----------------------------------------------------------------------------- */

.site-grid__wrapper--bleed {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}
