/* -----------------------------------------------------------------------------
 *
 * Grid: Base
 *
 * Example Markup:
 *
 * <div class="site-grid__row">
 *	  <div class="site-grid__wrapper">
 *		<div class="site-grid__col">
 *			<p>Component or another grid layout, perhaps?</p>
 *		</div>
 *	  </div>
 * </div>
 *
 * ----------------------------------------------------------------------------- */

.site-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

	@media (--viewport-medium) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Force column on breakpoint full
 * ----------------------------------------------------------------------------- */

.site-grid--vertical-center {
	align-items: center;
	height: 100%;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Center
 * ----------------------------------------------------------------------------- */

.site-grid--center {
	justify-content: center;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Pull Right
 * ----------------------------------------------------------------------------- */

.site-grid--pull-right {
	justify-content: flex-end;
}

/* -----------------------------------------------------------------------------
 * Grid: Modifier Reorder 2 Columns
 * ----------------------------------------------------------------------------- */

.site-grid--reorder-2-col {

	> .site-grid__col:first-child {
		order: 2;
	}

	> .site-grid__col:last-child {
		order: 1;
	}
}
