/* -----------------------------------------------------------------------------
 *
 * Layouts: Layout Types
 *
 * Example Markup:
 *
 * <div class="site-grid">
 *	  <div class="site-grid__wrapper">
 *		 <div class="site-grid__2-col">
 *			<div class="site-grid__col">
 *				<p>Component</p>
 *			</div>
 *			<div class="site-grid__col">
 *				<p>Component</p>
 *			</div>
 *		 </div>
 *	  </div>
 * </div>
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Layout: 1 Column Wrap
 * ----------------------------------------------------------------------------- */

.site-grid__1-col {
	@mixin one-col-wrap;
}

/* -----------------------------------------------------------------------------
 * Layout: 2 Column Wrap
 * ----------------------------------------------------------------------------- */

.site-grid__2-col {
	@mixin two-col-wrap;
}

/* Break to a 2 col at breakpoint small */

.site-grid__2-col--min-small {
	@media (--viewport-small) {
		@mixin two-col-wrap;
	}
}

/* Break to a 2 col at breakpoint medium */

.site-grid__2-col--min-medium {
	@media (--viewport-medium) {
		@mixin two-col-wrap;
	}
}

/* Break to a 2 col at breakpoint full */

.site-grid__2-col--min-full {
	@media (--viewport-full) {
		@mixin two-col-wrap;
	}
}

/* -----------------------------------------------------------------------------
 * Layout: 3 Column Wrap
 * ----------------------------------------------------------------------------- */

.site-grid__3-col {
	@mixin three-col-wrap;
}

/* Break to a 3 col at breakpoint full */

.site-grid__3-col--min-full {
	@media (--viewport-full) {
		@mixin three-col-wrap;
	}
}

/* -----------------------------------------------------------------------------
 * Layout: 4 Column Wrap
 * ----------------------------------------------------------------------------- */

.site-grid__4-col {
	@mixin four-col-wrap;
}

/* Break to a 4 col at breakpoint full */

.site-grid__4-col--min-full {
	@media (--viewport-full) {
		@mixin four-col-wrap;
	}
}

/* -----------------------------------------------------------------------------
 * Layout: Weighted Left
 * ----------------------------------------------------------------------------- */

.site-grid__weighted-right {

	> .site-grid__col {
		flex: none;

		&:first-child {
			width: calc(30% - (var(--grid-gutter) - (var(--grid-gutter) / 2)));
		}

		&:last-child {
			margin-right: var(--grid-gutter);
			width: calc(70% - (var(--grid-gutter) - (var(--grid-gutter) / 2)));
		}
	}
}

/* -----------------------------------------------------------------------------
 * Layout: Weighted Left
 * ----------------------------------------------------------------------------- */

.site-grid__weighted-left {
	flex-direction: row;
	flex-wrap: wrap;

	> .site-grid__col {
		flex: none;

		&:first-child {
			width: calc(70% - (var(--grid-gutter) - (var(--grid-gutter) / 2)));
		}

		&:last-child {
			margin-right: var(--grid-gutter);
			width: calc(30% - (var(--grid-gutter) - (var(--grid-gutter) / 2)));
		}
	}
}

/* -----------------------------------------------------------------------------
 * Layout: Kill columns and wraps and just flex.
 * ----------------------------------------------------------------------------- */

.site-grid__kill-col-wrap {
	@mixin kill-col-wrap;
}

.site-grid__kill-col--min-medium {
	@media (--viewport-medium) {
		@mixin kill-col-wrap;
	}
}
