/* -----------------------------------------------------------------------------
 *
 * Variables: Forms
 *
 * ----------------------------------------------------------------------------- */

:root {

	/* -----------------------------------------------------------------------------
	 * Colors
	 * ----------------------------------------------------------------------------- */

	--form-color: var(--color-text);
	--form-color-secondary: var(--color-neutral-50);
	--form-color-error: red;
	--form-color-required: var(--form-color-error);
	--form-color-success: green;

	/* -----------------------------------------------------------------------------
	 * Fonts
	 * ----------------------------------------------------------------------------- */

	--form-font-family: var(--font-family-base);
	--form-font-size: 16px;
	--form-font-size-secondary: 14px; /* Label & Legend */
	--form-font-weight-secondary: 600; /* Label & Legend */
	--form-font-size-tertiary: 11px; /* Helper Text & Descriptions */
	--form-font-weight-tertiary: 400; /* Helper Text & Descriptions */
	--form-letter-spacing: normal;
	--form-text-transform: none;

	/* -----------------------------------------------------------------------------
	 * Spacing
	 * ----------------------------------------------------------------------------- */

	--form-margin: 28px;
	--form-margin-small: var(--spacer-10); /* Radio/Checkbox Controls, Helper Text */
	--form-padding-horizontal: var(--spacer-20);
	--form-padding-vertical: 12px;

	/* -----------------------------------------------------------------------------
	 * Placeholder
	 * ----------------------------------------------------------------------------- */

	--form-placeholder-color: var(--color-neutral-50);
	--form-placeholder-color-focus: lighten(var(--form-placeholder-color), 0.25);
	--form-placeholder-font-style: normal;
	--form-placeholder-font-weight: 400;
	--form-placeholder-font-size: var(--form-font-size);
	--form-placeholder-font-line-height: inherit;
	--form-placeholder-font-family: var(--form-font-family);
	--form-placeholder-letter-spacing: var(--form-letter-spacing);
	--form-placeholder-text-transform: var(--form-text-transform);

	/* -----------------------------------------------------------------------------
	 * Controls
	 * ----------------------------------------------------------------------------- */

	--form-control-bgd-color: var(--color-white);
	--form-control-border-color: var(--color-neutral-20);
	--form-control-border-color-focus: var(--color-neutral-90);
	--form-control-border-radius: 0;
	--form-control-border-size: 1px;
	--form-control-border-size-focus: var(--form-control-border-size);
	--form-control-color: var(--form-color);
	--form-control-font-style: normal;
	--form-control-font-weight: 400;
	--form-control-font-size: var(--form-font-size);
	--form-control-font-line-height: 1.5;
	--form-control-font-family: var(--form-font-family);
	--form-control-height: 48px;
	--form-control-letter-spacing: var(--form-letter-spacing);
	--form-control-margin-bottom: var(--form-margin);
	--form-control-padding: 0 var(--form-padding-horizontal);
	--form-control-text-transform: var(--form-text-transform);

	/* -----------------------------------------------------------------------------
	 * Control Icon
	 * ----------------------------------------------------------------------------- */

	--form-control-icon-color: lightgrey;
	--form-control-icon-font-size: 20px;
	--form-control-icon-line-height: var(--form-control-height);
	--form-control-icon-width: var(--form-control-height);
	--form-control-icon-padding-right: var(--form-control-icon-width);
	--form-control-icon-position-right: 0;
	--form-control-icon-position-top: 0;

	/* -----------------------------------------------------------------------------
	 * Control: Textarea
	 * ----------------------------------------------------------------------------- */

	--form-control-textarea-height: 225px;
	--form-control-textarea-padding: 14px var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Control: Select
	 * ----------------------------------------------------------------------------- */

	--form-control-select-padding-right: calc(var(--form-control-select-ui-width) + var(--form-padding-horizontal));
	--form-control-select-ui-color: var(--color-grey-dark);
	--form-control-select-ui-width: var(--form-control-height);

	/* -----------------------------------------------------------------------------
	 * Control: Radio & Checkbox
	 * ----------------------------------------------------------------------------- */

	--form-control-radio-checkbox-margin-top: var(--spacer-30);
	--form-control-radio-checkbox-ui-border-color: var(--form-control-border-color);
	--form-control-radio-checkbox-ui-border-color-focus: var(--form-control-border-color-focus);
	--form-control-radio-checkbox-ui-border-size: var(--form-control-border-size);
	--form-control-radio-checkbox-ui-border-size-focus: var(--form-control-border-size-focus);
	--form-control-radio-checkbox-ui-color: var(--color-grey-dark);
	--form-control-checkbox-ui-border-size: 2px;

	/* -----------------------------------------------------------------------------
	 * Control: File
	 * ----------------------------------------------------------------------------- */

	--form-control-file-padding: var(--form-padding-vertical) var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Control Helper Text
	 * ----------------------------------------------------------------------------- */

	--form-control-helper-font-weight: var(--form-font-weight-tertiary);
	--form-control-helper-font-size: var(--form-font-size-tertiary);
	--form-control-helper-font-line-height: 1.15;
	--form-control-helper-font-family: var(--form-font-family);
	--form-control-helper-letter-spacing: var(--form-letter-spacing);
	--form-control-helper-text-transform: var(--form-text-transform);

}
