/* -----------------------------------------------------------------------------
 *
 * Forms: Fieldset
 *
 * ----------------------------------------------------------------------------- */

fieldset {

}

/* -------------------------------------------------------------------------
 * Fieldset, Styled
 * Note: Styled fieldset to go along with styled legend
 * ------------------------------------------------------------------------- */

.form-fieldset {
	margin: 0 0 var(--form-margin);
	padding: var(--form-padding-vertical) var(--form-padding-horizontal);
	border: var(--form-control-border-size) solid var(--form-control-border-color);
	border-radius: var(--form-control-border-radius);
}
