/* -----------------------------------------------------------------------------
 *
 * Forms: Labels
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Label
 * ------------------------------------------------------------------------- */

.form-control-label,
.t-sink label {
	display: block;
	margin-bottom: var(--spacer-10);
	color: var(--form-color);
	letter-spacing: var(--form-letter-spacing);
	text-transform: var(--form-text-transform);
	font: normal 600 var(--form-font-size-secondary) / 20px var(--form-font-family);
}

/* -------------------------------------------------------------------------
 * Form Control Helper
 * ------------------------------------------------------------------------- */

.form-control-helper {
	@mixin form-control-helper;
}
