/* -----------------------------------------------------------------------------
 *
 * Forms: Legend
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Legend
 * Note: By default, styled to match the label
 * ------------------------------------------------------------------------- */

legend {
	display: block;
	margin-bottom: var(--spacer-20);
	color: var(--form-color);
	letter-spacing: var(--form-letter-spacing);
	text-transform: var(--form-text-transform);
	font: normal var(--form-font-weight-secondary) var(--form-font-size-secondary) / 1 var(--form-font-family);
}

/* -------------------------------------------------------------------------
 * Legend, Styled
 * Note: Styled legend to go along with styled fieldset
 * ------------------------------------------------------------------------- */

.form-legend {
	color: var(--form-color);
	margin-bottom: var(--spacer-20);
	padding: 0 8px;
	text-align: left;
	letter-spacing: var(--form-letter-spacing);
	text-transform: var(--form-text-transform);
	font: normal var(--form-font-weight-secondary) var(--form-font-size-secondary) / 1 var(--form-font-family);
}
