
/* -----------------------------------------------------------------------------
 * Blockquotes
 * ----------------------------------------------------------------------------- */

/* blockquote */
.blockquote,
.t-content blockquote {
	@mixin quote-base;

	p {
		font-family: var(--font-calibre-medium);
		color: var(--sq1-color-mine-shaft);
	}

	cite {
		color: var(--sq1-color-mine-shaft);
	}
}

/* -----------------------------------------------------------------------------
 * Cite
 * ----------------------------------------------------------------------------- */

/* cite */
.cite,
.t-content cite {
	position: relative;
	font-family: var(--font-calibre);
	padding-top: 22px;
	margin-top: 25px;

	&:before {
		content: '';
		width: 40px;
		height: 1px;
		background-color: var(--sq1-color-submarine);
		position: absolute;
		left: 50%;
		margin-left: -20px;
		top: 0;
	}
}
