/* -----------------------------------------------------------------------------
 *
 * Component: Search
 *
 * ----------------------------------------------------------------------------- */

.c-search {

}

.c-search__label {

}

.c-search__input {

}
