/* -----------------------------------------------------------------------------
 *
 * Section: Descriptions (This is the block of content after the panel title.)
 *
 * ----------------------------------------------------------------------------- */

.site-section__desc {

	p:only-of-type {
		margin-bottom: 0;
	}
}
