:root {
	/* -----------------------------------------------------------------------------
	 * General
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Complex Layouts
	 * ----------------------------------------------------------------------------- */

	--gf-control-complex-gutter: var(--spacer-10);

	/* -----------------------------------------------------------------------------
	 * Control: File
	 * ----------------------------------------------------------------------------- */

	--gf-control-file-border-color: var(--form-border-color);
	--gf-control-file-border-size: var(--form-border-size);

	/* -----------------------------------------------------------------------------
	 * Control: Textarea
	 * ----------------------------------------------------------------------------- */

	--gf-control-textarea-padding-bottom: calc(var(--gf-control-textarea-counter-height) + 10px);
	--gf-control-textarea-counter-height: 30px;

	/* -----------------------------------------------------------------------------
	 * Control: Time & Date
	 * ----------------------------------------------------------------------------- */

	--gf-control-time-date-margin-bottom: -11px;

}
