:root {
	/* -----------------------------------------------------------------------------
	 * General
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Complex Layouts
	 * ----------------------------------------------------------------------------- */

	--gf-control-complex-gutter: var(--spacer-10);

	/* -----------------------------------------------------------------------------
	 * Control: File
	 * ----------------------------------------------------------------------------- */

	--gf-control-file-border-color: var(--form-border-color);
	--gf-control-file-border-size: var(--form-border-size);

	/* -----------------------------------------------------------------------------
	 * Control: Time & Date
	 * ----------------------------------------------------------------------------- */

	--gf-control-time-date-margin-bottom: -11px;

}
