/* -----------------------------------------------------------------------------
 * Headings
 * ----------------------------------------------------------------------------- */

.gform_heading {
	margin-bottom: var(--spacer-40);
}

/* -----------------------------------------------------------------------------
 * Descriptions
 * ----------------------------------------------------------------------------- */

.gform_description {
	@mixin t-body-small;

	text-rendering: optimizeLegibility;
}

/* -----------------------------------------------------------------------------
 * Descriptions & Text Helpers
 * ----------------------------------------------------------------------------- */

.gfield_description,
.instruction {
	@mixin form-control-helper;

	margin-bottom: var(--spacer-30);
	max-width: 600px;
}

.instruction {
	display: none;
}
