<div class="component-preview">
    <h3>Preview</h3>
    <div class="component-preview__rendered" data-js="component-rendered-preview">
        {{ rendered }}
    </div>

    <h3>Source</h3>
    <div class="component-preview__source">
        <pre class="prettyprint">{{ rendered|escape }}</pre>
    </div>
</div>