/* -----------------------------------------------------------------------------
 *
 * Component: Panel: Lead Form
 *
 * ----------------------------------------------------------------------------- */

.c-panel--lead-form {
	position: relative;
	display: flex;
	align-items: center;
	padding: var(--spacer-80) 0;
	background-color: var(--color-grey-dark);

	@media (--viewport-full) {
		padding: var(--spacer-90) 0;
	}
}

/* -----------------------------------------------------------------------------
 * Lead Form: Content
 * ----------------------------------------------------------------------------- */

.lead-form__content {
	position: relative;
}
