/* -----------------------------------------------------------------------------
 * Image Field:
 * + Give it a border and hide the 'no image selected' text
 * ----------------------------------------------------------------------------- */

.block-editor {
	/* hide the 'No Image Selected' text for the image field */
	.acf-block-component .acf-image-uploader p {
		font-size: 0;
	}

	/* Give the image field a border */
	.acf-field-image .acf-input {
		border: 1px solid #ccd0d4;
		padding: 12px;
	}
}
