/* -----------------------------------------------------------------------------
 *
 * Block Editor
 *
 * This file is just a clearing-house. Make partials for any actual code.
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Base block-editor styles
 * ----------------------------------------------------------------------------- */

@import "editor.pcss";

/* -----------------------------------------------------------------------------
 * Base block styles
 * ----------------------------------------------------------------------------- */

@import "core.pcss";
@import "alignments.pcss";
