/* -----------------------------------------------------------------------------
 *
 * Block Editor
 *
 * This file is just a clearing-house. Make partials for any actual code.
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Core WP block editor styles
 * ----------------------------------------------------------------------------- */

@import "editor.pcss";

/* -----------------------------------------------------------------------------
 * Core WP block styles
 * ----------------------------------------------------------------------------- */

@import "blocks.pcss";
