/* -----------------------------------------------------------------------------
 *
 * Styles that apply to the general block editor.
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Global Styles
 * ----------------------------------------------------------------------------- */

.editor-styles-wrapper {
	font: 400 normal 100% / 1.5 var(--font-family-base);
	color: var(--color-text);
	background: var(--color-bgd);

	/* Disable WP Core's vertical spacing. */
	.block-editor-block-list__block {
		margin-top: 0;
		margin-bottom: 0;
	}

	/* -----------------------------------------------------------------------------
	 * Headings
	 *
	 * Override WP-Core's Common wp-admin styles which are applied universally
	 * in the admin.
	 * ----------------------------------------------------------------------------- */

	h1,
	h2,
	h3 {
		color: var(--color-text);
		margin: 0;
	}

}
