
// -----------------------------------------------------------------------------
//
// Default Label
//
// -----------------------------------------------------------------------------

%label {
	display: block;
	margin-bottom: $spacer-xs;
}

// -----------------------------------------------------------------------------
//
// Default input field focus
//
// -----------------------------------------------------------------------------

%field-focus {
	&:focus {
		border-color: $border-input-focus;
		box-shadow: 0 0 0 1px $border-input-focus;
		&::-webkit-input-placeholder {
			color: lighten($placeholder, 12%);
		}
		&:-moz-placeholder {
			color: lighten($placeholder, 12%);
		}
		&::-moz-placeholder {
			color: lighten($placeholder, 12%);
		}
		&:-ms-input-placeholder {
			color: lighten($placeholder, 12%);
		}
	}
}