
// -----------------------------------------------------------------------------
//
// MQ Visibility Class: Mobile Only
//
// -----------------------------------------------------------------------------

%show-mobile-only {
	// MQ: Tablet
	@include mq($mq-medium) {
		display: none;
		visibility: hidden;
	}
	// NO MQ
	//@include no-mq {
	//	display: none;
	//	visibility: hidden;
	//}
}

// -----------------------------------------------------------------------------
//
// MQ Visibility Class: Show Tablet +
//
// -----------------------------------------------------------------------------

%show-tablet-up {
	display: none;
	visibility: hidden;
	// MQ: Tablet
	@include mq($mq-medium) {
		display: block;
		visibility: visible;
	}
	// NO MQ
	//@include no-mq {
	//	display: block;
	//	visibility: visible;
	//}
}

// -----------------------------------------------------------------------------
//
// MQ Visibility Class: Show Desktop +
//
// -----------------------------------------------------------------------------

%show-desktop-up {
	display: none;
	visibility: hidden;
	// MQ: Desktop
	@include mq($mq-full) {
		display: block;
		visibility: visible;
	}
	// NO MQ
	//@include no-mq {
	//	display: block;
	//	visibility: visible;
	//}
}

// -----------------------------------------------------------------------------
//
// Hide from both screenreaders and browsers
//
// @author: h5bp.com/u
//
// -----------------------------------------------------------------------------

%hidden {
    display: none !important;
    visibility: hidden;
}

// -----------------------------------------------------------------------------
//
// Hide only visually, but have it available for screenreaders
//
// @author: h5bp.com/v
//
// -----------------------------------------------------------------------------

%visually-hide,
.accessibility,
.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// -----------------------------------------------------------------------------
//
// Show element after has been hidden with %visually-hide
//
// -----------------------------------------------------------------------------

%visually-show {
	clip: auto;
  	width: auto;
  	height: auto;
  	margin: 0;
  	position: static;
}
