/* -----------------------------------------------------------------------------
 *
 * Component: Video
 *
 * ----------------------------------------------------------------------------- */

.c-video__embed {

	a {
		border-bottom: 0;
		padding-bottom: 0;
	}
}
