/* -----------------------------------------------------------------------------
 *
 * Component: Unsupported Browser
 *
 * This file is just a clearing-house, see the css directory
 * and edit the source files found there.
 *
 * TODO: This is a component right now. But it should't be. It's a snowflake.
 *
 * ----------------------------------------------------------------------------- */

@import "css/_variables.pcss";
@import "css/unsupported-browser.pcss";
