.wp-block[data-type="tribe/accordion"] {
	max-width: 800px;
}

.wp-block[data-type="tribe/accordion-section"] {
	margin: 0;
	max-width: 800px;
}

.c-accordion__header {
	font: 400 normal 100% / 1.5 var(--font-family-base);
	color: var(--color-text);
	margin: 0;
}
