/* -----------------------------------------------------------------------------
 *
 * Section: Header
 *
 * ----------------------------------------------------------------------------- */

.s-header {
	padding-bottom: var(--spacer-lg);
	position: relative;
	text-align: center;
	z-index: 1;
}

.s-header--no-padding {
	padding: 0;
}
