:root {
	// Primary Pallatte
	--sq1-color-java: #1ca8c7;
	--sq1-color-pickled-bluewood: #2b474f;
	--sq1-color-matisse: #1a7f9d;
	--sq1-color-gossamer: #078e87;
	--sq1-color-mandy: #e4554a;
	--sq1-color-casablanca: #f4af49;
	--sq1-color-saffron-mango: #f8ce4d;

	// Greyscale
	--sq1-color-mine-shaft: #222;
	--sq1-color-outer-space: #323738;
	--sq1-color-nevada: #606a6b;
	--sq1-color-submarine: #b9c2c3;
	--sq1-color-desert-storm: #f2f1f0;
	--sq1-color-white: #fff;
}
