name: Deploy Review App

on:
  pull_request:
    types: [ opened, closed, synchronize ]


# workflows don't support env
# so values are duplicated

jobs:
  create_review_app:
    if: (github.event_name == 'pull_request' && github.event.action == 'opened' || github.event.action == 'synchronize')
    uses: moderntribe/actions/.github/workflows/create-review-app.yml@fix_create_review_app
    with:
      app_name: sq1
    secrets:
      github_pat_token: ${{ secrets.GH_BOT_TOKEN }}
      server: ${{ secrets.TEST_DOMAIN }}

  deploy_review_app:
    if: (github.event_name == 'pull_request' && github.event.action == 'opened' || github.event.action == 'synchronize')
    uses: moderntribe/square-one/.github/workflows/dokku-deploy.yml@main
    with:
      app_name: sq1
      branch: ${{ github.event.pull_request.head.ref }}
      is_review_app: true
    secrets:
      github_pat_token: ${{ secrets.GH_BOT_TOKEN }}
      server: ${{ secrets.TEST_DOMAIN }}
      ssh_private_key: ${{ secrets.DOKKU_DEPLOY_KEY }}
      slack_webhook: ${{ secrets.SLACK_WEBHOOK }}

  destroy_review_app:
    if: (github.event_name == 'pull_request' && github.event.action == 'closed')
    uses: moderntribe/actions/.github/workflows/delete-review-app.yml@v1
    with:
      app_name: sq1
    secrets:
      github_pat_token: ${{ secrets.GH_BOT_TOKEN }}
      server: ${{ secrets.TEST_DOMAIN }}
