/* -----------------------------------------------------------------------------
 *
 * Variables: WP-Admin
 *
 * ----------------------------------------------------------------------------- */

:root {
	/* -----------------------------------------------------------------------------
	 * Colors
	 * ----------------------------------------------------------------------------- */

	--sidebar-width: 312px;
	--color-bgd-login: var(--color-grey-light);
}
