/*
 * WordPress admin CSS
 *
 * This css files includes are loaded globally in the admin. Use this for all other admin css.
 *
 */

@import "../theme/utilities/variables/_colors.pcss";
@import "../theme/utilities/variables/_media-queries.pcss";
@import "../theme/utilities/variables/_transitions.pcss";
@import "../theme/utilities/variables/_typography.pcss";

/* panels */
@import "panels/_conditionals.pcss";
