/*
 * WordPress admin CSS
 *
 * This css files includes are loaded globally in the admin. Use this for all other admin css.
 *
 */

@import "../_variables.pcss";

/* panels */
@import "panels/_conditionals.pcss";
