/* -----------------------------------------------------------------------------
 *
 * Variables: Globals
 *
 * ----------------------------------------------------------------------------- */

:root {
	/* -----------------------------------------------------------------------------
	 * Colors
	 * ----------------------------------------------------------------------------- */

	--color-bgd: var(--color-white);
	--color-bgd-content: var(--color-white);
	--color-bgd-selection: var(--color-primary);
	--color-text-selection: var(--color-white);
}
