/* -----------------------------------------------------------------------------
 *
 * Globals
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *
 * Globals: HTML & Body
 *
 * ----------------------------------------------------------------------------- */

html {
	background: var(--color-bgd);
}

body {
	background: var(--color-bgd-content);
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}

/* -----------------------------------------------------------------------------
 *
 * Globals: Font & Color
 *
 * ----------------------------------------------------------------------------- */

body,
form,
button,
input,
select,
textarea {
	font: 400 normal 100% / 1.5 var(--font-family-base);
	color: var(--color-text);
}

/* -----------------------------------------------------------------------------
 *
 * Globals: Text Selection
 *
 * ----------------------------------------------------------------------------- */

::selection {
	background: var(--color-bgd-selection);
	color: var(--color-text-selection);
	text-shadow: none;
}
