
// -----------------------------------------------------------------------------
//
// Paragraph
//
// -----------------------------------------------------------------------------

p,
%body-content {
	font-size: $font-size-content-s;
    @include mq($mq-medium) {
        font-size: $font-size-content;
    }
}

// -----------------------------------------------------------------------------
//
// HR
//
// -----------------------------------------------------------------------------

hr {
	border-top: 1px solid $border;
}